<div class="question" *ngIf="!questionGroup.isHidden" [formGroup]="form">
    <span [innerHTML]="questionGroup.label"> </span>
    <ng-container *ngFor="let question of questionGroup.questions" [ngSwitch]="question.controlType">
        <ng-container *ngSwitchCase="'dropdown'">
            <div class="question--input__select">
                {{ question.label }}
                <select [id]="question.key" [formControlName]="question.key" auto-scroll-to [isGroupCompleted]="questionGroup.isCompleted">
                    <option *ngIf="question.placeholder " value="">{{ question.placeholder }}</option>
                    <option *ngFor="let opt of question.relatedData" [value]="opt.key">{{opt.value}}</option>
                </select>
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="'multiselect'">
            <div class="question--input__info">
                {{ question.label }}
            </div>
            <ul class="checkbox-list" auto-scroll-to [isGroupCompleted]="questionGroup.isCompleted" limit-multi-select>
                <li *ngFor="let opt of question.relatedData">
                    <input [id]="opt.key" type="checkbox" aria-hidden="true" [formControlName]="question.key" (click)="storeSelectedCheckboxValues($event, opt.value, question)"/>
                    <label for="{{opt.key}}">{{opt.value}}</label>
                </li>
            </ul>
        </ng-container>
        <ng-container *ngSwitchDefault>
            <div class="question--input__text" *ngIf="!question.isHidden">
                {{ question.label }}
                <input [formControlName]="question.key"
                       [id]="question.key" [type]="question.controlType" placeholder="{{ question.placeholder }}" auto-scroll-to [isGroupCompleted]="questionGroup.isCompleted">
            </div>
        </ng-container>
    </ng-container>
    <div class="ok-btn-group hide">
        <button type="button" class="ok-btn" auto-scroll-to [isGroupCompleted]="questionGroup.isCompleted">{{ renderingData.okBtnText }}</button> <span [innerHTML]="renderingData.okBtnHelpText"> </span>
    </div>
    <div class="question--input__info" *ngIf="questionGroup.helpText">{{ questionGroup.helpText}}</div>
    <div class="question--input__error" *ngIf="questionGroup.isInvalid">{{ questionGroup.validationMessage }} </div>
</div>
