<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Integrated Security=SSPI;Data Source=.\SQLEXPRESS;Database=Vitality.Website.Core.8.1.160302" />
  <add name="master" connectionString="Integrated Security=SSPI;Data Source=.\SQLEXPRESS;Database=Vitality.Website.Master.8.1.160302" />
  <add name="web" connectionString="Integrated Security=SSPI;Data Source=.\SQLEXPRESS;Database=Vitality.Website.Web.8.1.160302" />
  <add name="analytics" connectionString="mongodb://localhost/analytics" />
  <add name="tracking.live" connectionString="mongodb://localhost/tracking_live" />
  <add name="tracking.history" connectionString="mongodb://localhost/tracking_history" />
  <add name="tracking.contact" connectionString="mongodb://localhost/tracking_contact" />
  <add name="reporting" connectionString="Integrated Security=SSPI;Data Source=.\SQLEXPRESS;Database=Vitality.Website.Analytics.8.1.160302" />
  <add name="wffm" connectionString="Integrated Security=SSPI;Data Source=.\SQLEXPRESS;Database=Sitecore_Wffm" />
</connectionStrings>
