<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Integrated Security=SSPI;Data Source=.\SQLEXPRESS;Database=VitalityWebsite_Core_8.1.151207" />
  <add name="master" connectionString="Integrated Security=SSPI;Data Source=.\SQLEXPRESS;Database=VitalityWebsite_Master_8.1.151207" />
  <add name="web" connectionString="Integrated Security=SSPI;Data Source=.\SQLEXPRESS;Database=VitalityWebsite_Web_8.1.151207" />
  <add name="analytics" connectionString="mongodb://localhost/analytics" />
  <add name="tracking.live" connectionString="mongodb://localhost/tracking_live" />
  <add name="tracking.history" connectionString="mongodb://localhost/tracking_history" />
  <add name="tracking.contact" connectionString="mongodb://localhost/tracking_contact" />
  <add name="reporting" connectionString="Integrated Security=SSPI;Data Source=.\SQLEXPRESS;Database=VitalityWebsite_Analytics_8.1.151207" />
</connectionStrings>
