<form [formGroup]="quoteApplyForm" (ngSubmit)="apply()" novalidate>
    <div class="question">
        {{ viewModel.NameLabel }}

        <select id="title" name="title" required formControlName="title">
            <option *ngFor="let salutation of viewModel.Salutations" [value]="salutation.Value">{{ salutation.Key }}</option>
        </select>
        <div class="question--input__text">
            <input type="text" id="firstName" name="firstName"  required formControlName="firstName" placeholder="{{viewModel.FirstNameLabel}}" />
        </div>

        <div class="question--input__text">
            <input type="text" id="lastName" name="lastName" required formControlName="lastName" placeholder="{{viewModel.LastNameLabel}}" />
        </div>
        <div [hidden]="(firstName.valid && lastName.valid) || (firstName.pristine  && lastName.pristine)" class="alert alert-danger">
            {{ viewModel.NameRequired }}
        </div>
    </div>

    <button type="submit" [disabled]="!quoteApplyForm.pristine" class="btn btn-primary">Apply</button>
</form>

<div [hidden]="!submitted">
    <h2>You will be submitting following values when development completed:</h2>
    {{quoteApplication}}
</div>
