<div *ngIf="vacancy">
	<h3>{{ vacancy.Jobtitle }}</h3>
	<ul>
		<li>Location: {{ vacancy.Joblocation }}</li>
		<li>Salary: {{ vacancy.JobSalary }}</li>
		<li>Closes on: {{ vacancy.ClosingDate }}</li>
	</ul>
	
	<div>
		<a href="{{ vacancy.Link }}" target="_blank">Apply for this job</a><br/>
		<a href="#" target="_blank">Share this job</a><br/>
	</div>

	<hr/>

	<div [innerHTML]="vacancy.Description"></div>
	
	<div>
		<a href="{{ vacancy.Link }}" target="_blank">Apply for this job</a><br/>
		<a href="#" target="_blank">Share this job</a><br/>
		<button (click)="goBack()">Back</button><br/>
	</div>	
</div>
