<h1>{{ title }}</h1>

<select (ngModelChange)="locationChanged($event)" [ngModel]="location">
	<option *ngFor="let loc of locations" [value]="loc">{{ loc }}</option>
</select>

<div *ngFor="let vacancy of filteredVacancies">
	<h3>{{ vacancy.Jobtitle }}</h3>
	<ul>
		<li>Location: {{ vacancy.Joblocation }}</li>
		<li>Salary: {{ vacancy.JobSalary }}</li>
		<li>Closes on: {{ vacancy.ClosingDate }}</li>
	</ul>
	<a [routerLink]="['/vacancies', vacancy.Advertid]">Find out more and apply</a>
	<!-- used if we want to display job details on same page -->
	<!--<button (click)="onSelect(vacancy)">SELECT</button>		-->
</div>

<!-- used if we want to display job details on same page -->
<div *ngIf="vacancy">
	<h2>
		{{vacancy.Jobtitle | uppercase}}
	</h2>
	<button (click)="gotoDetail()">View Details</button>
</div>       

