<div class="form">
    <form>
        <div class="form__field">
			<div *ngIf="vacancy">
				<div class="grid ">
					<div class="grid-col-12-12">
						<h3>{{ vacancy.JobTitle }}</h3>
					</div>
            	</div>				
            	<div class="grid ">
	                <div class="grid-col-9-12">
						<ul>
							<li>{{ viewModel.LocationText }} {{ vacancy.JobLocation }}</li>
							<li>{{ viewModel.SalaryText }} {{ vacancy.JobSalary }}</li>
                            <li *ngIf='vacancy.ClosingDate != "0001-01-01T00:00:00"'>{{ viewModel.VacancyClosesOn }} {{ vacancy.ClosingDate | date: 'dd/MM/yyyy' }}</li>
						</ul>
                	</div>
					<div class="grid-col-3-12">
						<div><a href="{{ vacancy.Link }}" target="_blank" class="box-button box-button--rounded box-button box-button--primary">{{ viewModel.ApplyForVacancyText}}</a></div>
    					<div><a href="{{ backToListingUrl }}" class="box-button box-button--rounded box-button--primary-inverse">{{ viewModel.BackToVacanciesListText }}</a></div>
					</div>
            	</div>
				<hr/>
				<div class="grid ">
					<div class="grid-col-12-12" [innerHTML]="vacancy.Description"></div>
            	</div>
				<div class="grid ">
	                <div class="grid-col-12-12">
						<div><a href="{{ vacancy.Link }}" target="_blank" class="box-button box-button--rounded box-button box-button--primary">{{ viewModel.ApplyForVacancyText }}</a></div>
    					<div><a href="{{ backToListingUrl }}" class="box-button box-button--rounded box-button--primary-inverse">{{ viewModel.BackToVacanciesListText }}</a></div>
                	</div>
            	</div>
			</div>
        </div>
    </form>
</div>
