@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Vitality.Website.Areas.Presales.ComponentTemplates.ContentCollection.MpuSection>

<div class="grid-no-gutters content-collection--module mpu">
    @using (BeginEditFrame("/sitecore/content/Applications/WebEdit/Edit Frame Buttons/Subitems", Model.Path, "Edit MPU Section"))
    {
        foreach (var imageLink in Model.ImageLinks)
        {
            using (BeginEditFrame("/sitecore/content/Applications/WebEdit/Edit Frame Buttons/Subitems", Model.Path))
            {
                using (BeginEditFrame(imageLink, "Edit Background image", item => item.Image))
                {
                    <div class="grid-col-6-12 no-pad lazyload" data-bg="@imageLink.Image.Src">
                    </div>
                }
            }
        }
    }
</div>
