@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Vitality.Website.Areas.Presales.ComponentTemplates.Generic.Content>

<div class="grid grid-col-12-12">
    <div>
        @Editable(Model, item => item.RichText)
    </div>
</div>
