@using Vitality.Website.Extensions.Views
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Vitality.Website.Areas.Presales.Models.Generic.Content>
<div class="grid">
    <div class="grid-col-12-12">
        @Editable(Model, item => item.RichText)
    </div>
</div>