@using AutoMapper
@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization
@using Vitality.Website.Areas.Presales.ComponentTemplates.PromotionSidebar;
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<PromotionSidebar>
@{
    var promotions = Model.Promotions;
}

@if (Sitecore.Context.PageMode.IsExperienceEditor)
{
    <div class="chat-window">
        <div class="chat-window--bubble">
            <div class="chat-window--bubble__avatar">
                <img src="/images/avatars.png" alt="User avatar" />
            </div>

            <div class="chat-window--bubble__content">
                Hello there!
            </div>
        </div>

        <div class="chat-window--bubble">
            <div class="chat-window--bubble__avatar">
                <img src="/images/avatars.png" alt="User avatar" />
            </div>

            <div class="chat-window--bubble__content">
                Need help? Call our friendly quote team.
                <a href="tel:03339208005">0333 920 8005</a>
                Want us to call you?
                <a href="#">Request a call back</a>
                Want to learn more about Vitality?
                <a href="#">Read our FAQs</a>
            </div>
        </div>

        <div class="chat-window--bubble">
            <div class="chat-window--bubble__avatar">
                <img src="/images/avatars.png" alt="User avatar" />
            </div>

            <div class="chat-window--bubble__content">
                Every Vitality member can get an Apple Watch from just <strong>£69*</strong>
                <a href="#">Learn more</a>
            </div>
        </div>
    </div>
}
else
{
    <div class="chat-window">
        @foreach (var promotion in promotions)
        {
            <div class="chat-window--bubble">
                <div class="chat-window--bubble__avatar">
                    <img src="/images/avatars.png" alt="User avatar" />
                </div>

                <div class="chat-window--bubble__content">
                    @Html.Raw(promotion.Content)
                </div>
            </div>
        }
    </div>
}
