<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net45" />
  <package id="Glass.Mapper.Sc" version="4.0.11.63" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Nancy" version="0.17.1" targetFramework="net45" />
  <package id="Nancy.Hosting.Aspnet" version="0.17.1" targetFramework="net45" />
  <package id="NWebsec" version="4.2.0" targetFramework="net45" />
  <package id="NWebsec.Core" version="1.5.0" targetFramework="net45" />
  <package id="NWebsec.Mvc" version="4.2.0" targetFramework="net45" />
  <package id="SimpleInjector" version="3.1.2" targetFramework="net45" />
  <package id="SimpleInjector.Integration.Web" version="3.1.2" targetFramework="net45" />
  <package id="SimpleInjector.Integration.Web.Mvc" version="3.1.2" targetFramework="net45" />
  <package id="Sitecore.Binaries" version="8.1.160302" targetFramework="net45" />
  <package id="Sitecore.Ship" version="0.4.0.150818" targetFramework="net45" />
  <package id="URL.Rewrite" version="1.8.0" targetFramework="net45" />
</packages>