<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <!-- Only enable secure cookies on the content delivery only servers. -->
    <httpCookies requireSSL="true"/>
  </system.web>

  <system.webServer>

    <handlers>
        <add name="CaptchaImage" verb="*" path="CaptchaImage.axd" type="Sitecore.Form.Core.Pipeline.RequestProcessor.CaptchaResolver, Sitecore.Forms.Core" xdt:Transform="Insert"/>
        <add name="CaptchaAudio" verb="*" path="CaptchaAudio.axd" type="Sitecore.Form.Core.Pipeline.RequestProcessor.CaptchaResolver, Sitecore.Forms.Core" xdt:Transform="Insert"/>
    </handlers>

    <rewrite>
      <rules>
        <clear />        
        <rule name="Lowercase" enabled="true" stopProcessing="true" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <rule name="Add trailing slash" enabled="true" stopProcessing="true" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <rule name="Hide folders" enabled="true" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      </rules>
    </rewrite>
  </system.webServer>

  <nwebsec>
    <httpHeaderSecurityModule xmlns="http://nwebsec.com/HttpHeaderSecurityModuleConfig.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <redirectValidation enabled="true">
        <add allowedDestination="https://#{Vitality.Website.AdvisersHostName}" xdt:Transform="Insert"/>
        <add allowedDestination="https://#{Vitality.Website.PresalesHostName}" xdt:Transform="Insert"/>
      </redirectValidation>

      <securityHttpHeaders>
        <content-Security-Policy enabled="true">
          <script-src xdt:Transform="SetAttributes(unsafeEval)" unsafeEval="false" />
        </content-Security-Policy>
      </securityHttpHeaders>
    </httpHeaderSecurityModule>
  </nwebsec>
</configuration>
