<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <system.webServer>
        <!--
        <modules runAllManagedModulesForAllRequests="true">
            <add name="dynaTrace IIS Webserver Agent 6.2" preCondition="bitness32" xdt:Transform="Insert" />
            <add name="dynaTrace IIS Webserver Agent 6.2 (x64)" preCondition="bitness64" xdt:Transform="Insert" />
        </modules>
        -->

        <rewrite>
            <rules>
                <rule name="Add www" enabled="true" stopProcessing="true" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
            </rules>
        </rewrite>

    </system.webServer>
</configuration>
