<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="master" xdt:Transform="Remove" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.webServer>
    <rewrite>
      <rules>
        <clear />
        <rule name="Add www" enabled="true" stopProcessing="true" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <rule name="LowerCaseRule1" enabled="true" stopProcessing="true" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <rule name="AddTrailingSlashRule1" enabled="true" stopProcessing="true" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <rule name="Hide folders" enabled="true" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      </rules>
    </rewrite>
  </system.webServer>
  <nwebsec>
    <httpHeaderSecurityModule xmlns="http://nwebsec.com/HttpHeaderSecurityModuleConfig.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <redirectValidation enabled="true">
        <add allowedDestination="https://#{Vitality.Website.HostName}" xdt:Transform="Insert"/>
      </redirectValidation>
      <securityHttpHeaders>
        <content-Security-Policy enabled="true">
          <script-src xdt:Transform="SetAttributes(unsafeEval)" unsafeEval="false" />
        </content-Security-Policy>
      </securityHttpHeaders>
    </httpHeaderSecurityModule>
  </nwebsec>
</configuration>