<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Vitality Boilerplate | Components | Quote Footer: One Button</title>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, width=device-width, maximum-scale=1, user-scalable=0">

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Hind+Siliguri:300,500,600" />
    <link rel="stylesheet" type="text/css" href="/bower_components/prism/themes/prism.css" />
    <link rel="stylesheet" type="text/css" href="/bower_components/prism/plugins/line-numbers/prism-line-numbers.css" />
    <link rel="stylesheet" type="text/css" href="/css/app.css" />
    <link rel="stylesheet" type="text/css" href="/css/boilerplate.css" />
    
    <style>
        section {
            background: white;
            padding-bottom: 30px;
        }
    </style>

    <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="test-background" >
    <main tabindex="-1" role="main">
        <section class="vertical-flush">
            <h1>Quote Footer: One Button</h1>
            <h2>Description</h2>

            <p>
                The quote footer is used to constantly provide quick access to quote journeys.
            </p>

            <h3>Demo</h3>

            <p>
                See the footer attached to the bottom of the screen!
            </p>

            <div class="example">
                <div class="quote-footer">
                    <h6>GET A QUOTE</h6>

                    <div class="quote-footer--body match-width">
                        <a href="#" class="button-cta">
                            HEALTH INSURANCE QUOTE
                        </a>
                    </div>
                </div>
            </div>

            <h3>Markup</h3>

            <div class="vertical-flush">
                <pre>
                    <code class="language-markup line-numbers"></code>
                </pre>
            </div>
        </section>
    </main>

    <script type="text/javascript" src="/js/modernizr-custom.min.js"></script>
    <script type="text/javascript" src="/src/js/require.js" data-main="/js/vitality-boilerplate" async></script>

    <script type="text/javascript" src="/js/boilerplate.js"></script>
    <script type="text/javascript" src="/bower_components/prism/prism.js"></script>
    <script type="text/javascript" src="/bower_components/prism/plugins/line-numbers/prism-line-numbers.min.js"></script>
    <script type="text/javascript" src="/bower_components/prism/plugins/normalize-whitespace/prism-normalize-whitespace.js"></script>
</body>
</html>
