<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="codecracker.CSharp" version="1.0.1" targetFramework="net45" developmentDependency="true" />
  <package id="Microsoft.Net.Compilers" version="2.0.1" targetFramework="net45" developmentDependency="true" />
  <package id="RestSharp" version="105.2.3" targetFramework="net45" />
  <package id="Sitecore.Binaries" version="8.2.161221.1" targetFramework="net452" />
  <package id="SonarAnalyzer.CSharp" version="1.10.0" targetFramework="net45" developmentDependency="true" />
  <package id="Vitality.Core" version="1.0.0" targetFramework="net45" />
  <package id="Vitality.Mvc" version="1.0.0" targetFramework="net45" />
</packages>