<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Vitality Boilerplate | Components | Summary</title>

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Hind+Siliguri:300,500,600" />
    <link rel="stylesheet" type="text/css" href="/bower_components/prism/themes/prism.css" />
    <link rel="stylesheet" type="text/css" href="/bower_components/prism/plugins/line-numbers/prism-line-numbers.css" />
    <link rel="stylesheet" type="text/css" href="/css/app.css" />
    <link rel="stylesheet" type="text/css" href="/css/boilerplate.css" />

    <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <main tabindex="-1" role="main">
        <section class="vertical-flush">
            <div>
                <h1>Summary</h1>
                <h2>Description</h2>

                <p>
                    The Summary component is comprised of two components:
                    <a href="summary-left.html">Summary Left</a> and
                    <a href="summary-right.html">Summary Right</a>.
                </p>

                <div class="example">
                    <div class="summary grid">
                        <div class="summary-left grid-col-6-12">
                            <h6>Core Cover</h6>

                            <h1>Market-leading Health Insurance</h1>

                            <p>
                                This includes in-patient and day patient treatement.
                                If you get ill and need treatment, we make sure you get the
                                best possible medical care - and we give you access to the
                                latest drugs and treatments that are covered on your plan.
                            </p>

                            <div>
                                <h4 class="text-detail-block__heading">What it is</h4>

                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Phasellus lobortis quis leo id blandit. Donec eget felis non mauris
                                    ultricies vestibulum. Donec molestie euismod facilisis. Fusce auctor
                                    lacus a purus blandit lobortis. Maecenas pharetra magna sit amet
                                    arcu accumsan, vel suscipit lacus aliquet. Integer at imperdiet dolor.
                                </p>

                                <h4 class="text-detail-block__heading">How it helps</h4>

                                <p>
                                    Etiam sollicitudin nulla id lectus congue laoreet. Nulla iaculis nunc
                                    a ipsum sodales, non eleifend lectus dictum. Quisque placerat bibendum
                                    ex id mattis. Aenean hendrerit lacus non nisi faucibus, sed bibendum
                                    quam condimentum.
                                </p>

                                <p>
                                    Suspendisse ornare aliquam fermentum. Aliquam id ante id lectus vestibulum
                                    ultricies nec et orci. Vivamus non laoreet metus, in faucibus mi.
                                    Maecenas fermentum, ligula tempor tempor feugiat, lectus est
                                    scelerisque metus, non hendrerit ex ipsum nec nisi.
                                </p>
                            </div>
                        </div>

                        <div class="summary-right feature-block-gradient__image background-position-top-middle text-light grid-col-6-12"
                             style="background-image: url('/img/examples/shoes.jpg');">
                            <div class="title">
                                <h4>CORE COVER INCLUDES:</h4>
                            </div>

                            <div class="content">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Phasellus lobortis quis leo id blandit.
                                </p>

                                <ul class="iconlist iconlist--check iconlist--full">
                                    <li class="iconlist__item">
                                        <h6>£100 towards prescriptions and minor diagnostic tests</h6>

                                        <p>
                                            Donec eget felis non mauris ultricies vestibulum.
                                            Donec molestie euismod facilisis.
                                            Fusce auctor lacus a purus blandit lobortis.
                                        </p>
                                    </li>

                                    <li class="iconlist__item">
                                        <h6>£100 towards prescriptions and minor diagnostic tests</h6>

                                        <p>
                                            Maecenas pharetra magna sit amet arcu accumsan, vel suscipit lacus aliquet.
                                            Integer at imperdiet dolor.
                                        </p>
                                    </li>

                                    <li class="iconlist__item">
                                        <h6>In-patient and Day-patient MRI, CT and PET scans</h6>

                                        <p>
                                            Nulla iaculis nunc a ipsum sodales, non eleifend lectus dictum.
                                            Quisque placerat bibendum ex id mattis.
                                        </p>
                                    </li>

                                    <li class="iconlist__item">
                                        <h6>Extended Cancer Cover</h6>

                                        <p>
                                            Aenean hendrerit lacus non nisi faucibus, sed bibendum quam condimentum.
                                            Suspendisse ornare aliquam fermentum.
                                        </p>
                                    </li>

                                    <li class="iconlist__item">
                                        <h6>Home care</h6>

                                        <p>
                                            Aliquam id ante id lectus vestibulum
                                            ultricies nec et orci. Vivamus non laoreet metus, in faucibus mi.
                                        </p>
                                    </li>
                                </ul>

                                <ul class="iconlist iconlist--check">
                                    <li class="iconlist__item">Childbirth Cash Benefit</li>
                                    <li class="iconlist__item">Private Ambulance</li>
                                    <li class="iconlist__item">Pregnancy Complications</li>
                                    <li class="iconlist__item">Assistance at Home</li>
                                    <li class="iconlist__item">Oral Surgery</li>
                                    <li class="iconlist__item">Vitality GP</li>
                                </ul>

                                <div class="cta">
                                    <a href="#" class="box-button box-button--light box-button--rounded">
                                        View all details
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <h2>Markup</h2>

                    <pre>
                        <code class="language-markup line-numbers"></code>
                    </pre>
                </div>
            </div>
        </section>
    </main>

    <script>function cdnizerLoad(u) { document.write('<scr' + 'ipt src="' + encodeURIComponent(u) + '"></scr' + 'ipt>'); }</script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script>    if (!(jQuery)) cdnizerLoad("/bower_components/jquery/dist/jquery.min.js");</script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script>if (!($.datepicker)) cdnizerLoad("/bower_components/jqueryui/jquery-ui.min.js");</script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.smartresize/0.1/jquery.debouncedresize.js"></script>
    <script>if (!($.event.special.debouncedresize)) cdnizerLoad("/bower_components/jquery.smartresize/jquery.smartresize.js");</script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js"></script>
    <script>if (!($(window).matchHeight)) cdnizerLoad("/bower_components/jquery-match-height/jquery.matchHeight-min.js");</script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>
    <script>if (!(FastClick)) cdnizerLoad("/bower_components/fastclick/lib/fastclick.js");</script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script>if (!(WOW)) cdnizerLoad("/bower_components/wowjs/dist/wow.min.js");</script>

    <script type="text/javascript" src="/js/modernizr-custom.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>

    <script type="text/javascript" src="/js/boilerplate.js"></script>
    <script type="text/javascript" src="/bower_components/prism/prism.js"></script>
    <script type="text/javascript" src="/bower_components/prism/plugins/line-numbers/prism-line-numbers.min.js"></script>
    <script type="text/javascript" src="/bower_components/prism/plugins/normalize-whitespace/prism-normalize-whitespace.js"></script>
</body>
</html>
