$breakpoint-small: 33.6875em;
$breakpoint-large: 56.25em;

$darken: rgba(0, 0, 0, 0.15);

$black: #000;
$grey: #666;
$white: #fff;

$primary-colour: #f41c5e;
$tertiary-colour: #6e527e;

$primary-background-colour: #eaeff4;

$padding-thin: 10px;
$padding-normal: $padding-thin * 2;
$padding-thick: $padding-thin * 4;

$wide-padding: 3em;

@mixin text-centre() {
    text-align: center;
}

@mixin wide-padding() {
    padding-left: $wide-padding;
    padding-right: $wide-padding;
}

@mixin scale-and-centre($scale) {
    $scale-centre: $scale / 2;
    left: $scale-centre;
    max-height: $scale;
    max-width: $scale;
    position: absolute;
    top: $scale-centre;
    transform: translateX(-$scale-centre) translateY(-$scale-centre);
}
