$small-and-up: 33.6875em;

$darken: rgba(0, 0, 0, 0.15);

$black: #000;

$primary-colour: #f41c5e;
$secondary-colour: #5bb6b1;
$tertiary-colour: #6e527e;
$dark-colour: #4f738a;
$primary-background-colour: #eaeff4;

$padding-thin: 10px;
$padding-normal: $padding-thin * 2;
$padding-thick: $padding-thin * 4;

$wide-padding: 3em;

@mixin text-centre() {
    text-align: center;
}

@mixin wide-padding() {
    padding-left: $wide-padding;
    padding-right: $wide-padding;
}

