// This simply augments the app SASS with functionality that aids development.

// If you want to display the currently active breakpoint in the top
// right corner of your site during development, add the breakpoints
// to this list, ordered by width, e.g. (mobile, tablet, desktop).
$mq-show-breakpoints: (mobile, mobile-landscape, tablet, desktop, wide, max);

@import "vitality-boilerplate";

@import "boilerplate/boilerplate";
@import "boilerplate/swatches";
