@import "defaults";
@import "base/vars";

body {
    &:before {
        background-color: rebeccapurple;
        bottom: 0;
        color: $white;
        content: "MQ: < Smaller";
        display: block;
        font-size: 0.75em;
        opacity: 0.7;
        padding: 0.5em 1em;
        position: fixed;
        right: 0;
        z-index: 999;

        @media only screen and (min-width : $breakpoint-smaller) {
            content: "MQ: Smaller";
            background-color: red;
        }

        @media only screen and (min-width : $breakpoint-small) {
            content: "MQ: Small";
            background-color: indigo;
        }

        @media only screen and (min-width : $breakpoint-medium) {
            content: "MQ: Medium";
            background-color: blue;
        }

        @media only screen and (min-width : $breakpoint-large) {
            content: "MQ: Large";
            background-color: green;
        }

        @media only screen and (min-width : $breakpoint-larger) {
            content: "MQ: Larger";
            background-color: purple;
        }

        @media only screen and (min-width : $breakpoint-massive) {
            content: "MQ: Massive";
            background-color: orange;
        }

        @media only screen and (min-width : $breakpoint-max) {
            content: "MQ: Max";
            background-color: seagreen;
        }
    }
}
