@import "defaults";

@media only screen and (max-width: $small-and-up) {
    .cards-stacked {
        // Must force an override here,
        // as the background imageis set on the element.
        background: $primary-background-colour !important;
        color: $black;

        .spotlight__heading, .spotlight__intro {
            color: $black;
        }
    }
}
