@import "defaults";

.product-hero {
    h1 {
        margin-top: 0;
    }

    .button-cta {
        color: $grey;
    }

    .feature-block__image {
        background: $primary-colour;
        background-repeat: no-repeat;
    }

    .lead-in {
        height: 70px;
    }
}
