@import "defaults";

.product-hero {
    h1 {
        margin-top: 0;
    }

    .button-cta {
        color: $grey;
    }

    .feature-block__image {
        background: $primary-colour;
    }

    @media only screen and (min-width: $breakpoint-large) {
        .feature-block__image img {
            @include scale-and-centre(100%);
        }
    }

    .lead-in {
        height: 70px;
    }
}
