@import "defaults";

.rewards_leader {
    @include text-centre;
    border: $padding-normal solid $darken;
    box-sizing: border-box;
    padding: $padding-thick;

    .feature-block__content {
        max-width: 100%;
    }

    .feature-block__image-list {
        a {
            color: transparent;
        }

        div {
            > img, > a {
                &:not(:last-child) {
                    margin-right: $padding-thick;
                }
            }
        }
    }
}
    
.feature-block--primary {
    background: $primary-colour;
}

.feature-block--secondary {
    background: $secondary-colour;
}

.feature-block--tertiary {
    background: $tertiary-colour;
}

.feature-block--dark {
    background: $dark-colour;
}
