@import "defaults";

.rewards_leader {
    @include text-centre;
    background: $tertiary-colour;
    border: $padding-normal solid $darken;
    box-sizing: border-box;
    padding: $padding-thick;

    .feature-block__image-list {
        a {
            color: transparent;
        }

        div {
            > img, > a {
                &:not(:last-child) {
                    margin-right: $padding-thick;
                }
            }
        }
    }
}
