@import "defaults";
@import "base/vars";
@import "generated/sprite";
@import "generated/svg-sprite";

$_border-radius: 5px;
$_padding: 3%;

@media only screen and (min-width: $breakpoint-medium) {
    .summary.grid .grid-col-6-12 {
        margin-right: 0;
        width: $width--half;
    }
}

.summary-left, .summary-right {
    font-size: 90%;
    line-height: 1.5;
    padding: $_padding;
}

.summary-right {
    &.feature-block-gradient__image {
        position: relative;
    }

    .title h4, .content {
        background: $darken-heavy;
        margin: 0;
    }

    .title {
        @include text-centre;

        h4 {
            border-radius: $_border-radius $_border-radius 0 0;
            display: inline-block;
            font-size: 1.7rem;
            padding: $_padding ($_padding + 1);
        }
    }

    .content {
        border-radius: $_border-radius;
        padding: $_padding;

        p {
            margin: 0;

            &:first-child {
                padding-bottom: $_padding;
            }
        }

        h6 {
            font-weight: 600;
            margin: 0;
        }

        ul {
            margin: 0;
        }

        .iconlist__item {
            $_padding-abs: 10px;
            border-top: $dashed-border;
            padding: $_padding-abs;
            padding-left: $_padding-abs * 3;

            &:before {
                @include retina-sprite($sprite-tick-circle-teal-group);
                top: 12px;
            }
        }

        .iconlist--full .iconlist__item {
            padding-right: 0;
        }

        @media only screen and (min-width: $breakpoint-medium) {
            ul:not(.iconlist--full) {
                $gap: 2%;

                .iconlist__item {
                    width: $width--half - $gap;

                    &:nth-child(odd) {
                        margin-right: $gap * 2;
                    }
                }
            }
        }

        .cta {
            @include text-centre;
            padding-top: $_padding;
            
            a {
                display: inline-block;
                width: $width--near-max;
            }
        }
    }
}
