@import "defaults";
@import "base/vars";
@import 'generated/sprite';
@import 'generated/svg-sprite';

$_padding: 3%;

@media only screen and (min-width: $breakpoint-medium) {
    .summary.grid .grid-col-6-12 {
        margin-right: 0;
        width: $width--half;
    }
}

.summary-left, .summary-right {
    font-size: 90%;
    line-height: 1.2;
    padding: $_padding;
}

.summary-right {
    &.feature-block-gradient__image {
        position: relative;
    }

    .title h4, .content {
        background: $darken-heavy;
        margin: 0;
    }

    .title {
        @include text-centre;

        h4 {
            display: inline-block;
            padding: $pad $pad--large;
        }
    }

    .content {
        padding: $_padding;

        p {
            margin: 0;

            &:first-child {
                padding-bottom: $_padding;
            }
        }

        h6 {
            margin: 0;
        }

        ul {
            margin: 0;
        }

        .iconlist__item {
            border-top: $dashed-border;
            padding-bottom: $_padding;
            padding-top: $_padding;

            &:before {
                top: 12px;
                @include retina-sprite($sprite-tick-circle-teal-group);
            }
        }

        .iconlist--full .iconlist__item {
            padding-right: 0;
        }

        @media only screen and (min-width: $breakpoint-medium) {
            ul:not(.iconlist--full) {
                $gap: 2%;

                .iconlist__item {
                    width: $width--half - $gap;

                    &:nth-child(odd) {
                        margin-right: $gap * 2;
                    }
                }
            }
        }

        .cta {
            @include text-centre;
            
            a {
                display: inline-block;
                width: $width--near-max;
            }
        }
    }
}
