// Need to import these again here to keep the compiler happy.
@import "generated/breakpoints";
@import "../../bower_components/sass-mq/mq";

// Declare shared values for the relative positions.
$bg-top: 15%;
$bg-middle: 50%;
$bg-left: $bg-top;
$bg-right: 85%;
$bg-bottom: $bg-right;

// Put them into maps for looping.
// Relative.
$background-positions-horizontal: (
    left: $bg-left,
    middle: $bg-middle,
    right: $bg-right
);

$background-positions-vertical: (
    bottom: $bg-bottom,
    middle: $bg-middle,
    top: $bg-top
);

// Absolute.
$background-positions-horizontal-abs: (
    left: left,
    middle: center,
    right: right
);

$background-positions-vertical-abs: (
    bottom: bottom,
    middle: center,
    top: top
);

// Loop through each horizontal and vertical relative position and create classes of the mix.
@each $vertical-key, $vertical-value in $background-positions-vertical {
    @each $horizontal-key, $horizontal-value in $background-positions-horizontal {
        .background-position-#{$vertical-key}-#{$horizontal-key} {
            background-position: $horizontal-value $vertical-value !important;
        }
    }
}

// Do the same for absolute values.
@each $vertical-key, $vertical-value in $background-positions-vertical-abs {
    @each $horizontal-key, $horizontal-value in $background-positions-horizontal-abs {
        .background-position-abs-#{$vertical-key}-#{$horizontal-key} {
            background-position: $horizontal-value $vertical-value !important;
        }
    }
}

// Provide just "middle" alternative for "middle-middle" classes!
.background-position-middle {
    background-position: $bg-middle !important;
}

.background-position-abs-middle {
    background-position: center !important;
}
