@mixin triangle-callout--central-down($tri-color: currentColor, $tri-width: 30px, $tri-height: 22px) {
    &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: -$tri-height;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 0;
        height: 0;
        border-left: #{$tri-width / 2} solid transparent;
        border-right: #{$tri-width / 2} solid transparent;
        border-top: $tri-height solid $tri-color;
    }
}

@mixin triangle-callout--central-top($tri-color: currentColor, $tri-width: 30px, $tri-height: 22px) {
    &:after {
        border-left: #{$tri-width / 2} solid transparent;
        border-right: #{$tri-width / 2} solid transparent;
        border-top: $tri-height solid $tri-color;
        content: "";
        display: block;
        height: 0;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        top: 0;
        width: 0;
    }
}

@mixin triangle-callout--left-up($tri-color: currentColor, $tri-width: 40px, $tri-height: 30px) {
    &:before {
        content: "";
        display: block;
        position: absolute;
        top: -$tri-height;
        left: 10%;
        width: 0;
        height: 0;
        border-top: $tri-height solid transparent;
        border-right: $tri-width solid $tri-color;
    }
}
