// Need to import these again here to keep the compiler happy.
@import "generated/breakpoints";
@import "../../bower_components/sass-mq/mq";

// Utils
//

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

.no-widows {
    white-space: nowrap;
}

.fr {
    float: right;
}

.fl {
    float: left;
}

.clear {
    clear: both;
}

.pinch {
    margin-left: auto;
    margin-right: auto;
    max-width: $max-width;
}

.burst {
    margin: 0 #{-$pad};
    width: calc(100% + #{$pad + $pad});

    @include mq($from: tablet) {
        margin: 0 #{-$pad--large};
        width: calc(100% + #{$pad--large + $pad--large});
    }
}

.ellipses {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.break-words {
    //These are technically the same, but use both
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    // This is the dangerous one in WebKit, as it breaks things wherever
    word-break: break-all;
    // Instead use this non-standard one:
    word-break: break-word;
    // Adds a hyphen where the word breaks, if supported (No Blink)
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.non-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.non-button {
    background: none;
    border: 0;
    outline: 0;
}

.full-screen {
    @extend .burst;
    min-height: 700px;
    min-height: 100vh;
}

.hide-text {
    text-indent: -9999px;
    overflow: hidden;
    text-align: left !important;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-light * {
    color: $white;
}

.text-dark * {
    color: $heading-color;
}

.coverlink {
    > a {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.show-borders > * {
    border: 1px solid $black;
}

// Hide at various sizes.
.mobile-and-up {
    @include mq($until: mobile) {
        display: none;
    }
}

.mobile-landscape-and-up {
    @include mq($until: mobile-landscape) {
        display: none;
    }
}

.tablet-and-up {
    @include mq($until: tablet) {
        display: none;
    }
}

.desktop-and-up {
    @include mq($until: desktop) {
        display: none;
    }
}

.wide-and-up {
    @include mq($until: wide) {
        display: none;
    }
}

.max-and-up {
    @include mq($until: max) {
        display: none;
    }
}

.mobile-less-than {
    @include mq($from: mobile) {
        display: none;
    }
}

.mobile-landscape-less-than {
    @include mq($from: mobile-landscape) {
        display: none;
    }
}

.tablet-less-than {
    @include mq($from: tablet) {
        display: none;
    }
}

.desktop-less-than {
    @include mq($from: desktop) {
        display: none;
    }
}

.wide-less-than {
    @include mq($from: wide) {
        display: none;
    }
}

.max-less-than {
    @include mq($from: max) {
        display: none;
    }
}


// Background positions.
$bg-top: 15%;
$bg-middle: 50%;
$bg-left: 15%;
$bg-right: 85%;
$bg-bottom: 85%;

// Relative.
.background-position-top-left {
    background-position: $bg-left $bg-top !important;
}

.background-position-top-middle {
    background-position: $bg-middle $bg-top !important;
}

.background-position-top-right {
    background-position: $bg-right $bg-top !important;
}

.background-position-middle-left {
    background-position: $bg-left $bg-middle !important;
}

.background-position-middle {
    background-position: $bg-middle !important;
}

.background-position-middle-right {
    background-position: $bg-right $bg-middle !important;
}

.background-position-bottom-left {
    background-position: $bg-left $bg-bottom !important;
}

.background-position-bottom-middle {
    background-position: $bg-middle $bg-bottom !important;
}

.background-position-bottom-right {
    background-position: $bg-right $bg-bottom !important;
}

// Absolute.
.background-position-abs-top-left {
    background-position: top left !important;
}

.background-position-abs-top-middle {
    background-position: top center !important;
}

.background-position-abs-top-right {
    background-position: top right !important;
}

.background-position-abs-middle-left {
    background-position: center left !important;
}

.background-position-abs-middle {
    background-position: center !important;
}

.background-position-abs-middle-right {
    background-position: center right !important;
}

.background-position-abs-bottom-left {
    background-position: bottom left !important;
}

.background-position-abs-bottom-middle {
    background-position: bottom center !important;
}

.background-position-abs-bottom-right {
    background-position: bottom right !important;
}
