
// Utils
//

.clearfix:before,
.clearfix:after {
  display: table;
  content: '';
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.no-widows {
  white-space: nowrap;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.clear {
  clear: both;
}

.pinch {
  margin-left: auto;
  margin-right: auto;
  max-width: $max-width;
}

.burst {
  margin: 0 #{-$pad};
  width: calc(100% + #{$pad + $pad});

  @media only screen and (min-width : $breakpoint-medium){
    margin: 0 #{-$pad--large};
    width: calc(100% + #{$pad--large + $pad--large});
  }
}

.ellipses {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.break-words {
  //These are technically the same, but use both
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  // This is the dangerous one in WebKit, as it breaks things wherever
  word-break: break-all;
  // Instead use this non-standard one:
  word-break: break-word;

  // Adds a hyphen where the word breaks, if supported (No Blink)
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.non-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.non-button {
  background: none;
  border: 0;
  outline: 0;
}

.full-screen {
  @extend .burst;
  min-height: 700px;
  min-height: 100vh;
}

.hide-text {
  text-indent: -9999px;
  overflow: hidden;
  text-align: left !important;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-light * {
  color: $white;
}

.text-dark * {
  color: $heading-color;
}

.coverlink {
  > a {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.show-borders > * {
  border: 1px solid $black;
}

//
//  Hide at various size helpers
//
.smaller-and-up {
  @media only screen and (max-width : $breakpoint-under-smaller){
    display: none;
  }
}

.small-and-up {
  @media only screen and (max-width : $breakpoint-under-small){
    display: none;
  }
}

.medium-and-up {
  @media only screen and (max-width : $breakpoint-under-medium){
    display: none;
  }
}

.large-and-up {
  @media only screen and (max-width : $breakpoint-under-large){
    display: none;
  }
}

.larger-and-up {
  @media only screen and (max-width : $breakpoint-under-larger){
    display: none;
  }
}

.massive-and-up {
  @media only screen and (max-width : $breakpoint-under-massive){
    display: none;
  }
}

.max-and-up {
  @media only screen and (max-width : $breakpoint-max){
    display: none;
  }
}

.smaller-less-than {
  @media only screen and (min-width : $breakpoint-smaller){
    display: none;
  }
}

.small-less-than {
  @media only screen and (min-width : $breakpoint-small){
    display: none;
  }
}

.medium-less-than {
  @media only screen and (min-width : $breakpoint-medium){
    display: none;
  }
}

.large-less-than {
  @media only screen and (min-width : $breakpoint-large){
    display: none;
  }
}

.larger-less-than {
  @media only screen and (min-width : $breakpoint-larger){
    display: none;
  }
}

.massive-less-than {
  @media only screen and (min-width : $breakpoint-massive){
    display: none;
  }
}

.max-less-than {
  @media only screen and (min-width : $breakpoint-max){
    display: none;
  }
}




$bg-top:15%;
$bg-middle:50%;
$bg-left:15%;
$bg-right:85%;
$bg-bottom:85%;

.background-position-top-left {
  background-position: $bg-left $bg-top !important;
}

.background-position-top-middle {
  background-position: $bg-middle $bg-top !important;
}

.background-position-top-right {
  background-position: $bg-right $bg-top !important;
}

.background-position-middle-left {
  background-position: $bg-left $bg-middle !important;
}

.background-position-middle {
  background-position: $bg-middle !important;
}

.background-position-middle-right {
  background-position: $bg-right $bg-middle !important;
}

.background-position-bottom-left {
  background-position: $bg-left $bg-bottom !important;
}

.background-position-bottom-middle {
  background-position: $bg-middle $bg-bottom !important;
}

.background-position-bottom-right {
  background-position: $bg-right $bg-bottom !important;
}



.background-position-abs-top-left {
  background-position: top left !important;
}

.background-position-abs-top-middle {
  background-position: top center !important;
}

.background-position-abs-top-right {
  background-position: top right !important;
}

.background-position-abs-middle-left {
  background-position: center left !important;
}

.background-position-abs-middle {
  background-position: center !important;
}

.background-position-abs-middle-right {
  background-position: center right !important;
}

.background-position-abs-bottom-left {
  background-position: bottom left !important;
}

.background-position-abs-bottom-middle {
  background-position: bottom center !important;
}

.background-position-abs-bottom-right {
  background-position: bottom right !important;
}


