// Need to import these again here to keep the compiler happy.
@import "generated/breakpoints";
@import "../../bower_components/sass-mq/mq";

// Utils
//

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

.no-widows {
    white-space: nowrap;
}

.fr {
    float: right;
}

.fl {
    float: left;
}

.clear {
    clear: both;
}

.pinch {
    margin-left: auto;
    margin-right: auto;
    max-width: $max-width;
}

.burst {
    margin: 0;
    width: 100%;

    @include mq($from: tablet) {
        margin: 0 #{-$pad--large};
        width: calc(100% + #{$pad--large + $pad--large});
    }
}

.ellipses {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.break-words {
    //These are technically the same, but use both
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    // This is the dangerous one in WebKit, as it breaks things wherever
    word-break: break-all;
    // Instead use this non-standard one:
    word-break: break-word;
    // Adds a hyphen where the word breaks, if supported (No Blink)
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.non-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.non-button {
    background: none;
    border: 0;
    outline: 0;
}

.full-screen {
    @extend .burst;
    min-height: 700px;
    min-height: 100vh;
}

.hide-text {
    text-indent: -9999px;
    overflow: hidden;
    text-align: left !important;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-light * {
    color: $white;
}

.text-dark * {
    color: $heading-color;
}

.coverlink {
    > a {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.show-borders > * {
    border: 1px solid $black;
}

// Hide at various sizes.
// Loop over each breakpoints and create less than or greater than hider classes.
@each $breakpoint-name, $breakpoint-value in $mq-breakpoints {
    .#{$breakpoint-name}-less-than {
        @include mq($from: $breakpoint-name) {
            display: none !important;
        }
    }

    .#{$breakpoint-name}-and-up {
        @include mq($until: $breakpoint-name) {
            display: none !important;
        }
    }
}
