<?xml version="1.0"?>
  <httpHeaderSecurityModule xmlns="http://nwebsec.com/HttpHeaderSecurityModuleConfig.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
    <securityHttpHeaders>
      <x-Frame-Options policy="SameOrigin"/>
      <strict-Transport-Security max-age="365" upgradeInsecureRequests="true"/>
      <x-Content-Type-Options enabled="true" />
      <x-Download-Options enabled="false"/>
      <x-XSS-Protection policy="FilterEnabled" blockMode="true"/>

      <content-Security-Policy enabled="true">
        <upgrade-insecure-requests enabled="true"  />
        <script-src self="true" unsafeEval="true" unsafeInline="true">
          <add source="cdnjs.cloudflare.com" />
          <add source="cdn.jsdelivr.net" />
          <add source="cdn.vitality.co.uk" />
          <add source="*.cloudfront.net"/>
          <add source="www.googletagmanager.com"/>
        </script-src>

        <style-src self="true" unsafeInline="true">
          <add source="cdnjs.cloudflare.com" />
          <add source="fonts.googleapis.com" />
          <add source="fonts.gstatic.com" />
          <add source="cdn.jsdelivr.net" />
          <add source="cdn.vitality.co.uk" />
        </style-src>

        <img-src self="true">
          <add source="cdn.vitality.co.uk" />
        </img-src>

        <object-src self="true">
          <add source="cdn.vitality.co.uk" />
        </object-src>

        <media-src self="true">
          <add source="cdn.vitality.co.uk" />
        </media-src>

        <frame-src self="true">
          <add source="sdn.sitecore.net" />
          <add source="vitality.co.uk" />
        </frame-src>

        <font-src self="true">
          <add source="fonts.googleapis.com" />
          <add source="fonts.gstatic.com" />
          <add source="cdn.vitality.co.uk" />
        </font-src>

        <frame-ancestors self="true">
          <add source="https://vitality-portal.1stmd.com" />
          <add source="vitality.co.uk" />
        </frame-ancestors>

        <connect-src self="true">
          <add source="pong.qubitproducts.com"/>
        </connect-src>
        <report-uri enableBuiltinHandler="true"/>
      </content-Security-Policy>
    </securityHttpHeaders>
  </httpHeaderSecurityModule>