<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <sites>
      <site patch:before="site[@name='website']"
            name="presales"
            hostName="presales.vitality.co.uk"
            scheme="http"
            notFoundItem="not-found"
            enableTracking="true"
            virtualFolder="/"
            physicalFolder="/"
            rootPath="/sitecore/content/presales"
            startItem="/home"
            database="web"
            domain="extranet"
            allowDebug="true"
            cacheHtml="false"
            filteredItemsCacheSize="10MB"
            enablePreview="true"
            enableWebEdit="true"
            enableDebugger="true"
            disableClientData="false"
            formsRoot="{196C436A-12F7-4E2E-A9E6-F839BD6AFA60}"/>
     <site patch:before="site[@name='website']"
           name="advisers"
           hostName="advisers.vitality.co.uk"
           scheme="http"
           notFoundItem="not-found"
           enableTracking="true"
           virtualFolder="/"
           physicalFolder="/"
           rootPath="/sitecore/content/advisers"
           startItem="/home"
           database="web"
           domain="extranet"
           allowDebug="true"
           cacheHtml="false"
           filteredItemsCacheSize="10MB"
           enablePreview="true"
           enableWebEdit="true"
           enableDebugger="true"
           disableClientData="false"
           formsRoot="{187A5B66-1229-4DBD-BC24-A965D6554249}"/>
    <site patch:before="site[@name='website']"
          name="health"
          hostName="health.vitality.co.uk"
          scheme="http"
          notFoundItem="not-found"
          enableTracking="true"
          virtualFolder="/"
          physicalFolder="/"
          rootPath="/sitecore/content/presales"
          startItem="/home"
          database="web"
          domain="extranet"
          allowDebug="true"
          cacheHtml="false"
          filteredItemsCacheSize="10MB"
          enablePreview="true"
          enableWebEdit="true"
          enableDebugger="true"
          disableClientData="false"
          formsRoot="{196C436A-12F7-4E2E-A9E6-F839BD6AFA60}"/>
    <site patch:before="site[@name='website']"
          name="life"
          hostName="life.vitality.co.uk"
          scheme="http"
          notFoundItem="not-found"
          enableTracking="true"
          virtualFolder="/"
          physicalFolder="/"
          rootPath="/sitecore/content/presales"
          startItem="/home"
          database="web"
          domain="extranet"
          allowDebug="true"
          cacheHtml="false"
          filteredItemsCacheSize="10MB"
          enablePreview="true"
          enableWebEdit="true"
          enableDebugger="true"
          disableClientData="false"
          formsRoot="{196C436A-12F7-4E2E-A9E6-F839BD6AFA60}"/>
        <site patch:before="site[@name='presales']"
          name="apps-temp"
          hostName="presales.vitality.co.uk"
          scheme="http"
          notFoundItem="not-found"
          enableTracking="true"
          virtualFolder="/apps/manifests/vgp"
          physicalFolder="/apps/manifests/vgp"
          rootPath="/sitecore/content"
          startItem="/apps/manifests/vgp"
          database="web"
          domain="extranet"
          allowDebug="true"
          cacheHtml="false"
          filteredItemsCacheSize="10MB"
          enablePreview="true"
          enableWebEdit="true"
          enableDebugger="true"
          disableClientData="false"/>
    <site patch:before="site[@name='website']"
          name="apps"
          hostName="app.vitality.co.uk"
          scheme="http"
          notFoundItem="not-found"
          enableTracking="true"
          virtualFolder="/"
          physicalFolder="/"
          rootPath="/sitecore/content"
          startItem="/apps"
          database="web"
          domain="extranet"
          allowDebug="true"
          cacheHtml="false"
          filteredItemsCacheSize="10MB"
          enablePreview="true"
          enableWebEdit="true"
          enableDebugger="true"
          disableClientData="false"/>
    </sites>
  </sitecore>
</configuration>
