<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <scheduling>
          <!-- An agent that processes sitemap generation  -->
          <agent type="Vitality.Website.SC.Agents.Sitemaps.SitemapGenerator, Vitality.Website.SC" method="Run" interval="00:00:00" name="AdviserSitemapGenerator">
            <param desc="database">web</param>
            <param desc="site">advisers</param>
          </agent>
          <agent type="Vitality.Website.SC.Agents.Sitemaps.SitemapGenerator, Vitality.Website.SC" method="Run" interval="00:00:00" name="PresalesSitemapGenerator">
            <param desc="database">web</param>
            <param desc="site">presales</param>
          </agent>
        </scheduling>
    </sitecore>
</configuration>

