<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <hooks>
      <hook type="Sitecore.Diagnostics.HealthMonitorHook, Sitecore.Kernel">
        <patch:delete />
      </hook>

      <hook type="Sitecore.Diagnostics.MemoryMonitorHook, Sitecore.Kernel">
        <patch:delete />
      </hook>
    </hooks>

    <sc.variable name="dataFolder">
      <patch:attribute name="value">/App_Data</patch:attribute>
    </sc.variable>
    <linkManager defaultProvider="sitecore">
      <providers>
          <add patch:instead="add[@name='sitecore']" name="sitecore" type="Vitality.Website.SC.Providers.AppendLinkProvider, Vitality.Website.SC"
               addAspxExtension="false"
               alwaysIncludeServerUrl="true"
               encodeNames="true"
               languageEmbedding="never"
               languageLocation="filePath"
               lowercaseUrls="true"
               shortenUrls="true"
               useDisplayName="false" >
          </add>
      </providers>
    </linkManager>
    <mediaLibrary>
      <mediaProvider type="Vitality.Website.SC.Providers.MediaProvider, Vitality.Website.SC" patch:instead="*[@type='Sitecore.Resources.Media.MediaProvider, Sitecore.Kernel']" />
    </mediaLibrary>

    <settings>
      <setting name="Analytics.PerformLookup"
               set:value="false" />
      <setting name="Counters.Enabled"
               set:value="false" />
      <setting name="WebStylesheet"
               set:value="/bower_components/vitality.boilerplate/dist/rich-text-editor.min.css" />
      <setting name="HtmlEditor.DefaultProfile"
               set:value="/sitecore/system/Settings/Html Editor Profiles/Vitality Rich Text Medium" />
      <setting name="HtmlEditor.LineBreak"
               set:value="br" />
      <setting name="HtmlEditor.RemoveScripts"
               set:value="false" />
      <!--
        Remove language routing, e.g. doman/en
        http://sitecore.stackexchange.com/questions/5010/wo-url-serving-default-aspx
      -->
      <setting name="Languages.AlwaysStripLanguage"
               set:value="false" />

      <setting name="Media.AlwaysIncludeServerUrl"
               set:value="True" />
      <setting name="Media.LowercaseUrls"
               set:value="True" />
      <setting name="Media.MediaLinkPrefix"
               set:value="media-online/" />
      <setting name="Media.RequestExtension"
               set:value="" />
      <setting name="Media.RequestProtection.SharedSecret"
               set:value="a111f7b3-6541-4d0e-a8cb-057e54af5b75" />
      <setting name="Preview.DefaultSite"
               set:value="presales" />
      <setting name="Preview.ResolveSite"
               set:value="true" />
      <setting name="XHtmlSchemaFile" set:value="/data/Sitecore xhtml5.xsd" />
    </settings>

    <customHandlers>
      <handler trigger="media-online/" handler="sitecore_media.ashx"/>
    </customHandlers>
    <fieldTypes>
      <fieldType patch:after="fieldType[@name='General Link']"
                 name="Queryable General Link"
                 type="Vitality.Website.SC.Fields.QueryableGeneralLink"/>
    </fieldTypes>
  </sitecore>
</configuration>
