<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <sites>
	  <site name="website" set:rootPath="/sitecore/content/presales" />
      <site patch:before="site[@name='website']" 
            name="presales" 
            hostName="dev.vitality.co.uk" 
            scheme="http"
            notFoundItem="not-found"
            enableTracking="true" 
            virtualFolder="/" 
            physicalFolder="/" 
            rootPath="/sitecore/content/presales" 
            startItem="/home" 
            database="web" 
            domain="extranet" 
            allowDebug="true" 
            cacheHtml="false" 
            filteredItemsCacheSize="10MB" 
            enablePreview="true" 
            enableWebEdit="true" 
            enableDebugger="true" 
            disableClientData="false"
            formsRoot="{196C436A-12F7-4E2E-A9E6-F839BD6AFA60}"
         />
    </sites>
  </sitecore>
</configuration>
