<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <sc.variable name="dataFolder">
      <patch:attribute name="value">/App_Data</patch:attribute>
    </sc.variable>
    <linkManager defaultProvider="sitecore">
      <providers>
          <add patch:instead="add[@name='sitecore']" name="sitecore" type="Vitality.Website.SC.Providers.AppendLinkProvider, Vitality.Website.SC" 
               addAspxExtension="false" 
               alwaysIncludeServerUrl="true" 
               encodeNames="true" 
               languageEmbedding="never" 
               languageLocation="filePath" 
               lowercaseUrls="true" 
               shortenUrls="true" 
               useDisplayName="false" >
          </add>
      </providers>
    </linkManager>
    <mediaLibrary>
      <mediaProvider type="Vitality.Website.SC.Providers.MediaProvider, Vitality.Website.SC" patch:instead="*[@type='Sitecore.Resources.Media.MediaProvider, Sitecore.Kernel']" />
    </mediaLibrary>
    <settings>
      <setting name="WebStylesheet" 
               set:value="/css/rich-text-editor-1.0.0.min.css" />
      <setting name="HtmlEditor.DefaultProfile" 
               set:value="/sitecore/system/Settings/Html Editor Profiles/Vitality Rich Text Medium" />
      <setting name="HtmlEditor.LineBreak" 
               set:value="br" />
      <setting name="Media.RequestExtension"
               set:value="" />
      <setting name="Media.MediaLinkPrefix"
               set:value="media-online/" />
      <setting name="Preview.ResolveSite"
          set:value="true" />
    </settings>
    <customHandlers>
      <handler trigger="media-online/" handler="sitecore_media.ashx"/>
    </customHandlers>
  </sitecore>
</configuration>