<?xml version="1.0"?>
<!--
  Purpose: Override WFFM settings to use SQL Provider
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <wffm>
      <analytics>
        <!--Choose between different form's data providers:
        1) sqlFormsDataProvider - only form's data from wffm sql db is involved in reporting and export processes
        2) analyticsFormsDataProvider - only form's data from analytics sql and mongo db is involved in reporting (sql) and export (mongo) processes
        in this case you should be sure that xDb and tracker is on
        3) combinedFormsDataProvider - form's data from wffm sql db is used for export and data from analytics sql is used for reporting-->
        <formsDataProvider set:ref="/sitecore/wffm/analytics/sqlFormsDataProvider"/>
      </analytics>
    </wffm>
  </sitecore>
</configuration>
