<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Vitality.Website.App_Start.Ioc, Vitality.Website"/>
        <processor type="Krusen.Sitecore.WebApi.ConfigureAttributeRouting, Krusen.Sitecore.WebApi"
                   patch:after="processor[@type='Sitecore.Services.Infrastructure.Sitecore.Pipelines.ServicesWebApiInitializer, Sitecore.Services.Infrastructure.Sitecore']" />
      </initialize>
      <mvc.getModel>
        <processor patch:before="*[@type='Glass.Mapper.Sc.Pipelines.Response.GetModelFromView, Glass.Mapper.Sc.Mvc']"  type="Vitality.Website.SC.Pipelines.Response.GetModel.GetQuoteFooterFallback, Vitality.Website.SC"/>
      </mvc.getModel>
      <mvc.getRenderer>
        <processor type="Vitality.Website.SC.Pipelines.Response.GetRenderer.ResolveDatasourceQuery, Vitality.Website.SC"
                   patch:before="*[@type='Sitecore.Mvc.Pipelines.Response.GetRenderer.GetViewRenderer, Sitecore.Mvc']" >
        </processor>
      </mvc.getRenderer>
      <mvc.renderRendering>
        <processor type="Vitality.Website.SC.Pipelines.Response.RenderRendering.VaryByAncestorBasedOnTemplate, Vitality.Website.SC"
                   patch:after="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.GenerateCacheKey, Sitecore.Mvc']">
          <templates hint="list:AddTemplateById">
            <hometemplate>{4C595B14-AB9A-4D9D-82B0-7A8799A3D70C}</hometemplate>
            <productoverviewpagetemplate>{EAE876EB-8043-4F1B-95C4-C015EAE09215}</productoverviewpagetemplate>
          </templates>
        </processor>
      </mvc.renderRendering>
      <getItemReferences>
        <processor type="Vitality.Website.SC.Pipelines.Publishing.GetItemReferences.AddDataSourceItemDescendants, Vitality.Website.SC"
                   patch:after="processor[@type='Sitecore.Publishing.Pipelines.GetItemReferences.AddItemLinkReferences, Sitecore.Kernel']">
          <pathsToIgnore hint="list:AddPath">
            <navigation>/Content/Navigation</navigation>
          </pathsToIgnore>
        </processor>
      </getItemReferences>
      <getContentEditorWarnings>
        <processor type="Sitecore.Commerce.Pipelines.ContentEditorLicenseWarning, Sitecore.Commerce">
          <patch:delete />
        </processor>
      </getContentEditorWarnings>
      <renderField>
        <processor type="Vitality.Website.SC.Pipelines.RenderField.InjectTablesawStylesOnRender, Vitality.Website.SC"
                 patch:after="processor[@type='Sitecore.Pipelines.RenderField.GetFieldValue, Sitecore.Kernel']"/>
      </renderField>
      <saveRichTextContent>
        <processor type="Vitality.Website.SC.Pipelines.RichTextEditor.SaveRichTextContent.InjectTableSawStylesOnCloseDialog, Vitality.Website.SC" />
      </saveRichTextContent>
      <preprocessRequest>
        <processor type="Sitecore.Pipelines.PreprocessRequest.FilterUrlExtensions, Sitecore.Kernel">
          <param desc="Allowed extensions (comma separated)">aspx, ashx, asmx, txt, xml, gz</param>
        </processor>
      </preprocessRequest>
      <httpRequestBegin>
        <processor type="Vitality.Website.SC.Pipelines.HttpRequest.NotFoundItemResolver, Vitality.Website.SC"
                   patch:before="processor[@type='Sitecore.Pipelines.HttpRequest.DeviceSimulatorResolver, Sitecore.Kernel']" />
        <processor type="Vitality.Website.SC.Pipelines.HttpRequest.RobotsFileGenerator, Vitality.Website.SC"
             patch:before="processor[@type='Sitecore.Pipelines.HttpRequest.UserResolver, Sitecore.Kernel']"/>
        <processor type="Vitality.Website.SC.Pipelines.HttpRequest.SitemapResolver, Vitality.Website.SC"
             patch:before="processor[@type='Sitecore.Pipelines.HttpRequest.UserResolver, Sitecore.Kernel']"/>          
      </httpRequestBegin>
      <httpRequestProcessed>
        <processor type="Vitality.Website.SC.Pipelines.HttpRequest.SetNotFoundStatusCode, Vitality.Website.SC" />
      </httpRequestProcessed>
      <getMediaStream>        
          <processor type="Vitality.Website.SC.Pipelines.MediaStream.LowResolutionImage, Vitality.Website.SC" patch:before="processor[@type='Sitecore.Resources.Media.SaveColorProfileProcessor, Sitecore.Kernel']" />
      </getMediaStream>
    </pipelines>
  </sitecore>
</configuration>
