section div.scLooseFrameZone {
    overflow-y: initial;
}

// Force the width on grid items whilst editing.
.grid .scLooseFrameZone.scEnabledChrome [class*=grid-col-] {
    width: 100%;
}

// Keep cards inline.
.spotlight__list div.scLooseFrameZone.scEnabledChrome {
    display: inline;
}

.cards-stacked li span {
    color: #000;
}

.feature-block__image-list div.scLooseFrameZone {
    display: inline;
}

// Always leave accordions and tabs expanded for easier editing.
.expander__content {
    display: block !important;
}

// Always hide the quote footer
.quote-footer {
    display: none;
}

// Override the SC applied height attribute to keep the image scaled proportionally.
.spotlight-item img {
    height: 100% !important;
}

.mpu {
    display: block !important;
}
