.article-index {
    background-color: $secondary-background-color;
    padding: $pad--thin;

    h2, .spotlight__intro {
        color: $white;
        text-align: center;
    }

    .article-index--container {
        margin-top: $pad--thin;
        padding: 0 1%;
    }

    .article-index--article {
        // Avoid underlines for this component link.
        a {
            text-decoration: none;
        }

        background-color: $highlight-color;
        margin: 0;

        // Alter the background for the hover state.
        transition: $delay--medium ease-in background-color;

        &:hover {
            background-color: $highlight-color--dark;
        }
        
        h3, p {
            color: $white;
        }

        // Reduce the header font size to that of the body content.
        h3 {
            font-size: 100%;
        }

        // Cover the background and do not pad the image alternative.
        .article-index--article__image {
            background-size: cover;

            div {
                padding: 0;
            }

            // Reiterate full width to fix IE issue.
            img {
                width: 100%;
            }
        }

        .article-index--article__content {
            padding: $pad;
        }

        // Condense the fonts slightly on tablet.
        @include mq($from: tablet, $until: desktop) {
            h3 {
                @include font-size($font-small);
            }

            p {
                @include font-size($basesize);
            }
        }
    }
}

// Hide the background image for screens smaller than a tablet,
// as the img tag will be used instead and scale using the grid.
// Squeeze the content slightly, too.
@include mq($until: tablet) {
    .article-index {
        .article-index--article {
            h3, p {
                margin: $pad--thin;
            }

            .article-index--article__image {
                // Need important here to override inline style.
                background: none !important;
                margin: 0;
                padding: 0;
            }

            .article-index--article__content {
                margin-top: 0;
                padding: $pad--thin;
            }
        }
    }
}

// Use flexbox to keep the article containers the same height.
.flexbox {
    .article-index {
        .article-index--container {
            align-content: stretch;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}
