.article-index {
    background-color: $secondary-background-color;
    padding: $pad--thin;

    h2 {
        color: $white;
        text-align: center;
    }

    // No need for margin on columns here.
    [class*="grid-col-"] {
        margin-top: 0;
    }

    &--container {
        padding: 1% !important;
    }

    &--article {
        background-color: $highlight-color;
        margin: 0;

        h3, p {
            color: $white;
        }

        h3 {
            font-size: 100%;
        }

        // Cover the background and do not pad the image alternative.
        &__image {
            background-size: cover;

            div {
                padding: 0;
            }
        }

        &__content {
            padding: $pad;
        }

        // Condense the fonts slightly on tablet.
        @include mq($from: tablet, $until: desktop) {
            h3 {
                @include font-size($font-small);
            }

            p {
                @include font-size($basesize);
            }
        }

        // Hide the background image for screens smaller than a tablet,
        // as the img tag will be used instead and scale using the grid.
        // Squeeze the content slightly, too.
        @include mq($until: tablet) {
            h3, p {
                margin: $pad--thin;
            }

            &__image {
                background: none !important;
                padding: 0 !important;
            }

            &__content {
                padding: $pad--thin;
            }
        }
    }
}
