.award-leader {
    // Use this in case a background image is not set inline.
    background-color: $primary-background-color;
    background-size: cover;

    // The padding below is set to align content to that of Benefit Leader.
    .grid-no-gutters {
        .award-leader--intro {
            padding: $pad--large;

            p {
                margin: $pad--large 0;
            }

            // Ensure the images have space and are not too high.
            .award-leader--intro__logos {
                a {
                    // Inline block does not always work...
                    float: left;
                }

                img {
                    margin-right: $pad--xthin;
                    max-height: 70px;
                }
            }
        }

        .award-leader--articles {
            padding: $pad--large;
        }
    }

    // As the article snippet stack vertically, give them some space.
    .article-snippet {
        box-shadow: 0 0 $pad -2px $dropshadow-color-dark;

        &:not(:last-child) {
            margin-bottom: $pad--thin;
        }
    }
}

// Remove the background image on mobile and thin the padding.
@include mq($until: tablet) {
    .award-leader {
        // Must force an override here, as the image is set inline.
        background: $primary-background-color !important;
        color: $black;

        .grid-no-gutters {
            // Let the grid sit flush with other components.
            .award-leader--articles,
            .award-leader--intro {
                margin-top: 0;
                padding: $pad;
            }

            .award-leader--intro {
                p {
                    margin: $pad 0;
                }
            }
        }
    }
}

// Use flexbox to keep the article rows the same height.
.flexbox {
    .award-leader {
        .award-leader--articles {
            display: flex;
            flex-direction: column;

            .article-snippet {
                flex: 1; 
            }
        }
    }
}
