// Set a default background colour, which enables the component
// to be used without a background, particularly useful when editing.
.cards-stacked {
    @extend .pinch;
    background: $primary-background-color;
    padding: $pad;

    .spotlight__list {
        margin-bottom: $pad;
    }
}

// Remove the background image on mobile.
@include mq($until: mobile-landscape) {
    .cards-stacked {
        // Must force an override here, as the image is set inline.
        background: $primary-background-color !important;
        color: $black;

        .spotlight__heading, .spotlight__intro {
            color: $black;
        }
    }
}
