.data-table, .data-table.tablesaw {
    position: relative;
    background: $white;
    border-collapse: collapse;
    width: 100%;
    margin: $pad 0;

    thead {
        th {
            @include font-size(2);
            background-color: $secondary-background-color;
            color: $white;
            font-weight: normal;
            text-shadow: none;
            text-transform: none;
        }
    }

    tr {
        @extend .font-weight--regular;
        background-color: $primary-background-color;
        color: $heading-color;
        position: relative;
    }

    td {
        line-height: 1;
        vertical-align: middle;
    }

    // Table saw media query for mobile layout tables.
    @media (max-width: 40em) {
        td {
            text-align: left !important;
        }
    }
    // Table saw media query for full layout tables.
    @media (min-width: 40em) {
        th,
        td {
            text-align: left;
            padding: 20px;
        }

        tbody tr:first-child {
            td {
                border-top: 0;
            }
        }

        tr {
            td:first-child {
                border-left: 0;
            }

            td:last-child {
                border-right: 0;
            }
        }

        td {
            border: 2px solid $white;
        }
    }
}
