.data-table, .data-table.tablesaw {
    background: $white;
    border-collapse: collapse;
    position: relative;
    margin: $pad 0;
    width: 100%;

    td,
    th {
        // Border display fix for Firefox.
        background-clip: padding-box;

        line-height: $line-height--normal;
        padding: $pad !important;
        text-align: left !important;
    }

    thead {
        th {
            background-color: $secondary-background-color;
            color: $white;
            font-weight: normal;
            text-shadow: none;
            text-transform: none;
        }
    }

    tr {
        @extend .font-weight--regular;
        background-color: $primary-background-color;
        color: $heading-color;
        position: relative;
    }

    td {
        @include font-size($basesize);
        vertical-align: top;
    }

    .tablesaw-cell-label {
        @include font-size($font-small);
        color: $secondary-background-color;
        font-weight: $font-weight--regular;
        margin-top: 2px;
    }

    // Table saw media query for mobile layout tables.
    @media (max-width: 40em) {
        th,
        td {
            padding: $pad--thin !important;
        }
    }

    // Table saw media query for full layout tables.
    @media (min-width: 40em) {
        tbody tr:first-child {
            td {
                border-top: 0;
            }
        }

        tr {
            td:first-child {
                border-left: 0;
            }

            td:last-child {
                border-right: 0;
            }
        }

        td {
            border: 2px solid $white;
        }
    }
}
