//
//   Expander (toggling content)
//

.expander {
    $_transition: 0.2s;
    $_transition--long: $_transition * 2;

    @extend .clearfix;
    background: $white;
    border-top: 1px solid $color-mono-14;
    border-bottom: 1px solid $color-mono-14;


    &__menu {
        @extend .non-list;
    }
    //
    //  Modifier: Apply display properties when initialized
    //
    &--init {

        .expander__link {
            display: block;
            line-height: 1.25;
        }

        .expander__content {
            display: none;
            // [for shame] fix for safari - content breaking out of collapsible on render */
            p {
                display: block;
                max-width: 100%;
            }

            &.is-active {
                display: block;
            }
        }
    }
    //
    //  Modifier: Accordion
    //
    &--collapsible {

        .expander__link {

            @include font-size(1.8);
            color: $heading-color;
            text-decoration: none;
            border-top: 1px solid $color-mono-14;
            padding: 20px 70px 20px 20px;

            @media only screen and (min-width : $breakpoint-large) {
                padding: 30px 70px 30px 30px;
            }

            &:focus,
            &:hover,
            &.is-active {
                color: $primary-color;
            }

            &:first-child {
                border-top: 0;
            }
        }

        .expander__content {
            padding: 0 $pad $pad $pad;

            @media only screen and (min-width : $breakpoint-large) {
                padding: 0 30px 30px 30px;
            }
        }
    }

    &--collapsible.expander--init {
        .expander__link {
            position: relative;
            //Accordion down arrow -
            &:after {
                @include retina-sprite($sprite-arrow-down-group);
                transform: translate(0, -50%);
                content: "";
                position: absolute;
                top: 50%;
                right: 20px;
                transition: transform $_transition ease;
            }

            &.is-active {
                &:after {
                    transform: translate(0, -50%) rotate(180deg);
                }
            }
        }
    }
    //
    //  Modifier: dark - used in footer
    //
    &--dark.expander--collapsible.expander--init {
        @include alpha-attribute(border-color, rgba($white, 0.4), $tertiary-background-color);
        background-color: transparent;

        .expander__link {
            @include alpha-attribute(border-color, rgba($white, 0.4), $tertiary-background-color);
            color: $white;
            font-weight: 300;

            &:focus,
            &:hover,
            &.is-active {
                color: $white;
            }
            //Accordion down arrow -
            &:after {
                @include retina-sprite($sprite-arrow-down-light-group);
            }
        }
    }
    //
    //  Modifier: Tabs
    //
    &--tabs {
        //Make sure content block is always as long as the tabs
        display: flex;

        .expander__menu {
            position: relative;
            z-index: 1;
            left: 1px; // cover the border-left on the content panel
        }

        .expander__content {
            padding: 30px;
            border: 1px solid $color-mono-14;
            border-top-color: transparent;
            border-left-color: transparent;
            background: $white;

            > *:first-child {
                margin-top: 0;
            }

            > *:last-child {
                margin-bottom: 0;
            }

            &.is-active {
                border-color: $primary-color;
                border-width: 1px;
            }
        }

        .expander__link {

            @include font-size(1.6);
            color: $heading-color;
            text-decoration: none;
            background: $white;
            border-color: $color-mono-14;
            border-width: 1px;
            border-style: solid;
            border-top-color: transparent;
            border-right-color: $primary-color;
            padding: 30px;
            font-weight: 700;

            &:focus,
            &:hover,
            &.is-active {
                color: $primary-color;
            }

            &.is-active {
                border-bottom-color: $primary-color;
                border-left-color: $primary-color;
                border-right-color: transparent;
                border-top-color: $primary-color;
                transition: border-left-color $_transition--long ease $_transition, border-bottom-color $_transition ease, border-top-color $_transition ease;
            }
        }
    }

    &--tabs.expander--init {
        position: relative;
        background: none;
        min-height: 300px;
        border: 1px solid $color-mono-14;
        margin-bottom: $pad--large;
        border-bottom-color: transparent;
        border-left-color: transparent;


        .expander__menu {
            width: 33.333%;
            float: left;
        }

        .expander__content {
            top: 0;
            bottom: 0;
            right: 0;
            width: 66.666%;
            float: left;
        }
    }
    //
    //  Modifier: Tabs - horisontal
    //
    &--tabs.expander--horizontal {
        border: 0;
        display: block;

        .expander__menu {
            left: 0;
            top: 1px;
            display: table;
        }

        .expander__item {
            display: table-cell;
        }

        .expander__menu,
        .expander__content {
            width: 100%;
        }

        .expander__item:first-child {

            .expander__link {
                border-left-color: $color-mono-14;

                &.is-active {
                    border-left-color: $primary-color;
                }
            }
        }

        .expander__link {
            border-color: $color-mono-14;
            border-style: solid;
            border-width: 1px;
            border-left-color: transparent;
            border-bottom-color: $primary-color;
            position: relative;

            &.is-active {
                border-bottom-color: transparent;
                border-left-color: $primary-color;
                border-right-color: $primary-color;
                border-top-color: $primary-color;
                transition: border-left-color $_transition--long ease, border-right-color $_transition--long ease;
                z-index: 2;

                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: -5px;
                    left: -1px;
                    width: calc(100% + 2px);
                    height: 5px;
                    background-color: $white;
                    border: 1px solid $primary-color;
                    border-bottom: 0;
                    z-index: 3;
                    transition: top 0.2s ease;
                }
            }
        }
    }
    //
    //  Modifier: Tabs - minimal
    //
    &--tabs.expander--minimal {
        border: 0;
        display: block;

        .expander__menu {
            left: 0;
            display: block;
            padding: 0 0 10px 0;
            border-bottom: 2px solid $grey--light;
            font-size: 0;
        }

        .expander__item {
            display: inline-block;
            margin-right: 20px;
        }

        .expander__link {
            padding: 10px 10px 10px 0;
            position: relative;

            &:after {
                content: "";
                display: block;
                position: absolute;
                bottom: -12px;
                left: 0;
                height: 3px;
                background-color: $primary-color;
                transform: scaleX(0);
                width: 100%;
                transition: transform $_transition--long ease;
            }

            &.is-active:after {
                transform: scaleX(1);
            }
        }

        .expander__menu,
        .expander__content {
            width: 100%;
        }

        .expander__content {
            border: 0;
            padding: 0;
            margin: 30px 0;
        }

        .expander__item:first-child {

            .expander__link {
                border: 0;

                &.is-active {
                    border: 0;
                }
            }
        }

        .expander__link {
            border: 0;
            position: relative;

            &.is-active {
                border: 0;
                z-index: 2;

                &:before {
                    content: none;
                }
            }
        }
    }
}
