.faq_leader {
    // Enforce consistent colour and padding.
    @extend .pinch;
    background-color: $white;
    padding: $pad--large 0;

    .header, .more {
        @include text-centre;
    }

    .header h2:first-child {
        margin-top: 0;
    }

    // Reduce grid gutters.
    [class*="grid-col-"] {
        margin-top: 0;
        padding: $pad--xthin $pad;
    }

    .more a {
        @include wide-padding;
        margin-bottom: 0;
    }
}

// Use a full-width button for mobile.
@include mq($until: mobile-landscape) {
    .faq_leader {
        .more a {
            width: 100%;
        }
    }
}

// Remove all side padding beneath tablet,
// where the question grids stack.
@include mq($until: tablet) {
    .faq_leader {
        [class*="grid-col-"] {
            padding: $pad--xthin 0;
        }
    }
}
