.filter-list {
    @extend .non-list;

    // Hide the filter list if JS is not enabled.
    .no-js & {
        display: none;
    }

    &__item {
        a {
            cursor: pointer;
            text-decoration: none;
        }
    }
}

// Hide the filter section details until it has been filtered.
.filter-section__details {
    opacity: 0;
}

@include mq($from: tablet) {
    .filter-list {
        border-bottom: 2px solid $grey--light;
        margin: $pad--thin;

        &__item {
            display: inline-block;
            margin: $pad--thin $pad $pad--thin 0;

            a {
                position: relative;

                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: -12px;
                    left: 0;
                    height: 3px;
                    background-color: $primary-color;
                    transform: scaleX(0);
                    width: 100%;
                    transition: transform 0.5s ease;
                }

                &.js-focus::after {
                    transform: scaleX(1);
                }
            }
        }
    }
}
