@import "../base/vars";
@import "../utils/mixins";

.home-hero {
    @extend .burst;
    @include shadow--dark;
    @include text-centre;
    background-size: cover;
    background-repeat: no-repeat;
    padding: $pad;
    padding-top: $pad--large;

    &.text-light {
        @include shadow--light;

        // Use specificity to override header colour.
        h1, h2, p {
            color: $white;
        }
    }

    h2 {
        margin: $pad--thin 0 $pad--xxlarge;
    }

    // Reduce the padding for smaller devices.
    @include mq($until: tablet) {
        h2 {
            margin: $pad--thin 0 $pad--large;
        }
    }
}
