@import "../base/vars";
@import "../utils/mixins";

.home-hero {
    @extend .burst;
    @include shadow--dark();
    @include text-centre();

    &--static {
        background-size: cover;
        background-repeat: no-repeat;
        padding: $pad;
        padding-top: $pad--large;
        width: 100%;

        &.text-light {
            @include shadow--light();

            // Use specificity to override header colour.
            h1,
            h2,
            p {
                color: $white;
            }
        }
    }

    // Relative so that the content and video sections can stack.
    position: relative;

    &.home-hero--video {
        padding: 0;

        .home-hero--static {
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            z-index: 2;
        }
    }

    .home-hero--static__play {
        @extend .svg-svg--button-video-play;
        cursor: pointer;
        margin: auto;
    }

    h2 {
         margin: $pad--thin 0 $pad--xxlarge;
    }

    // Reduce the padding for smaller devices.
    @include mq($until: tablet) {
        h2 {
             margin: $pad--thin 0 $pad--large;
        }
    }
}
