@import "../base/vars";
@import "../utils/mixins";

.partner-hero {
    @extend .burst;
    background-repeat: no-repeat;
    background-size: cover;
    
    &--headline {
        display: block;
        margin: 0 auto;

        // This should be rebuilt with flex in the future...
        padding: 135px $pad;

        &.text-light {
            @include shadow--light();

            h1, h2, p {
                color: $white;
            }
        }

        &.text-dark {
            @include shadow--dark();
        }

        h1 {
            @extend .font-weight--light;
            @extend .h3;
            margin: $pad--xthin 0;
        }

        h2 {
            @extend .font-weight--semi-bold;
            @extend .h1-xlarge;
            margin: $pad--xthin 0;
        }

        p {
            @extend .h4;
            margin: $pad--xthin 0;
        }
    }

    &--right {
        margin: $pad--large;
        margin-bottom: 0;
    }

    &--card {
        @include font-size($basesize);
        background: $white;
        margin-top: $pad;
        max-width: 300px;
        padding: $pad--xthin;
        text-align: center;

        &__top {
            h6 {
                text-transform: uppercase;
            }

            hr {
                display: block;
                height: 1px;
                border: 0;
                border-top: 1px solid $body-color--alt;
                margin: 1em 0;
                padding: 0;
            }
        }

        &__bottom {
            @include triangle-callout--central-top($white);
            background: $primary-color;
            color: $white;
            padding: 30px 0;

            // Ensure the arrow positions correctly.
            position: relative;

            h1, h2, h3, h4, h5, h6, p {
                @extend .font-weight--regular;
                margin: 0;
            }
        }
    }
}

@include mq($until: tablet) {
    .partner-hero--with-card {
        .partner-hero--headline {
            display: none;
        }

        .partner-hero--card {
            margin-top: $pad--large;
            max-width: 100%;
        }
    }
}
