.products-component {
    padding: $pad--thin;
    text-align: center;
    
    img {
        display : inline;
    }

    p {
        line-height: 125%;
        padding: 0 $pad--large;
    }

    &--panel {
        background-color: $primary-color;

        .button-cta {
            margin: $pad--thin;
        }

        // Compress the three-column product grid before it adapts to mobile.
        @media (min-width: $breakpoint-medium) and (max-width: $breakpoint-larger) {
            &.grid-col-4-12 {
                font-size: 90%;
                padding: $pad--thin;

                .button-cta {
                    padding: $pad--thin;
                    padding-right: 60px;
                }
            }
        }
    }
}
