.products-component {
    padding: $pad--thin;
    text-align: center;
    
    img {
        width: 100%;
    }

    p {
        line-height: 125%;
        padding: 0 $pad--large;

        // Stop the CTA from flexbox interfering on widescreen!
        width: 100%;
    }

    .grid {
        background-color: $grey--light;
        padding: $pad--thin;

        // Use the top padding of the components instead,
        // as this will ensure they are spaced evenly for mobile.
        padding-top: 0;

        [class*=grid-col-] {
            margin-top: $pad--thin;
        }
    }

    &--panel {
        background-color: $primary-color;

        .button-cta {
            margin: $pad--thin;
        }

        // Compress the three-column product grid before it adapts to mobile.
        @media (min-width: $breakpoint-medium) and (max-width: $breakpoint-larger) {
            &.grid-col-4-12 {
                font-size: 90%;
                padding: $pad--thin;

                .button-cta {
                    padding: $pad--thin;
                    padding-right: 60px;
                }
            }
        }
    }
}

// Use flexbox to align the CTA to the bottom of the component.
.flexbox {
    .products-component--panel {
        align-content: stretch;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
           
        .button-cta {
            align-self: flex-end;
        }
    }
}
