@import "../base/vars";
@import "../utils/mixins";

.quote-footer {
    @include ensure-at-front;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;

    h6 {
        @include tab-rounding;
        color: $white;
        display: inline-block;
        margin: 0;
        padding: 10px 10%;
    }

    h6, &--body {
        background-color: $darken-heavy;
    }

    &--body {
        padding: 10px 0;

        a {
            margin: 5px;
        }
    }
}

.flexbox {
    .quote-footer {
        &--body {
            align-content: stretch;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

            a {
                display: inline-flex;
                flex: 1;
                flex-basis: 300px;
                max-width: 300px;
            }
        }
    }
}
