@import "../base/vars";
@import "../utils/mixins";

.quote-footer {
    @include ensure-at-front;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;

    h6 {
        @include tab-rounding;
        color: $white;
        display: inline-block;
        margin: 0;
        padding: $pad--thin 10%;
    }

    h6, &--body {
        background-color: $darken-heavy;
    }

    &--body {
        padding: $pad--thin 0;

        a {
            margin: $pad--xthin;
        }
    }
}

// Use flexbox to adjust the widths if Modernizr detects it.
// If not, the JS match heights module should be applied.
.flexbox {
    .quote-footer {
        &--body {
            align-content: stretch;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

            a {
                $_max-width: 300px;
                display: inline-flex;
                flex: 1;
                flex-basis: $_max-width;
                max-width: $_max-width;
            }
        }
    }
}
