@import "../base/defaults";

.rewards_leader {
    @include text-centre;
    border: $padding-normal solid $darken;
    box-sizing: border-box;
    padding: $padding-thick;

    .box-button {
        margin: 0;
    }

    .feature-block__content {
        max-width: 100%;
    }

    .feature-block__image-list {
        margin-bottom: $pad;

        a {
            color: transparent;

            &:hover img {
                animation-name: pulse;
                animation-duration: 0.3s;
                animation-direction: alternate;
                animation-timing-function: linear;
                animation-fill-mode: forwards;
            }
        }

        div {
            > img, > a {
                &:not(:last-child) {
                    margin-right: $padding-thick;
                }
            }
        }

        img {
            max-height: 80px;
        }
    }
}
    
.feature-block {
    &--primary {
        background: $primary-colour;
    }

    &--secondary {
        background: $secondary-colour;
    }

    &--tertiary {
        background: $tertiary-colour;
    }

    &--dark {
        background: $dark-colour;
    }
}
