.rewards_leader {
    @extend .pinch;
    @include text-centre;
    border: $pad solid $darken-medium;
    box-sizing: border-box;
    padding: $pad--large;

    h2 {
        @extend .h3;
    }

    .box-button {
        margin: 0;
    }

    .feature-block__content {
        max-width: 100%;
    }

    .feature-block__image-list {
        @include bounceLinkedImage();
        margin-bottom: $pad;

        div {
            > img, > a {
                &:not(:last-child) {
                    margin-right: $pad--large;
                }
            }
        }

        img {
            max-height: 80px;
        }
    }
}
