.server-error {
    @extend .burst;
    @extend .text-center;
    @extend .text-light;
    background-color: $primary-color;
    padding: $pad--large;
    padding-bottom: 0;

    img {
        margin-top: $pad--xlarge;
        vertical-align: bottom;
    }

    p {
        margin-bottom: $pad--large;
    }
}
