// Social icons & svg color hover
// Text fallback for IE8

.social-icons-list {
    @extend .non-list;
    text-align: center;
    font-size: 0;
    height: 50px;

    .social-icon {
        display: inline-block;
        position: relative;
        width: 24%;
        height: 50px;

        a {
            @include font-size(1.8);
            position: absolute;
            top: 0;
            //left: 0;
            width: 100%;
            height: 100%;
            transition: opacity 0.2s;
        }

        a:hover,
        a:focus {
            opacity: 0.8;
        }
    }
}

@media only screen and (min-width : $breakpoint-medium) {

    .social-icons-list {
        text-align: left;
    }
}
