.spotlight {
    &__standalone {
        text-align: center;
        width: 100% !important;
    }
    
    &__heading {
        @include font-size($h1--large);
        text-align: center;
    }

    &__intro {
        @include font-size($h4);
        text-align: center;
    }

    &__list {
        @extend .non-list;
        text-align: center;
        font-size: 0;
        margin: $pad auto;

        @include mq($from: tablet) {
            margin: $pad--large auto;
        }
    }

    &__list-item {
        @include font-size($basesize);
        display: inline-block;
        vertical-align: top;
        padding: 10px;
        position: relative;
        z-index: 2;
        max-width: 300px;

        @include mq($from: tablet) {
            max-width: none;
            width: 50%;
        }

        @include mq($from: desktop) {
            width: 25%;
        }
    }


    &--max-3 {
        .spotlight__list-item {

            @include mq($from: tablet) {
                width: 33.33%;
            }

            @include mq($from: desktop) {
                width: 33.33%;
            }
        }
    }
}

.spotlight-item {
    padding: 10px;
    background-color: $white;
    box-shadow: 0 0 20px -2px $dropshadow-color;

    &__intro-image {
        &.burst {
            overflow-y: hidden;
            margin: -10px -10px 0 -10px;
            max-height: 200px;
            width: calc(100% + 20px);

            img {
                width: 100%;
            }
        }
    }

    &__heading {
        @include font-size(1.8);
        color: $grey;
        font-weight: 500;
        line-height: 1.4;
        margin: 0.5em auto;
    }

    &__icon {
        img {
            display: block;
            margin: 10px auto;
        }
    }

    &__logo {
        background-color: $white;
        border: $pad--xthin solid $white;
        border-radius: $pad--thin;
        line-height: 0;
        margin: 0 auto;
        margin-top: -54px;
        padding: $pad--thin;
        position: relative;
        width: 60%;

        img {
            margin: 0;
            max-height: 50px;
        }
    }
        
    &__logo--large {
        background-color: $white;
        border: $pad--xthin solid $white;
        border-radius: $pad--thin;
        line-height: 0;
        margin: 0 auto;
        margin-top: -54px;
        padding: $pad--thin;
        position: relative;
        width: 60%;

        img {
            margin: 0 auto;
            max-height: 80px;
        }
    }

    &__content,
    &__cta {

        @include font-size(1.4);
        color: $body-color;

        p {
            color: $body-color;
        }

        .emphasis-link {
            margin: 0 auto 10px auto;
        }
    }

    &__cta {
        padding: 20px 0 10px 0;
    }
}

@include mq($until: mobile-landscape) {
    .spotlight {
        .spotlight__heading {
            @include font-size($h1);
        }

        .spotlight__intro {
            @include font-size($paragraph-emphasis);
        }
    }
}

// Let the cards go full width on mobile.
@include mq($until: mobile-landscape) {
    .spotlight {
        .spotlight__list-item {
            max-width: 100%;
            width: 100%;
        }
    }
}
