.spotlight {
    &__standalone {
        width: 100% !important;
    }
    
    &__heading {
        @include font-size(4.8);
        text-transform: uppercase;
        text-align: center;
    }

    &__intro {
        @include font-size(2);
        text-align: center;
    }

    &__list {
        @extend .non-list;
        text-align: center;
        font-size: 0;
        margin: $pad auto;

        @media only screen and (min-width : $breakpoint-medium) {
            margin: $pad--large auto;
        }
    }

    &__list-item {
        @include font-size($basesize);
        display: inline-block;
        vertical-align: top;
        padding: 10px;
        position: relative;
        z-index: 2;
        max-width: 300px;

        @media only screen and (min-width : $breakpoint-medium) {
            max-width: none;
            width: 50%;
        }

        @media only screen and (min-width : $breakpoint-larger) {
            width: 25%;
        }
    }


    &--max-3 {
        .spotlight__list-item {

            @media only screen and (min-width : $breakpoint-medium) {
                width: 33.33%;
            }

            @media only screen and (min-width : $breakpoint-larger) {
                width: 33.33%;
            }
        }
    }
}

.spotlight-item {
    padding: 10px;
    background-color: $white;
    box-shadow: 0 0 20px -2px $dropshadow-color;

    &__intro-image {
        &.burst {
            width: calc(100% + 20px);
            margin: -10px -10px 0 -10px;

            img {
                width: 100%;
            }
        }
    }

    &__heading {
        @include font-size(1.8);
        margin: 0.5em auto;
        text-transform: uppercase;
        font-weight: 500;
        color: $grey;
    }

    &__icon {
        img {
            display: block;
            margin: 10px auto;
        }
    }

    &__circle-logo {
        border: 5px solid $white;
        border-radius: 50%;
        width: 94px;
        height: 94px;
        margin: 0 auto;
        overflow: hidden;
        margin-top: -54px;
        position: relative;

        img {
            max-width: 100%;
        }
    }
        
    &__logo--large {
        background-color: $white;
        border: $pad--tiny solid $white;
        border-radius: $pad--thin;
        line-height: 0;
        margin: 0 auto;
        margin-top: -54px;
        padding: $pad--thin;
        position: relative;
        width: 60%;

        img {
            margin: 0 auto;
            max-height: 80px;
        }
    }

    &__content,
    &__cta {

        @include font-size(1.4);
        color: $body-color;

        p {
            color: $body-color;
        }

        .emphasis-link {
            margin: 0 auto 10px auto;
        }
    }

    &__cta {
        padding: 20px 0 10px 0;
    }
}
