.text-detail-block {

    &__heading {
        font-weight: 600;
        margin-top: $pad;
        // Add nice header details in supported browsers.
        // flexboxtweener = IE10's odd Flexbox implementation, though works correctly here.
        .flexbox &,
        .flexboxtweener & {
            display: flex;

            &:after {
                flex: 1;
                flex-grow: 1;
                content: "";
                display: inline-block;
                margin-top: 0.5em;
                margin-left: 10px;
                width: 100%;
                height: 3px;
                background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAACCAYAAABhYU3QAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyZpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMTExIDc5LjE1ODMyNSwgMjAxNS8wOS8xMC0wMToxMDoyMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTUgKFdpbmRvd3MpIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjYwODExRUU4RjFEOTExRTU4QTExQUM2MEMwMUM0NkI4IiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjYwODExRUU5RjFEOTExRTU4QTExQUM2MEMwMUM0NkI4Ij4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6NjA4MTFFRTZGMUQ5MTFFNThBMTFBQzYwQzAxQzQ2QjgiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6NjA4MTFFRTdGMUQ5MTFFNThBMTFBQzYwQzAxQzQ2QjgiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz7lhkimAAAAHUlEQVR42mLctGnTfwYg8PX1ZWTAA5gYiAQAAQYANtUEAQSrlD8AAAAASUVORK5CYII=");
                background-repeat: repeat-x;
                background-position: 0 50%;
            }
        }
    }

    &__body {
        margin-bottom: $pad;
    }

    @include mq($from: tablet) {
        margin-top: $pad--large;
        margin-bottom: $pad--large;
    }
}
