@using AutoMapper
@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization
@using Vitality.Website.Areas.Presales.ComponentTemplates.QuoteApply
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<QuoteApplyFooter>
<p>To be implimented once Damith finished the post action. </p>
