@using Vitality.Website.Areas.Presales.ComponentTemplates.QuoteApply;
@using Vitality.Website.Extensions.Views;
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Acknowledgement>

<p>@Model.DisplayMessage(Request.QueryString)</p>
<a href="@Model.CallToAction.Url">@Model.AdditionalData["CallToActionText"]</a>
