@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Vitality.Website.Areas.Presales.ComponentTemplates.QuoteApply.QuoteApplyForm>

<div class="quote--content">
    <div class="question">
        @Editable(x => x.NameLabel)

        <select id="salutation">
            <option value="Mr" selected="selected">Mr</option>
            <option value="Mrs">Mrs</option>
            <option value="Ms">Ms</option>
            <option value="Mstr">Mstr</option>
        </select>

        <div class="question--input__text">
            <input type="text" id="first-name" placeholder="First name" />
        </div>

        <div class="question--input__text">
            <input type="text" id="last-name" placeholder="Last name" />
        </div>
    </div>

    <div class="question">
        You can call me on

        <div class="question--input__text">
            <input type="text" id="phone" />
        </div>
    </div>

    <div class="question">
        And my email is

        <div class="question--input__text">
            <input type="email" id="email" />
        </div>

        <div class="question--input__info">
            We'll never share your details with third parties
        </div>
    </div>

    <div class="question">
        I'm

        <select id="is-insured">
            <option value="0" selected="selected">not currently insured</option>
            <option value="1">currently insured</option>
        </select>
    </div>

    <div class="question">
        I've been claim-free for

        <select id="claim-free-years">
            <option value="0">0 years</option>
            <option value="1" selected="selected">1 year</option>
            <option value="2">2 years</option>
            <option value="3">3 years</option>
            <option value="4">4 years</option>
            <option value="5">5+ years</option>
        </select>
    </div>

    <div class="question">
        And made

        <select id="claim-previous-insurer">
            <option value="0" selected="selected">no claims</option>
            <option value="1" selected="selected">1 claim</option>
            <option value="2" selected="selected">2 claim</option>
            <option value="3" selected="selected">3+ claims</option>
        </select>

        with my previous insurer
    </div>

    <div class="question">
        My date of birth is

        <div class="question--input__text">
            <input type="text" id="my-dob" placeholder="DD/MM/YYYY" />
        </div>
    </div>

    <div class="question">
        I want my cover to start on

        <div class="question--input__text">
            <input type="text" id="cover-start-date" placeholder="DD/MM/YYYY" />
        </div>

        <div class="question--input__info">
            Start date must be within 30 days
        </div>
    </div>

    <div class="question">
        I want to cover

        <select id="claim-previous-insurer">
            <option value="individual" selected="selected">just me</option>
            <option value="all">me, my partner and kids</option>
            <option value="partner">me and my partner</option>
            <option value="children">me and my kids</option>
        </select>
    </div>

    <div class="question">
        My partner's date of birth is

        <div class="question--input__text">
            <input type="text" id="partner-dob" placeholder="DD/MM/YYYY" />
        </div>
    </div>

    <div class="question">
        My

        <select id="number-children">
            <option value="1">kid's</option>
            <option value="2" selected="selected">2 kids</option>
        </select>

        dates of birth are

        <div class="question--input__text">
            <input type="text" id="child-1-dob" placeholder="DD/MM/YYYY" />
        </div>

        and

        <div class="question--input__text">
            <input type="text" id="child-2-dob" placeholder="DD/MM/YYYY" />
        </div>
    </div>

    <div class="question">
        By clicking next, I understand the Vitality <a href="#">privacy policy</a>
        and agree to be contracted by the Vitality Group about
        other products and services.
    </div>
</div>
