@using AutoMapper
@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization
@using Vitality.Website.Areas.Presales.ComponentTemplates.QuoteApply
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<QuoteResult>
@{
    var serializerSettings = new JsonSerializerSettings { ContractResolver = new CamelCasePropertyNamesContractResolver() };
    var angularModel = JsonConvert.SerializeObject(Mapper.Map<QuoteResultViewModel>(Model), serializerSettings);
}
<script type="text/javascript">
    window.angularData = window.angularData || {};
    window.angularData.quoteResult = @Html.Raw(angularModel);
    window.angularData.quoteResult.referenceId = "@Context.Request.QueryString["referenceId"]";
</script>

<quote-result>
    <div class="loader__icon"></div>
</quote-result>


<script type="text/javascript">
System.import('/js/quote-result.main.js')
    .catch(function(err) { throw err; });

setTimeout(function() {
    $(".tooltip--link")
        .each((i, el) => {
            var $el = $(el);
            var $content = $el.next(".tooltip--content");
            var isTooltipLeft = $el.hasClass("tooltip--link__left");

            $el.qtip({
                content: {
                    text: $content.html()
                },
                hide: {
                    event: "unfocus"
                },
                position: {
                    adjust: {
                        x: isTooltipLeft ? - 25 : 25
                    },
                    at: (isTooltipLeft ? "left" : "right") + " center",
                    my: (isTooltipLeft ? "right" : "left") + " center",
                },
                show: {
                    event: "click"
                },
                style: {
                    tip: {
                        corner: (isTooltipLeft ? "right" : "left") + " center",
                        mimic: "center",
                        width: 8
                    }
                },
                suppress: true
            });

            $content.remove();
        });

},4000);
</script>

