/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sprite-icon-check-name: 'sprite_icon-check';
$sprite-icon-check-x: 0px;
$sprite-icon-check-y: 0px;
$sprite-icon-check-offset-x: 0px;
$sprite-icon-check-offset-y: 0px;
$sprite-icon-check-width: 32px;
$sprite-icon-check-height: 32px;
$sprite-icon-check-total-width: 143px;
$sprite-icon-check-total-height: 106px;
$sprite-icon-check-image: '../../../images/sprite-generated.png';
$sprite-icon-check: (0px, 0px, 0px, 0px, 32px, 32px, 143px, 106px, '../../../images/sprite-generated.png', 'sprite_icon-check', );
$sprite-icon-chevron-bottom-name: 'sprite_icon-chevron-bottom';
$sprite-icon-chevron-bottom-x: 37px;
$sprite-icon-chevron-bottom-y: 0px;
$sprite-icon-chevron-bottom-offset-x: -37px;
$sprite-icon-chevron-bottom-offset-y: 0px;
$sprite-icon-chevron-bottom-width: 32px;
$sprite-icon-chevron-bottom-height: 32px;
$sprite-icon-chevron-bottom-total-width: 143px;
$sprite-icon-chevron-bottom-total-height: 106px;
$sprite-icon-chevron-bottom-image: '../../../images/sprite-generated.png';
$sprite-icon-chevron-bottom: (37px, 0px, -37px, 0px, 32px, 32px, 143px, 106px, '../../../images/sprite-generated.png', 'sprite_icon-chevron-bottom', );
$sprite-icon-chevron-left-name: 'sprite_icon-chevron-left';
$sprite-icon-chevron-left-x: 0px;
$sprite-icon-chevron-left-y: 37px;
$sprite-icon-chevron-left-offset-x: 0px;
$sprite-icon-chevron-left-offset-y: -37px;
$sprite-icon-chevron-left-width: 32px;
$sprite-icon-chevron-left-height: 32px;
$sprite-icon-chevron-left-total-width: 143px;
$sprite-icon-chevron-left-total-height: 106px;
$sprite-icon-chevron-left-image: '../../../images/sprite-generated.png';
$sprite-icon-chevron-left: (0px, 37px, 0px, -37px, 32px, 32px, 143px, 106px, '../../../images/sprite-generated.png', 'sprite_icon-chevron-left', );
$sprite-icon-chevron-right-name: 'sprite_icon-chevron-right';
$sprite-icon-chevron-right-x: 37px;
$sprite-icon-chevron-right-y: 37px;
$sprite-icon-chevron-right-offset-x: -37px;
$sprite-icon-chevron-right-offset-y: -37px;
$sprite-icon-chevron-right-width: 32px;
$sprite-icon-chevron-right-height: 32px;
$sprite-icon-chevron-right-total-width: 143px;
$sprite-icon-chevron-right-total-height: 106px;
$sprite-icon-chevron-right-image: '../../../images/sprite-generated.png';
$sprite-icon-chevron-right: (37px, 37px, -37px, -37px, 32px, 32px, 143px, 106px, '../../../images/sprite-generated.png', 'sprite_icon-chevron-right', );
$sprite-icon-chevron-top-name: 'sprite_icon-chevron-top';
$sprite-icon-chevron-top-x: 74px;
$sprite-icon-chevron-top-y: 0px;
$sprite-icon-chevron-top-offset-x: -74px;
$sprite-icon-chevron-top-offset-y: 0px;
$sprite-icon-chevron-top-width: 32px;
$sprite-icon-chevron-top-height: 32px;
$sprite-icon-chevron-top-total-width: 143px;
$sprite-icon-chevron-top-total-height: 106px;
$sprite-icon-chevron-top-image: '../../../images/sprite-generated.png';
$sprite-icon-chevron-top: (74px, 0px, -74px, 0px, 32px, 32px, 143px, 106px, '../../../images/sprite-generated.png', 'sprite_icon-chevron-top', );
$sprite-icon-circle-x-name: 'sprite_icon-circle-x';
$sprite-icon-circle-x-x: 74px;
$sprite-icon-circle-x-y: 37px;
$sprite-icon-circle-x-offset-x: -74px;
$sprite-icon-circle-x-offset-y: -37px;
$sprite-icon-circle-x-width: 32px;
$sprite-icon-circle-x-height: 32px;
$sprite-icon-circle-x-total-width: 143px;
$sprite-icon-circle-x-total-height: 106px;
$sprite-icon-circle-x-image: '../../../images/sprite-generated.png';
$sprite-icon-circle-x: (74px, 37px, -74px, -37px, 32px, 32px, 143px, 106px, '../../../images/sprite-generated.png', 'sprite_icon-circle-x', );
$sprite-icon-heart-name: 'sprite_icon-heart';
$sprite-icon-heart-x: 0px;
$sprite-icon-heart-y: 74px;
$sprite-icon-heart-offset-x: 0px;
$sprite-icon-heart-offset-y: -74px;
$sprite-icon-heart-width: 32px;
$sprite-icon-heart-height: 32px;
$sprite-icon-heart-total-width: 143px;
$sprite-icon-heart-total-height: 106px;
$sprite-icon-heart-image: '../../../images/sprite-generated.png';
$sprite-icon-heart: (0px, 74px, 0px, -74px, 32px, 32px, 143px, 106px, '../../../images/sprite-generated.png', 'sprite_icon-heart', );
$sprite-icon-lock-locked-name: 'sprite_icon-lock-locked';
$sprite-icon-lock-locked-x: 37px;
$sprite-icon-lock-locked-y: 74px;
$sprite-icon-lock-locked-offset-x: -37px;
$sprite-icon-lock-locked-offset-y: -74px;
$sprite-icon-lock-locked-width: 32px;
$sprite-icon-lock-locked-height: 32px;
$sprite-icon-lock-locked-total-width: 143px;
$sprite-icon-lock-locked-total-height: 106px;
$sprite-icon-lock-locked-image: '../../../images/sprite-generated.png';
$sprite-icon-lock-locked: (37px, 74px, -37px, -74px, 32px, 32px, 143px, 106px, '../../../images/sprite-generated.png', 'sprite_icon-lock-locked', );
$sprite-icon-lock-unlocked-name: 'sprite_icon-lock-unlocked';
$sprite-icon-lock-unlocked-x: 74px;
$sprite-icon-lock-unlocked-y: 74px;
$sprite-icon-lock-unlocked-offset-x: -74px;
$sprite-icon-lock-unlocked-offset-y: -74px;
$sprite-icon-lock-unlocked-width: 32px;
$sprite-icon-lock-unlocked-height: 32px;
$sprite-icon-lock-unlocked-total-width: 143px;
$sprite-icon-lock-unlocked-total-height: 106px;
$sprite-icon-lock-unlocked-image: '../../../images/sprite-generated.png';
$sprite-icon-lock-unlocked: (74px, 74px, -74px, -74px, 32px, 32px, 143px, 106px, '../../../images/sprite-generated.png', 'sprite_icon-lock-unlocked', );
$sprite-icon-map-marker-name: 'sprite_icon-map-marker';
$sprite-icon-map-marker-x: 111px;
$sprite-icon-map-marker-y: 0px;
$sprite-icon-map-marker-offset-x: -111px;
$sprite-icon-map-marker-offset-y: 0px;
$sprite-icon-map-marker-width: 32px;
$sprite-icon-map-marker-height: 32px;
$sprite-icon-map-marker-total-width: 143px;
$sprite-icon-map-marker-total-height: 106px;
$sprite-icon-map-marker-image: '../../../images/sprite-generated.png';
$sprite-icon-map-marker: (111px, 0px, -111px, 0px, 32px, 32px, 143px, 106px, '../../../images/sprite-generated.png', 'sprite_icon-map-marker', );
$sprite-icon-check-2x-name: 'sprite_icon-check@2x';
$sprite-icon-check-2x-x: 0px;
$sprite-icon-check-2x-y: 0px;
$sprite-icon-check-2x-offset-x: 0px;
$sprite-icon-check-2x-offset-y: 0px;
$sprite-icon-check-2x-width: 64px;
$sprite-icon-check-2x-height: 64px;
$sprite-icon-check-2x-total-width: 286px;
$sprite-icon-check-2x-total-height: 212px;
$sprite-icon-check-2x-image: '../../../images/sprite-generated@2x.png';
$sprite-icon-check-2x: (0px, 0px, 0px, 0px, 64px, 64px, 286px, 212px, '../../../images/sprite-generated@2x.png', 'sprite_icon-check@2x', );
$sprite-icon-chevron-bottom-2x-name: 'sprite_icon-chevron-bottom@2x';
$sprite-icon-chevron-bottom-2x-x: 74px;
$sprite-icon-chevron-bottom-2x-y: 0px;
$sprite-icon-chevron-bottom-2x-offset-x: -74px;
$sprite-icon-chevron-bottom-2x-offset-y: 0px;
$sprite-icon-chevron-bottom-2x-width: 64px;
$sprite-icon-chevron-bottom-2x-height: 64px;
$sprite-icon-chevron-bottom-2x-total-width: 286px;
$sprite-icon-chevron-bottom-2x-total-height: 212px;
$sprite-icon-chevron-bottom-2x-image: '../../../images/sprite-generated@2x.png';
$sprite-icon-chevron-bottom-2x: (74px, 0px, -74px, 0px, 64px, 64px, 286px, 212px, '../../../images/sprite-generated@2x.png', 'sprite_icon-chevron-bottom@2x', );
$sprite-icon-chevron-left-2x-name: 'sprite_icon-chevron-left@2x';
$sprite-icon-chevron-left-2x-x: 0px;
$sprite-icon-chevron-left-2x-y: 74px;
$sprite-icon-chevron-left-2x-offset-x: 0px;
$sprite-icon-chevron-left-2x-offset-y: -74px;
$sprite-icon-chevron-left-2x-width: 64px;
$sprite-icon-chevron-left-2x-height: 64px;
$sprite-icon-chevron-left-2x-total-width: 286px;
$sprite-icon-chevron-left-2x-total-height: 212px;
$sprite-icon-chevron-left-2x-image: '../../../images/sprite-generated@2x.png';
$sprite-icon-chevron-left-2x: (0px, 74px, 0px, -74px, 64px, 64px, 286px, 212px, '../../../images/sprite-generated@2x.png', 'sprite_icon-chevron-left@2x', );
$sprite-icon-chevron-right-2x-name: 'sprite_icon-chevron-right@2x';
$sprite-icon-chevron-right-2x-x: 74px;
$sprite-icon-chevron-right-2x-y: 74px;
$sprite-icon-chevron-right-2x-offset-x: -74px;
$sprite-icon-chevron-right-2x-offset-y: -74px;
$sprite-icon-chevron-right-2x-width: 64px;
$sprite-icon-chevron-right-2x-height: 64px;
$sprite-icon-chevron-right-2x-total-width: 286px;
$sprite-icon-chevron-right-2x-total-height: 212px;
$sprite-icon-chevron-right-2x-image: '../../../images/sprite-generated@2x.png';
$sprite-icon-chevron-right-2x: (74px, 74px, -74px, -74px, 64px, 64px, 286px, 212px, '../../../images/sprite-generated@2x.png', 'sprite_icon-chevron-right@2x', );
$sprite-icon-chevron-top-2x-name: 'sprite_icon-chevron-top@2x';
$sprite-icon-chevron-top-2x-x: 148px;
$sprite-icon-chevron-top-2x-y: 0px;
$sprite-icon-chevron-top-2x-offset-x: -148px;
$sprite-icon-chevron-top-2x-offset-y: 0px;
$sprite-icon-chevron-top-2x-width: 64px;
$sprite-icon-chevron-top-2x-height: 64px;
$sprite-icon-chevron-top-2x-total-width: 286px;
$sprite-icon-chevron-top-2x-total-height: 212px;
$sprite-icon-chevron-top-2x-image: '../../../images/sprite-generated@2x.png';
$sprite-icon-chevron-top-2x: (148px, 0px, -148px, 0px, 64px, 64px, 286px, 212px, '../../../images/sprite-generated@2x.png', 'sprite_icon-chevron-top@2x', );
$sprite-icon-circle-x-2x-name: 'sprite_icon-circle-x@2x';
$sprite-icon-circle-x-2x-x: 148px;
$sprite-icon-circle-x-2x-y: 74px;
$sprite-icon-circle-x-2x-offset-x: -148px;
$sprite-icon-circle-x-2x-offset-y: -74px;
$sprite-icon-circle-x-2x-width: 64px;
$sprite-icon-circle-x-2x-height: 64px;
$sprite-icon-circle-x-2x-total-width: 286px;
$sprite-icon-circle-x-2x-total-height: 212px;
$sprite-icon-circle-x-2x-image: '../../../images/sprite-generated@2x.png';
$sprite-icon-circle-x-2x: (148px, 74px, -148px, -74px, 64px, 64px, 286px, 212px, '../../../images/sprite-generated@2x.png', 'sprite_icon-circle-x@2x', );
$sprite-icon-heart-2x-name: 'sprite_icon-heart@2x';
$sprite-icon-heart-2x-x: 0px;
$sprite-icon-heart-2x-y: 148px;
$sprite-icon-heart-2x-offset-x: 0px;
$sprite-icon-heart-2x-offset-y: -148px;
$sprite-icon-heart-2x-width: 64px;
$sprite-icon-heart-2x-height: 64px;
$sprite-icon-heart-2x-total-width: 286px;
$sprite-icon-heart-2x-total-height: 212px;
$sprite-icon-heart-2x-image: '../../../images/sprite-generated@2x.png';
$sprite-icon-heart-2x: (0px, 148px, 0px, -148px, 64px, 64px, 286px, 212px, '../../../images/sprite-generated@2x.png', 'sprite_icon-heart@2x', );
$sprite-icon-lock-locked-2x-name: 'sprite_icon-lock-locked@2x';
$sprite-icon-lock-locked-2x-x: 74px;
$sprite-icon-lock-locked-2x-y: 148px;
$sprite-icon-lock-locked-2x-offset-x: -74px;
$sprite-icon-lock-locked-2x-offset-y: -148px;
$sprite-icon-lock-locked-2x-width: 64px;
$sprite-icon-lock-locked-2x-height: 64px;
$sprite-icon-lock-locked-2x-total-width: 286px;
$sprite-icon-lock-locked-2x-total-height: 212px;
$sprite-icon-lock-locked-2x-image: '../../../images/sprite-generated@2x.png';
$sprite-icon-lock-locked-2x: (74px, 148px, -74px, -148px, 64px, 64px, 286px, 212px, '../../../images/sprite-generated@2x.png', 'sprite_icon-lock-locked@2x', );
$sprite-icon-lock-unlocked-2x-name: 'sprite_icon-lock-unlocked@2x';
$sprite-icon-lock-unlocked-2x-x: 148px;
$sprite-icon-lock-unlocked-2x-y: 148px;
$sprite-icon-lock-unlocked-2x-offset-x: -148px;
$sprite-icon-lock-unlocked-2x-offset-y: -148px;
$sprite-icon-lock-unlocked-2x-width: 64px;
$sprite-icon-lock-unlocked-2x-height: 64px;
$sprite-icon-lock-unlocked-2x-total-width: 286px;
$sprite-icon-lock-unlocked-2x-total-height: 212px;
$sprite-icon-lock-unlocked-2x-image: '../../../images/sprite-generated@2x.png';
$sprite-icon-lock-unlocked-2x: (148px, 148px, -148px, -148px, 64px, 64px, 286px, 212px, '../../../images/sprite-generated@2x.png', 'sprite_icon-lock-unlocked@2x', );
$sprite-icon-map-marker-2x-name: 'sprite_icon-map-marker@2x';
$sprite-icon-map-marker-2x-x: 222px;
$sprite-icon-map-marker-2x-y: 0px;
$sprite-icon-map-marker-2x-offset-x: -222px;
$sprite-icon-map-marker-2x-offset-y: 0px;
$sprite-icon-map-marker-2x-width: 64px;
$sprite-icon-map-marker-2x-height: 64px;
$sprite-icon-map-marker-2x-total-width: 286px;
$sprite-icon-map-marker-2x-total-height: 212px;
$sprite-icon-map-marker-2x-image: '../../../images/sprite-generated@2x.png';
$sprite-icon-map-marker-2x: (222px, 0px, -222px, 0px, 64px, 64px, 286px, 212px, '../../../images/sprite-generated@2x.png', 'sprite_icon-map-marker@2x', );
$spritesheet-width: 143px;
$spritesheet-height: 106px;
$spritesheet-image: '../../../images/sprite-generated.png';
$spritesheet-sprites: ($sprite-icon-check, $sprite-icon-chevron-bottom, $sprite-icon-chevron-left, $sprite-icon-chevron-right, $sprite-icon-chevron-top, $sprite-icon-circle-x, $sprite-icon-heart, $sprite-icon-lock-locked, $sprite-icon-lock-unlocked, $sprite-icon-map-marker, );
$spritesheet: (143px, 106px, '../../../images/sprite-generated.png', $spritesheet-sprites, );
$retina-spritesheet-width: 286px;
$retina-spritesheet-height: 212px;
$retina-spritesheet-image: '../../../images/sprite-generated@2x.png';
$retina-spritesheet-sprites: ($sprite-icon-check-2x, $sprite-icon-chevron-bottom-2x, $sprite-icon-chevron-left-2x, $sprite-icon-chevron-right-2x, $sprite-icon-chevron-top-2x, $sprite-icon-circle-x-2x, $sprite-icon-heart-2x, $sprite-icon-lock-locked-2x, $sprite-icon-lock-unlocked-2x, $sprite-icon-map-marker-2x, );
$retina-spritesheet: (286px, 212px, '../../../images/sprite-generated@2x.png', $retina-spritesheet-sprites, );

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
$sprite-icon-check-group-name: 'sprite_icon-check';
$sprite-icon-check-group: ('sprite_icon-check', $sprite-icon-check, $sprite-icon-check-2x, );
$sprite-icon-chevron-bottom-group-name: 'sprite_icon-chevron-bottom';
$sprite-icon-chevron-bottom-group: ('sprite_icon-chevron-bottom', $sprite-icon-chevron-bottom, $sprite-icon-chevron-bottom-2x, );
$sprite-icon-chevron-left-group-name: 'sprite_icon-chevron-left';
$sprite-icon-chevron-left-group: ('sprite_icon-chevron-left', $sprite-icon-chevron-left, $sprite-icon-chevron-left-2x, );
$sprite-icon-chevron-right-group-name: 'sprite_icon-chevron-right';
$sprite-icon-chevron-right-group: ('sprite_icon-chevron-right', $sprite-icon-chevron-right, $sprite-icon-chevron-right-2x, );
$sprite-icon-chevron-top-group-name: 'sprite_icon-chevron-top';
$sprite-icon-chevron-top-group: ('sprite_icon-chevron-top', $sprite-icon-chevron-top, $sprite-icon-chevron-top-2x, );
$sprite-icon-circle-x-group-name: 'sprite_icon-circle-x';
$sprite-icon-circle-x-group: ('sprite_icon-circle-x', $sprite-icon-circle-x, $sprite-icon-circle-x-2x, );
$sprite-icon-heart-group-name: 'sprite_icon-heart';
$sprite-icon-heart-group: ('sprite_icon-heart', $sprite-icon-heart, $sprite-icon-heart-2x, );
$sprite-icon-lock-locked-group-name: 'sprite_icon-lock-locked';
$sprite-icon-lock-locked-group: ('sprite_icon-lock-locked', $sprite-icon-lock-locked, $sprite-icon-lock-locked-2x, );
$sprite-icon-lock-unlocked-group-name: 'sprite_icon-lock-unlocked';
$sprite-icon-lock-unlocked-group: ('sprite_icon-lock-unlocked', $sprite-icon-lock-unlocked, $sprite-icon-lock-unlocked-2x, );
$sprite-icon-map-marker-group-name: 'sprite_icon-map-marker';
$sprite-icon-map-marker-group: ('sprite_icon-map-marker', $sprite-icon-map-marker, $sprite-icon-map-marker-2x, );
$retina-groups: ($sprite-icon-check-group, $sprite-icon-chevron-bottom-group, $sprite-icon-chevron-left-group, $sprite-icon-chevron-right-group, $sprite-icon-chevron-top-group, $sprite-icon-circle-x-group, $sprite-icon-heart-group, $sprite-icon-lock-locked-group, $sprite-icon-lock-unlocked-group, $sprite-icon-map-marker-group, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );

.icon-home {
  @include retina-sprite($icon-home-group);
}
*/
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

/*
The `retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in SCSS

@include retina-sprites($retina-groups);
*/
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
