<div class="product-hero feature-block feature-block--primary">
    <div class="feature-block__image">
        <img src="/img/search-background.png" alt="Stanley">
    </div>

    <div class="feature-block__content-container">
        <div class="feature-block__content">
            <img class="lead-in" src="img/vitality-logo--white.svg" alt="Vitality logo">

            <h1>Private Health Insurance with Rewards</h1>

            <p>
                We're making it cheaper and easier to
                live healthier by rewarding members for getting active.
            </p>

            <a href="#" class="button-cta">
                The benefits of Vitality Health
            </a>
        </div>
    </div>
</div>