section div.scLooseFrameZone {
    overflow-y: initial;
} 

// Force the width on grid items whilst editing.
.grid {
    .grid-col-6-12, .scLooseFrameZone.scEnabledChrome {
        width: 100%;
    }
}

// Keep cards inline.
.spotlight__list div.scLooseFrameZone.scEnabledChrome {
    display: inline;
}

.cards-stacked li span {
    color: #000;
}

.feature-block__image-list div.scLooseFrameZone {
    display: inline;
} 