section div.scLooseFrameZone {
    overflow-y: initial;
} 

// Force the width on grid items whilst editing.
.grid {
    .grid-col-6-12, .scLooseFrameZone.scEnabledChrome {
        width: 100%;
    }
}
