@import "../utils/mixins";

.log-in {
    width: 100%;
    background-color: $white;

    &__content {
        padding: 20px;
    }

    &__avatar {
        display: block;
        margin: 0 auto;
        border-radius: 50%;
        width: 90px;
        height: 90px;
        background-color: $primary-color;
        overflow: hidden;
        //To make overflow clipping work on transform anim below -
        transform: translateZ(0);

        img {
            max-width: 90px;
            max-height: 90px;
            transform: translateY(90px);
            transition: transform 0.5s 0s cubic-bezier(0.55, 0.085, 0.68, 0.53); // anim out - easeInQuad
            .log-in-open &,
            .utility-nav__item:hover .log-in--large &,
            .utility-nav__item:focus .log-in--large &,
            .utility-nav__item.is-active .log-in--large & {
                transition: transform 0.5s 0.4s cubic-bezier(0.19, 1, 0.22, 1); // anim in - easeOutExpo
                transform: translateY(0);
            }
        }
    }

    &__header {
        @include font-size(2);
        text-align: center;
        color: $grey;
        font-weight: 500;
    }

    &__links {
        max-width: 350px;
        margin: 0 auto 30px auto;
    }

    &__forgotten {
        @include font-size(1.3);
        text-transform: uppercase;
        text-align: center;
        color: $grey;
        padding: 30px 0;
        border-top: 1px solid $outline-color;
        border-bottom: 1px solid $outline-color;
        letter-spacing: 0.1em;

        a,
        a:hover,
        a:focus {
            text-decoration: none;
        }
    }
}



@media only screen and (min-width : $breakpoint-medium) {

    .log-in--small {
        display: none;
    }

    .log-in--large {
        @include ensure-at-front;
        position: absolute;
        visibility: hidden;
        top: 100%;
        top: calc(100% + 1px);
        right: 0;
        width: 300px;
        cursor: default;
        box-shadow: 0 0 20px -2px $dropshadow-color;

        .log-in__forgotten {
            padding: 10px 0;
        }

        .log-in__links a {
            padding: 0;
        }

        .log-in-open & {
            display: block;
        }
    }

    .utility-nav__item:hover .log-in--large,
    .log-in-open .log-in--large {
        visibility: visible;
    }
}





//Mobile toggle -
@media only screen and (max-width : $breakpoint-under-medium) {

    .log-in {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.75s ease;

        .log-in-open & {
            max-height: 750px;
        }
    }
}
