.burger-menu {
    $burger-size: 22px;

    display: inline-block;
    height: $burger-size;
    margin: 0 auto;
    width: $burger-size * 1.2;

    span,
    span::before,
    span::after {
        display: block;
        width: 100%;
        height: $burger-size / 5;
        background: $grey;
        transition: all 0.5s;
        backface-visibility: hidden;
    }

    span {
        position: relative;
        margin: ($burger-size * 2 / 5) 0 0;
    }

    span::before,
    span::after {
        content: "";
        position: absolute;
    }

    span::before {
        top: $burger-size * -2 / 5;
    }

    span::after {
        top: $burger-size * 2 / 5;
    }

    .mainmenu-open & {
        span::before {
            transform: translate(0, ($burger-size * 2 / 5)) rotate(-45deg);
        }

        span::after {
            transform: translate(0, -($burger-size * 2 / 5)) rotate(45deg);
        }

        span {
            background: transparent;
        }
    }
}
