.box-button {
    @mixin _colour-button($colour) {
        background-color: $colour;

        &:focus, &:hover {
            background-color: darken($colour, $darken-percentage);
        }
    }

    @mixin _inverse-button($colour) {
        background-color: $white;
        border-color: $colour;
        color: $colour;

        &:focus, &:hover {
            color: darken($colour, $darken-percentage);
        }
    }

    @extend .font-weight--bold;
    display: inline-block;
    text-decoration: none;
    padding: $pad--thin $pad;
    margin: 0 $pad--thin $pad--thin 0;
    position: relative;
    background-color: transparent;
    text-align: center;
    border: 1px solid;
    border-color: $body-color;
    color: $body-color;
    box-shadow: inset 0 0 0 0 $body-color;
    transition: box-shadow 0.2s;

    &:focus, &:hover {
        color: $body-color;
        box-shadow: inset 0 0 0 1px $body-color;
    }

    &--full-width {
        display: block;
        width: 100%;
    }

    &--white,
    &--light {
        border-color: $white;
        color: $white;
        box-shadow: inset 0 0 0 0 $white;

        &:focus, &:hover {
            color: $white;
            box-shadow: inset 0 0 0 1px $white;
        }
    }

    &--dark {
        border-color: $heading-color;
        color: $heading-color;
        box-shadow: inset 0 0 0 0 $heading-color;

        &:focus, &:hover {
            color: $heading-color;
            box-shadow: inset 0 0 0 1px $heading-color;
        }
    }

    &--rounded {
        @include rounding;
    }

    // Colour modifiers.
    &--primary,
    &--secondary,
    &--tertiary {
        transition: background-color 0.2s;

        &, &:focus, &:hover {
            border: 0;
            box-shadow: none;
            color: $white;
        }
    }

    &--primary {
        @include _colour-button($primary-color);
    }

    &--primary-inverse {
       @include _inverse-button($primary-color);
    }

    &--secondary {
        @include _colour-button($secondary-color);
    }

    &--secondary-inverse {
        @include _inverse-button($secondary-color);
    }

    &--tertiary {
        @include _colour-button($tertiary-color);
    }

    &--tertiary-inverse {
        @include _inverse-button($tertiary-color);
    }
}
