.box-button {
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px 10px 0;
    position: relative;
    background-color: transparent;
    text-align: center;
    border: 1px solid;
    border-color: $body-color;
    color: $body-color;
    box-shadow: inset 0 0 0 0 $body-color;
    transition: box-shadow 0.2s;

    &:hover,
    &:focus {
        color: $body-color;
        box-shadow: inset 0 0 0 1px $body-color;
    }

    &--full-width {
        display: block;
        width: 100%;
    }

    &--light {
        border-color: $white;
        color: $white;
        box-shadow: inset 0 0 0 0 $white;

        &:hover,
        &:focus {
            color: $white;
            box-shadow: inset 0 0 0 1px $white;
        }
    }

    &--dark {
        border-color: $heading-color;
        color: $heading-color;
        box-shadow: inset 0 0 0 0 $heading-color;

        &:hover,
        &:focus {
            color: $heading-color;
            box-shadow: inset 0 0 0 1px $heading-color;
        }
    }

    &--rounded {
        @include rounding;
    }

    //Colour modifiers -
    &--primary,
    &--secondary,
    &--tertiary {
        transition: background-color 0.2s;

        &,
        &:hover,
        &:focus {
            color: $white;
            border: 0;
            box-shadow: none;
        }
    }

    &--primary {
        background-color: $primary-color;

        &:hover,
        &:focus {
            background-color: $primary-color--dark;
        }
    }

    &--secondary {
        background-color: $secondary-color;

        &:hover,
        &:focus {
            background-color: $secondary-color--dark;
        }
    }

    &--tertiary {
        background-color: $tertiary-color;

        &:hover,
        &:focus {
            background-color: $tertiary-color--dark;
        }
    }
}
