//
//  Mixin used to define style for disabled button text in one place -
//

@mixin disabled-button-text {
    &,
    &:hover,
    &:focus {
        @include alpha-attribute(color, rgba($black, 0.3), $white);
    }
}


//
// Call to action buttons, internal buttons and process-step buttons, all use the same base styling
//

.button-cta,
.button-light,
.button-list,
.button-internal,
.button-step {
    color: $body-color;
    line-height: 1.25;
    padding: 15px 65px 14px 20px;
    position: relative;
    text-align: left;
    text-decoration: none;
    vertical-align: middle;
}

// List buttons are flatter, hence the specific styling.
.button-list {
    @extend .font-weight--light;
    background: $primary-background-color;
    border: 0;
    transition: color 0.2s;

    &:focus,
    &:hover {
        color: $primary-color;
    }

    &--selected {
        cursor: not-allowed;

        &:focus,
        &:hover {
            color: $body-color;
        }

        &::before {
            @include retina-sprite($sprite-button-arrow-right-group);
            background-color: $body-color;
            content: "";
            border-radius: 50%;
            display: block;
            height: 20px;
            position: absolute;
            right: 15px;
            top: 12px;
            top: calc(50% - $pad--thin);
            width: $pad;
        }
    }
}

.button-cta,
.button-light,
.button-internal,
.button-step {
    @extend .font-weight--semi-bold;
    @include alpha-attribute(border-color, rgba($black, 0.4), $white);
    display: inline-block;
    border-width: 5px;
    border-style: solid;
    border-radius: 4px;
    margin: 0 $pad--thin $pad--thin 0;
    background-color: $white;

    // Prevent background colour interfering with border opacity.
    background-clip: padding-box;

    // Animate the border and text colour on hover.
    transition: border-color 0.4s, color 0.2s;

    &:hover,
    &:focus {
        @include alpha-attribute(border-color, rgba($black, 0.6), $white);
        color: $primary-color;
    }

    // Circle and arrow icon.
    &::before {
        @include retina-sprite($sprite-button-arrow-right-group);
        content: "";
        display: block;
        width: $pad;
        height: $pad;
        position: absolute;
        top: 12px;
        top: calc(50% - 10px);
        right: 15px;
        border-radius: 50%;
        background-color: $primary-color;
        transition: transform 0.4s, background-color 0.4s; //Circle Hover effect where possible
    }

    // Circle hover effect.
    &:hover::before,
    &:focus::before {
        transform: translateX(2px);
    }

    // Right hand box and keyline.
    &::after {
        content: "";
        display: block;
        width: 50px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        border-left: 1px solid rgba(0, 0, 0, 0.2);
    }

    // Modifier: disabled.
    &--disabled {
        @include disabled-button-text;
        cursor: not-allowed;
        background-color: $color-mono-14;

        &::before {
            background-color: $primary-color--light;
        }

        // No border or icon animations on the disabled buttons,
        &:hover,
        &:focus {
            @include alpha-attribute(border-color, rgba($black, 0.4), $white);
        }

        &:hover::before,
        &:focus::before {
            transform: none;
            background-color: $primary-color--light;
        }

        &::before,
        &:hover::before,
        &:focus::before {
            @include alpha-attribute(background-color, rgba($black, 0.4), $white);
        }
    }
}

//
//  Overrides for internal button -
//

.button-internal {
    &::before {
        // Downwards pointing arrow -
        @include retina-sprite($sprite-button-arrow-down-group);
    }

    &:hover::before,
    &:focus::before {
        // Icon animation down rather than right -
        transform: translateY(2px);
    }
}

.button-light,
.button-internal {
    text-transform: normal;

    &--disabled {
        @include disabled-button-text;

        &::before {
            background-color: $color-mono-11;
        }

        &:hover::before,
        &:focus::before {
            transform: none;
            background-color: $color-mono-11;
        }
    }
}

.button-light {
    &::before {
        @include alpha-attribute(background-color, rgba($black, 0.4), $white);
    }

    &:hover::before,
    &:focus::before {
        @include alpha-attribute(background-color, rgba($black, 0.6), $white);
    }
}

//
//  Overrides for step button -
//
.button-step {
    color: $white;
    background-color: $primary-color;

    &::before {
        @include alpha-attribute(background-color, rgba($black, 0.4), $white);
    }

    &:hover,
    &:focus {
        color: $white;
    }

    &:hover::before,
    &:focus::before {
        @include alpha-attribute(background-color, rgba($black, 0.6), $white);
    }

    &--disabled {
        @include disabled-button-text;

        &::before {
            @include alpha-attribute(background-color, rgba($black, 0.2), $white);
        }

        &:hover::before,
        &:focus::before {
            @include alpha-attribute(background-color, rgba($black, 0.2), $white);
            transform: none;
        }
    }
}

.button-step--secondary {
    background-color: $secondary-color;
}

.button-step--highlight {
    background-color: $highlight-color;
}

.button-step--error {
    background-color: $error-color;
}
