ul.dropdown {
    @include rounding;
    border: 1px solid $color-mono-12;
    list-style-type: none;
    margin: 0;
    padding: $pad--thin 0;

    li {
        cursor: pointer;
        padding: $pad--thin $pad;

        &:hover {
            color: $primary-color;
        }
    }
}
