//**
// Form Elements
//**

.form {
    // Generic -
    label {
        display: block;
        margin-bottom: 0.25em;
    }

    select,
    input[type="url"],
    input[type="text"],
    input[type="email"],
    input[type="phone"],
    input[type="password"],
    input[type="number"],
    input[type="search"],
    input[type="submit"],
    textarea {
        @include rounding;
        display: block;
        width: 100%;
        height: 2.5em;
        box-shadow: inset 0 1px 2px rgba($black, 0.05);
        border: 1px solid $color-mono-12;
        outline: none;
        padding: 5px 10px;

        &:focus {
            border-color: $primary-color--light;
        }
    }
    // Match datepicker filed width to the datepicker widget
    input[type="text"].datepicker {
        max-width: 215px;
    }

    textarea {
        min-height: 10em;
        resize: vertical;
    }

    fieldset {
        border: 0;
        margin: 0;
        padding: 0;
    }

    &__field {
        margin-bottom: 1.75em;
        max-width: 350px;

        &__description {
            position: relative;
            margin-bottom: 0.5em;
        }

        &__input {
            position: relative;
        }
        //Styled select boxes -
        &__input--select {
            //If the browser supports css pointer events, restyle the
            .csspointerevents & {

                select {
                    position: relative;
                    padding-right: 32px;
                    //Hide default down arrow -
                    -webkit-appearance: none; // autoprefixer won't add this and we still need it
                    appearance: none;
                    -moz-appearance: none;
                    text-indent: 1px;
                    text-overflow: '';
                }

                select::-ms-expand {
                    //Hide default down arrow in IE -
                    display: none;
                }

                &:before {
                    @include retina-sprite($sprite-arrow-down-group);
                    content: "";
                    display: block;
                    position: absolute;
                    top: 12px;
                    right: 8px;
                    width: 16px;
                    height: 16px;
                    z-index: 2;
                    pointer-events: none;
                }
            }
        }
        // Styled submit button -
        &__input--submit {
            input[type="submit"]:hover {
                background-color: $color-mono-3;
                color: $white;
            }
        }
        //Styled checkboxes & radio buttons -
        &__input--checkbox input[type="checkbox"],
        &__input--checkbox input[type="radio"] {
            display: none;

            ~ label {
                padding-left: 30px;
                position: relative;
                cursor: pointer;
            }

            ~ label:before {
                @include rounding;
                content: "";
                display: block;
                width: 19px;
                height: 19px;
                vertical-align: middle;
                position: absolute;
                top: 0.2em;
                left: 0;
                cursor: pointer;
                margin-right: 10px;
                padding-left: 4px;
                line-height: 19px;
                border: 1px solid $black;
            }

            &:checked ~ label:after {
                content: "\2713"; // Tick
                font-weight: 600;
                color: $primary-color;
                top: -9px;
                left: 3px;
                font-size: 24px;
                display: block;
                position: absolute;

                $shadow-spread: 1px;

                text-shadow: - $shadow-spread - $shadow-spread 0 $white, $shadow-spread - $shadow-spread 0 $white, - $shadow-spread $shadow-spread 0 $white, $shadow-spread $shadow-spread 0 $white;
            }

            &:checked ~ label:before {
                border-color: $primary-color;
            }
        }
        //Styled checkboxes specific -
        //&__input--checkbox input[type="checkbox"]{
        //}
        //Styled radio buttons specific -
        &__input--checkbox input[type="radio"] {

            ~ label:before {
                left: 0;
                top: 5px;
                border-radius: 50%;
                width: 18px;
                height: 18px;
                margin-left: 0;
                line-height: 19px;
                text-indent: -5px;
            }
        }

        &__error {
            margin-top: 4px;
            font-weight: 700;
            color: $error-color;

            p {
                margin-top: 0;
            }
        }

        &.is-invalid {
            select,
            input[type="url"],
            input[type="text"],
            input[type="email"],
            input[type="phone"],
            input[type="password"],
            input[type="number"],
            input[type="search"],
            textarea {
                border: 2px solid $error-color;
            }
        }

        &.is-empty {
            select,
            input[type="url"],
            input[type="text"],
            input[type="email"],
            input[type="phone"],
            input[type="password"],
            input[type="number"],
            input[type="search"],
            textarea {
                border: 2px solid $error-color--light;
            }
        }
    }
}
