.form {
    // Generic.
    label {
        display: block;
        margin-bottom: 0.25em;
    }

    select,
    input[type="url"],
    input[type="text"],
    input[type="email"],
    input[type="phone"],
    input[type="password"],
    input[type="number"],
    input[type="search"],
    input[type="submit"],
    textarea {
        @include rounding;
        display: block;
        width: 100%;
        height: 2.5em;
        box-shadow: inset 0 1px 2px rgba($black, 0.05);
        border: 1px solid $color-mono-12;
        outline: none;
        padding: $pad--xthin $pad--thin;

        &:focus {
            border-color: $primary-color--light;
        }
    }

    textarea {
        min-height: 10em;
        resize: vertical;
    }

    fieldset {
        border: 0;
        margin: 0;
        padding: 0;
    }

    &__field {
        margin-bottom: 1.75em;

        &__description {
            position: relative;
            margin-bottom: 0.5em;
        }

        &__input {
            position: relative;

            &--inline {
                // Unfortunately, need this to easily override a grid...
                padding-top: $pad--large !important;
            }
        }

        // Styled select boxes.
        &__input--select {
            // If the browser supports CSS pointer events, restyle it.
            .csspointerevents & {
                select {
                    position: relative;
                    padding-right: 32px;

                    // Hide default down arrow.
                    // Autoprefixer will not add this and we still need it.
                    -webkit-appearance: none;
                    appearance: none;
                    -moz-appearance: none;
                    text-indent: 1px;
                    text-overflow: "";
                }

                select::-ms-expand {
                    // Hide the default down arrow in IE.
                    display: none;
                }

                &::before {
                    @include retina-sprite($sprite-arrow-down-group);
                    content: "";
                    display: block;
                    position: absolute;
                    top: 12px;
                    right: 8px;
                    width: 16px;
                    height: 16px;
                    z-index: 2;
                    pointer-events: none;
                }
            }
        }

        // Styled submit button.
        &__input--submit {
            &--inline {
                $_pad: $pad--thin * 0.7;
                padding-bottom: $_pad;
                padding-top: $_pad;
            }

            input[type="submit"]:hover {
                background-color: $color-mono-3;
                color: $white;
            }
        }

        // Styled checkboxes & radio buttons.
        &__input--checkbox {
            input[type="checkbox"], input[type="radio"] {
                display: none;

                ~ label {
                    padding-left: 30px;
                    position: relative;
                    cursor: pointer;
                }

                ~ label::before {
                    @include rounding;
                    content: "";
                    display: block;
                    width: 19px;
                    height: 19px;
                    vertical-align: middle;
                    position: absolute;
                    top: 0.2em;
                    left: 0;
                    cursor: pointer;
                    margin-right: 10px;
                    padding-left: 4px;
                    line-height: 19px;
                    border: 1px solid $black;
                }

                &:checked ~ label::after {
                    // Tick.
                    @extend .font-weight--semi-bold;
                    content: "\2713";
                    color: $primary-color;
                    top: -9px;
                    left: 3px;
                    font-size: 24px;
                    display: block;
                    position: absolute;

                    $shadow-spread: 1px;

                    text-shadow: - $shadow-spread - $shadow-spread 0 $white, $shadow-spread - $shadow-spread 0 $white, - $shadow-spread $shadow-spread 0 $white, $shadow-spread $shadow-spread 0 $white;
                }

                &:checked ~ label::before {
                    border-color: $primary-color;
                }
            }
        }

        // Styled radio buttons specific.
        &__input--checkbox input[type="radio"] {
            ~ label::before {
                left: 0;
                top: 5px;
                border-radius: 50%;
                width: 18px;
                height: 18px;
                margin-left: 0;
                line-height: 19px;
                text-indent: -5px;
            }
        }

        &__error {
            @extend .font-weight--bold;
            color: $error-color;
            margin-top: 4px;

            p {
                margin-top: 0;
            }
        }

        &.is-invalid {
            select,
            input[type="url"],
            input[type="text"],
            input[type="email"],
            input[type="phone"],
            input[type="password"],
            input[type="number"],
            input[type="search"],
            textarea {
                border: 2px solid $error-color;
            }
        }

        &.is-empty {
            select,
            input[type="url"],
            input[type="text"],
            input[type="email"],
            input[type="phone"],
            input[type="password"],
            input[type="number"],
            input[type="search"],
            textarea {
                border: 2px solid $error-color--light;
            }
        }
    }
}
