.label {
    border-radius: $pad;
    color: $white;
    display: inline-block;

    // Pad to the right and below, so that sit together and stack nicely.
    margin: 0 $pad--thin $pad--thin 0;

    padding: $pad--xthin $pad;

    &--primary {
        background-color: $primary-color;
    }

    &--secondary {
        background-color: $secondary-color;
    }

    &--tertiary {
        background-color: $tertiary-color;
    }

    &--highlight {
        background: $highlight-color;
    }

    a {
        color: $white;
        cursor: pointer;
        text-decoration: none;

        &:hover {
            color: $white;
            text-decoration: underline;
        }
    }
}
