ul {
    &.list--buttons {
        list-style-type: none;
        padding: 0;

        li {
            margin-bottom: 1px;

            a {
                display: block;
                margin: 0;
            }
        }
    }
}
