body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.page-footer {
    flex: none;
}

.page {
    flex: 1 0 auto;
    width: 100%;
}

.page::after {
    content: "\00a0"; // &nbsp;
    display: block;
    height: 0;
    visibility: hidden;
}
