// Type

html {
    font-size: 62.5%;
}

body {
    @include font-size($basesize);
    font-family: $font-body;
    font-weight: 300;
    word-wrap: break-word;
    line-height: 1.7;
    color: $body-color;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba($black, 0.004);
}

p {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

a {
    color: currentColor;
    font-weight: bold;
}

a:focus,
a:hover,
a.js-focus {
    color: $primary-color;
}

.emphasis-link {
    display: inline-block;
    position: relative;
    margin: $pad 0;
    text-decoration: none;
    color: $primary-color;

    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        transition: bottom 0.2s ease;
        border-bottom: 2px dotted $primary-color;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    line-height: 1;
    font-family: $font-heading;
    font-weight: 300;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    color: $heading-color;
}

h1,
.h1 {
    @include font-size($h1);
    font-weight: 600;
}

h2,
.h2 {
    @include font-size($h2);
}

h3,
.h3 {
    @include font-size($h3);
}

h4,
.h4 {
    @include font-size($h4);
}

h5,
.h5 {
    @include font-size($h5);
}

h6,
.h6 {
    @include font-size($h6);
}

// Increase heading size on larger screens -
@include mq($from: tablet) {
    h1,
    .h1 {
        @include font-size($h1--large);
    }

    h2,
    .h2 {
        @include font-size($h2--large);
    }

    h3,
    .h3 {
        @include font-size($h3--large);
    }

    h4,
    .h4 {
        @include font-size($h4--large);
    }

    h5,
    .h5 {
        @include font-size($h5--large);
    }

    h6,
    .h6 {
        @include font-size($h6--large);
    }
}

strong,
.bold,
b {
    font-weight: bold;
}

em,
i {
    font-style: italic;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

sub {
    vertical-align: sub;
    font-size: smaller;
}

abbr {
    border-bottom: 1px dotted currentColor;
    cursor: help;
}

code,
kbd,
pre,
samp {
    @include font-size(1.2);
    display: block;
    font-family: monospace, monospace;
}

blockquote {
    margin: $pad $pad $pad #{2 * $pad};
    padding-left: 15px;
    border-left: 3px solid $secondary-color;

    cite {
        font-weight: 700;
    }
}

//Definition list
dt {
    font-weight: 700;
    text-decoration: underline;
    color: $heading-color;
}

dd {
    margin: 0 0 0.5em 0;
}

.paragraph-emphasis {
    @include font-size($paragraph-emphasis);
    color: $heading-color;
    font-weight: 600;
}

.styled-ul {
    @extend .non-list;

    li {
        padding-bottom: 0.5em;
        padding-left: 36px;
        position: relative;
        color: $heading-color;

        &:before {
            content: "";
            position: absolute;
            top: 8px;
            left: 14px;
            background-color: $grey;
            width: 8px;
            height: 8px;
        }
    }
}

.styled-ol {
    @extend .non-list;
    counter-reset: item;

    li {
        counter-increment: item;
        padding-bottom: 0.5em;
        padding-left: 36px;
        position: relative;
        color: $heading-color;

        &:before {
            width: 20px;
            font-weight: 700;
            content: counter(item);
            position: absolute;
            top: 0;
            left: 8px;
            text-align: center;
        }
    }
}
