@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Vitality.Website.Areas.Presales.Models.Summary.SummaryComponent>

<div>
    <h1>Summary Component Left Half</h1>
</div>

<div>
    <h1>Summary Component Right Half</h1>
</div>