@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Vitality.Website.Areas.Presales.Models.Summary.SummaryComponent>

<div>
    @Editable(Model, m => m.LeftContentLeadIn)

    @Editable(Model, m => m.LeftContentHeadline)

    @Editable(Model, m => m.LeftContentOpeningParagraph)

    @Editable(Model, m => m.LeftContentBody)
</div>

<div>
    <h1>Summary Component Right Half</h1>
</div>