@using Sitecore.WFFM.Abstractions.Data.Enums
@using Sitecore.Forms.Mvc.Html
@model Sitecore.Forms.Mvc.ViewModels.Fields.CheckboxField

@using (Html.BeginField(false))
{
    <span class="tool-tip-icon tool-tip-icon--inline"><button type="button" title="@Model.Information"></button></span>
    var cssclass = Model.FormType == FormType.Inline ? "checkbox-inline" : "checkbox";
    <div class="@cssclass">
        <label>
            @Html.CheckBoxFor(x => Model.Value)
            @Html.BootstrapText("Title")
        </label>
    </div>
}
