@using Sitecore.Forms.Mvc.Html
@using Vitality.Website.Extensions
@model Sitecore.Forms.Mvc.ViewModels.Fields.SingleLineTextField

@using (Html.BeginField(false))
{
    @Html.ToolTipLabelFor(Html.BootstrapLabelFor(x=>Model.Value, Model.Title), Model.Information)
    <div class="form__field__input">
        @Html.TextBoxFor(x => Model.Value, new { @class = "form-control" })
    </div>
    @Html.BootstrapValidationMessageFor(x=>Model.Value)
}
