<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Vitality Boilerplate | Components | Accordion</title>

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Hind+Siliguri:300,500,600" />
    <link rel="stylesheet" type="text/css" href="/bower_components/prism/themes/prism.css" />
    <link rel="stylesheet" type="text/css" href="/bower_components/prism/plugins/line-numbers/prism-line-numbers.css" />
    <link rel="stylesheet" type="text/css" href="/css/app.css" />
    <link rel="stylesheet" type="text/css" href="/css/boilerplate.css" />

    <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <main tabindex="-1" role="main">
        <section class="vertical-flush">
            <div>
                <h1>Accordion</h1>

                <h2>Description</h2>

                <p>
                    An accordion groups content by collapsed headings, and only allows the content
                    of one heading to be revealed at one time, to prevent too much information
                    from being displayed at any one time.
                </p>

                <h2>Note</h2>

                <p>
                    The accordion relies on <b>id</b> attributes, in order to now which heading to expand
                    and conserve state via expander classes, and also so that they can be expanded by default
                    when a URL with an anchor is used, e.g. <b>test.html#accordion1-item1</b>.
                    If multiple accordions are used on the page, ensure that these IDs are unique.
                </p>

                <h2>Example</h2>

                <div class="example">
                    <div class="expander expander--with-style js-expander-is-accordion expander--init">
                        <a href="#expander1-item1" class="expander__link">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, distinctio!
                        </a>

                        <div id="expander1-item1" class="expander__content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Cras et lorem eget ex tempor lacinia. Aliquam erat volutpat.
                                Fusce est augue, blandit a elit a, ullamcorper tincidunt augue.
                            </p>

                            <p>
                                Sed iaculis lorem vitae sagittis gravida. Pellentesque ac odio odio.
                                Duis auctor finibus leo, ut mollis risus pellentesque dignissim.
                                Ut sit amet risus at eros lacinia sollicitudin ac vitae dui.
                                Donec sed justo nisi. Pellentesque tristique eget urna non cursus.
                                Vivamus fringilla ultricies metus. Nullam eu ipsum vel tellus eleifend gravida.
                            </p>
                        </div>

                        <a href="#expander1-item2" class="expander__link">
                            Lorem ipsum dolor sit.
                        </a>

                        <div id="expander1-item2" class="expander__content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Cras et lorem eget ex tempor lacinia. Aliquam erat volutpat.
                                Fusce est augue, blandit a elit a, ullamcorper tincidunt augue.
                            </p>

                            <p>
                                Sed iaculis lorem vitae sagittis gravida. Pellentesque ac odio odio.
                                Duis auctor finibus leo, ut mollis risus pellentesque dignissim.
                                Ut sit amet risus at eros lacinia sollicitudin ac vitae dui.
                                Donec sed justo nisi. Pellentesque tristique eget urna non cursus.
                                Vivamus fringilla ultricies metus. Nullam eu ipsum vel tellus eleifend gravida.
                            </p>
                        </div>

                        <a href="#expander1-item3" class="expander__link">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </a>

                        <div id="expander1-item3" class="expander__content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Cras et lorem eget ex tempor lacinia. Aliquam erat volutpat.
                                Fusce est augue, blandit a elit a, ullamcorper tincidunt augue.
                            </p>

                            <p>
                                Sed iaculis lorem vitae sagittis gravida. Pellentesque ac odio odio.
                                Duis auctor finibus leo, ut mollis risus pellentesque dignissim.
                                Ut sit amet risus at eros lacinia sollicitudin ac vitae dui. Donec sed justo nisi.
                                Pellentesque tristique eget urna non cursus. Vivamus fringilla ultricies metus.
                                Nullam eu ipsum vel tellus eleifend gravida.
                            </p>
                        </div>

                        <a href="#expander1-item4" class="expander__link">
                            Lorem ipsum dolor sit amet, consectetur.
                        </a>

                        <div id="expander1-item4" class="expander__content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Cras et lorem eget ex tempor lacinia. Aliquam erat volutpat.
                                Fusce est augue, blandit a elit a, ullamcorper tincidunt augue.
                            </p>

                            <p>
                                Sed iaculis lorem vitae sagittis gravida. Pellentesque ac odio odio.
                                Duis auctor finibus leo, ut mollis risus pellentesque dignissim.
                                Ut sit amet risus at eros lacinia sollicitudin ac vitae dui. Donec sed justo nisi.
                                Pellentesque tristique eget urna non cursus. Vivamus fringilla ultricies metus.
                                Nullam eu ipsum vel tellus eleifend gravida.
                            </p>
                        </div>

                        <a href="#expander1-item5" class="expander__link">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Repellat voluptate aut unde maxime labore tempore similique iusto voluptatem ipsam quidem.
                        </a>

                        <div id="expander1-item5" class="expander__content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Cras et lorem eget ex tempor lacinia. Aliquam erat volutpat.
                                Fusce est augue, blandit a elit a, ullamcorper tincidunt augue.
                            </p>

                            <p>
                                Sed iaculis lorem vitae sagittis gravida. Pellentesque ac odio odio.
                                Duis auctor finibus leo, ut mollis risus pellentesque dignissim.
                                Ut sit amet risus at eros lacinia sollicitudin ac vitae dui.
                                Donec sed justo nisi. Pellentesque tristique eget urna non cursus.
                                Vivamus fringilla ultricies metus. Nullam eu ipsum vel tellus eleifend gravida.
                            </p>
                        </div>
                    </div>
                </div>

                <div>
                    <h2>Markup</h2>

                    <pre>
                        <code class="language-markup line-numbers"></code>
                    </pre>
                </div>
            </div>
        </section>
    </main>
    
    <script type="text/javascript" src="/js/modernizr-custom.min.js"></script>
    <script type="text/javascript" src="/src/js/require.js" data-main="/js/vitality-boilerplate" async></script>

    <script type="text/javascript" src="/js/boilerplate.js"></script>
    <script type="text/javascript" src="/bower_components/prism/prism.js"></script>
    <script type="text/javascript" src="/bower_components/prism/plugins/line-numbers/prism-line-numbers.min.js"></script>
    <script type="text/javascript" src="/bower_components/prism/plugins/normalize-whitespace/prism-normalize-whitespace.js"></script>
</body>
</html>
