<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Vitality Boilerplate | Components | Benefit Leader</title>

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Hind+Siliguri:300,500,600" />
    <link rel="stylesheet" type="text/css" href="/bower_components/prism/themes/prism.css" />
    <link rel="stylesheet" type="text/css" href="/bower_components/prism/plugins/line-numbers/prism-line-numbers.css" />
    <link rel="stylesheet" type="text/css" href="/css/app.css" />
    <link rel="stylesheet" type="text/css" href="/css/boilerplate.css" />
</head>
<body>
    <main tabindex="-1">
        <section class="vertical-flush">
            <h1>Benefit Leader</h1>
            <h2>Description</h2>

            <p>
                This component groups concise answers to Benefit Leader,
                inviting the user to read the full details on another page via a link.
            </p>

            <h2>Examples</h2>

            <h3>Image Left</h3>

            <h4>Demo</h4>

            <div class="vertical-flush example">
                <div class="feature-block feature-block--primary feature-block--right">
                    <div class="feature-block__image"
                         style="background-image: url('/img/examples/family.jpg');"></div>

                    <div class="feature-block__content-container">
                        <div class="feature-block__content">
                            <h6>Flexible Cover Options</h6>

                            <h3>Boost Core Cover with flexible cover choices</h3>

                            <p>
                                Everyone's needs and budgets are different. So you can choose from a
                                range of health cover options to create a plan that's just right for you.
                            </p>

                            <a href="#" class="box-button box-button--light box-button--rounded">View cover options</a>
                        </div>
                    </div>
                </div>
            </div>

            <h4>Markup</h4>

            <div class="vertical-flush">
                <pre>
                    <code class="language-markup line-numbers"></code>
                    </pre>
            </div>

            <h3>Image Right with Gradient</h3>

            <h4>Demo</h4>

            <div class="vertical-flush example">
                <div class="feature-block-gradient feature-block-gradient--secondary">
                    <div class="feature-block-gradient__image background-position-middle-right"
                         style="background-image: url('/img/examples//cyclist.jpg');"></div>

                    <div class="feature-block-gradient__content-container">
                        <div class="feature-block-gradient__content">
                            <h3>Choose where you get treatment</h3>

                            <p>
                                You can choose Vitality GP Select, which means a Vitality GP will determine
                                your treatment pathway, or you can choose from three different hospital lists
                                depending on where you live and how much you want to pay.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <h4>Markup</h4>

            <div class="vertical-flush">
                <p>
                    Note: the <b>cssgradients</b> class must be applied to the <b>html</b> tag.
                </p>

                <pre>
                    <code class="language-markup line-numbers"></code>
                </pre>
            </div>

            <h3>Image Right with Light Gradient</h3>

            <h4>Demo</h4>

            <div class="vertical-flush example">
                <div class="feature-block-gradient feature-block-gradient--light">
                    <div class="feature-block-gradient__image background-position-middle-right"
                         style="background-image: url('/img/examples/cyclist.jpg');"></div>

                    <div class="feature-block-gradient__content-container">
                        <div class="feature-block-gradient__content">
                            <h3>Choose where you get treatment</h3>

                            <p>
                                You can choose Vitality GP Select, which means a Vitality GP will determine
                                your treatment pathway, or you can choose from three different hospital lists
                                depending on where you live and how much you want to pay.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <h4>Markup</h4>

            <div class="vertical-flush">
                <p>
                    Note: the <b>cssgradients</b> class must be applied to the <b>html</b> tag.
                </p>

                <pre>
                    <code class="language-markup line-numbers"></code>
                </pre>
            </div>
        </section>
    </main>

    <script type="text/javascript" src="/src/js/modernizr-custom.min.js"></script>
    <script type="text/javascript" src="/src/js/require.js" data-main="/js/vitality-boilerplate" async></script>

    <script type="text/javascript" src="/js/boilerplate.js"></script>
    <script type="text/javascript" src="/bower_components/prism/prism.js"></script>
    <script type="text/javascript" src="/bower_components/prism/plugins/line-numbers/prism-line-numbers.min.js"></script>
    <script type="text/javascript" src="/bower_components/prism/plugins/normalize-whitespace/prism-normalize-whitespace.js"></script>
</body>
</html>
