<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" class="flash csspointerevents svg flexbox cssgradients no-flexboxtweener no-touchevents target">
<head>
    <title>Cards Stacked</title>

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Hind+Siliguri:300,500,600" />
    <link rel="stylesheet" type="text/css" href="/bower_components/prism/themes/prism.css" />
    <link rel="stylesheet" type="text/css" href="/css/app.css" />
    <link rel="stylesheet" type="text/css" href="/css/boilerplate.css" />
</head>
<body>
    <main tabindex="-1" role="main">
        <div>
            <h1>Cards Stacked</h1>
            <h2>Description</h2>

            <p>
                This component groups cards together,
                inviting the user to read the full details on another page via a link.
            </p>
        </div>

        <h2>Examples</h2>

        <h3>Image</h3>

        <div class="example">
            <section class="cards-stacked background-position-top-right"
                     style="background-size:cover; background-image: url('/img/cyclist.jpg');">
                <div class="spotlight pinch text-light">
                    <h4 class="spotlight__heading">Why choose vitality?</h4>

                    <p class="spotlight__intro">
                        Comprehensive cover, access to healthcare &amp; huge rewards for our Health &amp; Life Insurance customers
                    </p>

                    <ul class="spotlight__list">
                        <li class="spotlight__list-item">
                            <div class="spotlight-item">
                                <div class="spotlight-item__top-content">
                                    <p class="spotlight-item__heading">
                                        Comprehensive Cover
                                    </p>

                                    <div class="spotlight-item__icon">
                                        <img src="/img/clipboard-icon.png" alt="clipboard-icon">
                                    </div>

                                    <div class="spotlight-item__content">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis minus maiores omnis dicta natus minima ab consectetur quod aliquam ipsum.
                                        </p>
                                    </div>
                                </div>

                                <div class="spotlight-item__cta">
                                    <a href="#" class="emphasis-link">Here is an emphasis-link</a>
                                </div>
                            </div>
                        </li>

                        <li class="spotlight__list-item">
                            <div class="spotlight-item">
                                <div class="spotlight-item__top-content">
                                    <p class="spotlight-item__heading">
                                        Access to GPs &amp; Hospitals
                                    </p>

                                    <div class="spotlight-item__icon">
                                        <img src="/img/stethoscope-icon.png" alt="stethoscope-icon">
                                    </div>

                                    <div class="spotlight-item__content">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae iste obcaecati corrupti doloremque! Accusantium.
                                        </p>
                                    </div>
                                </div>

                                <div class="spotlight-item__cta">
                                    <a href="#" class="emphasis-link">Here is an emphasis-link</a>
                                </div>
                            </div>
                        </li>

                        <li class="spotlight__list-item">
                            <div class="spotlight-item">
                                <div class="spotlight-item__top-content">
                                    <p class="spotlight-item__heading">
                                        Award Winning Cover
                                    </p>

                                    <div class="spotlight-item__icon">
                                        <img src="/img/stars-icon.png" alt="stars-icon">
                                    </div>

                                    <div class="spotlight-item__content">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, possimus ipsa nemo numquam quibusdam?
                                        </p>
                                    </div>
                                </div>

                                <div class="spotlight-item__cta">
                                    <a href="#" class="emphasis-link">Here is an emphasis-link</a>
                                </div>
                            </div>
                        </li>

                        <li class="spotlight__list-item">
                            <div class="spotlight-item">
                                <div class="spotlight-item__top-content">
                                    <p class="spotlight-item__heading">
                                        Huge Rewards
                                    </p>

                                    <div class="spotlight-item__icon">
                                        <img src="/img/heart-icon.png" alt="heart-icon">
                                    </div>

                                    <div class="spotlight-item__content">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima perferendis id, voluptas incidunt maxime eius velit laboriosam rem numquam modi aspernatur enim, officia amet aut, nemo fugiat saepe adipisci commodi!
                                        </p>
                                    </div>
                                </div>

                                <div class="spotlight-item__cta">
                                    <a href="#" class="emphasis-link">Here is an emphasis-link</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>

        <div>
            <h2>Markup</h2>

            <pre>
                <code class="language-markup"></code>
            </pre>
        </div>

        <h3>Without Image</h3>

        <div class="example">
            <section class="cards-stacked text-dark">
                <div class="spotlight pinch text-light">
                    <h4 class="spotlight__heading">Why choose vitality?</h4>

                    <p class="spotlight__intro">
                        Comprehensive cover, access to healthcare &amp; huge rewards for our Health &amp; Life Insurance customers
                    </p>

                    <ul class="spotlight__list">
                        <li class="spotlight__list-item">
                            <div class="spotlight-item">
                                <div class="spotlight-item__top-content">
                                    <p class="spotlight-item__heading">
                                        Comprehensive Cover
                                    </p>

                                    <div class="spotlight-item__icon">
                                        <img src="/img/clipboard-icon.png" alt="clipboard-icon">
                                    </div>

                                    <div class="spotlight-item__content">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis minus maiores omnis dicta natus minima ab consectetur quod aliquam ipsum.
                                        </p>
                                    </div>
                                </div>

                                <div class="spotlight-item__cta">
                                    <a href="#" class="emphasis-link">Here is an emphasis-link</a>
                                </div>
                            </div>
                        </li>

                        <li class="spotlight__list-item">
                            <div class="spotlight-item">
                                <div class="spotlight-item__top-content">
                                    <p class="spotlight-item__heading">
                                        Access to GPs &amp; Hospitals
                                    </p>

                                    <div class="spotlight-item__icon">
                                        <img src="/img/stethoscope-icon.png" alt="stethoscope-icon">
                                    </div>

                                    <div class="spotlight-item__content">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae iste obcaecati corrupti doloremque! Accusantium.
                                        </p>
                                    </div>
                                </div>

                                <div class="spotlight-item__cta">
                                    <a href="#" class="emphasis-link">Here is an emphasis-link</a>
                                </div>
                            </div>
                        </li>

                        <li class="spotlight__list-item">
                            <div class="spotlight-item">
                                <div class="spotlight-item__top-content">
                                    <p class="spotlight-item__heading">
                                        Award Winning Cover
                                    </p>

                                    <div class="spotlight-item__icon">
                                        <img src="/img/stars-icon.png" alt="stars-icon">
                                    </div>

                                    <div class="spotlight-item__content">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, possimus ipsa nemo numquam quibusdam?
                                        </p>
                                    </div>
                                </div>

                                <div class="spotlight-item__cta">
                                    <a href="#" class="emphasis-link">Here is an emphasis-link</a>
                                </div>
                            </div>
                        </li>

                        <li class="spotlight__list-item">
                            <div class="spotlight-item">
                                <div class="spotlight-item__top-content">
                                    <p class="spotlight-item__heading">
                                        Huge Rewards
                                    </p>

                                    <div class="spotlight-item__icon">
                                        <img src="/img/heart-icon.png" alt="heart-icon">
                                    </div>

                                    <div class="spotlight-item__content">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima perferendis id, voluptas incidunt maxime eius velit laboriosam rem numquam modi aspernatur enim, officia amet aut, nemo fugiat saepe adipisci commodi!
                                        </p>
                                    </div>
                                </div>

                                <div class="spotlight-item__cta">
                                    <a href="#" class="emphasis-link">Here is an emphasis-link</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>

        <div>
            <h2>Markup</h2>

            <pre>
                <code class="language-markup"></code>
            </pre>
        </div>
    </main>

    <script type="text/javascript" src="/js/boilerplate.js"></script>
    <script type="text/javascript" src="/bower_components/prism/prism.js"></script>
</body>
</html>
