<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Vitality Boilerplate | Components | Partner Hero</title>

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Hind+Siliguri:300,500,600" />
    <link rel="stylesheet" type="text/css" href="/bower_components/prism/themes/prism.css" />
    <link rel="stylesheet" type="text/css" href="/bower_components/prism/plugins/line-numbers/prism-line-numbers.css" />
    <link rel="stylesheet" type="text/css" href="/css/app.css" />
    <link rel="stylesheet" type="text/css" href="/css/boilerplate.css" />

    <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <main tabindex="-1">
        <section>
            <h1>Partner Hero</h1>
            <h2>Description</h2>

            <p>
                The Partner Hero is designed to introduce a user to a partner &mdash; such as Starbucks &mdash;
                and encourage them to read more using a hero image and card with potential rewards.
            </p>

            <div class="example">
                <div class="partner-hero partner-hero--with-card background-position-middle-left" style="background-image: url(../src/img/examples/cyclist.jpg);">
                    <div class="grid">
                        <div class="partner-hero--headline grid-col-6-12 text-light">
                            <h1>Vitality Partner</h1>
                            <h2>Starbucks</h2>
                            <p>Better coffee with Vitality</p>
                        </div>

                        <div class="grid-col-6-12 partner-hero--right">
                            <div class="partner-hero--card">
                                <div class="spotlight-item__logo--large">
                                    <img src="/src/img/logos/starbucks.png" alt="Logo" />
                                </div>

                                <div class="partner-hero--card__top">
                                    <h6>Starbucks</h6>

                                    <hr />

                                    <p>1 x free coffee per week</p>
                                </div>

                                <div class="partner-hero--card__bottom text-light">
                                    <p>YOU COULD SAVE</p>
                                    <h1>£260</h1>
                                    <p>PER YEAR</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="vertical-flush">
                <h2>Markup</h2>
                <pre><code class="language-markup line-numbers"></code></pre>
            </div>


            <h3>Example 2</h3>

            <div class="example">
                <div class="partner-hero background-position-middle-left" style="background-image: url(../src/img/examples/family.jpg);">
                    <div class="grid">
                        <div class="partner-hero--headline grid-col-12-12 text-dark">
                            <h1>Vitality Partner</h1>
                            <h2>Starbucks</h2>
                            <p>Better coffee with Vitality</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="vertical-flush">
                <h2>Markup</h2>
                <pre><code class="language-markup line-numbers"></code></pre>
            </div>
        </section>
    </main>

    <script>function cdnizerLoad(u) { document.write('<scr' + 'ipt src="' + encodeURIComponent(u) + '"></scr' + 'ipt>'); }</script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script>    if (!(jQuery)) cdnizerLoad("/bower_components/jquery/dist/jquery.min.js");</script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script>if (!($.datepicker)) cdnizerLoad("/bower_components/jqueryui/jquery-ui.min.js");</script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.smartresize/0.1/jquery.debouncedresize.js"></script>
    <script>if (!($.event.special.debouncedresize)) cdnizerLoad("/bower_components/jquery.smartresize/jquery.smartresize.js");</script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js"></script>
    <script>if (!($(window).matchHeight)) cdnizerLoad("/bower_components/jquery-match-height/jquery.matchHeight-min.js");</script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>
    <script>if (!(FastClick)) cdnizerLoad("/bower_components/fastclick/lib/fastclick.js");</script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script>if (!(WOW)) cdnizerLoad("/bower_components/wowjs/dist/wow.min.js");</script>

    <script type="text/javascript" src="/js/modernizr-custom.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>

    <script type="text/javascript" src="/js/boilerplate.js"></script>
    <script type="text/javascript" src="/bower_components/prism/prism.js"></script>
    <script type="text/javascript" src="/bower_components/prism/plugins/line-numbers/prism-line-numbers.min.js"></script>
    <script type="text/javascript" src="/bower_components/prism/plugins/normalize-whitespace/prism-normalize-whitespace.js"></script>
</body>
</html>
