<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Vitality Boilerplate | Components | Products Component</title>

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Hind+Siliguri:300,500,600" />
    <link rel="stylesheet" type="text/css" href="/bower_components/prism/themes/prism.css" />
    <link rel="stylesheet" type="text/css" href="/bower_components/prism/plugins/line-numbers/prism-line-numbers.css" />
    <link rel="stylesheet" type="text/css" href="/css/app.css" />
    <link rel="stylesheet" type="text/css" href="/css/boilerplate.css" />

    <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <main tabindex="-1">
        <section class="vertical-flush">
            <h1>Products Component</h1>
            <h2>Description</h2>

            <p>
                This component is used as a main hero banner
                to introduce the user to a product.
            </p>

            <h2>Examples</h2>
            <h3>One Product</h3>
            <h4>Demo</h4>

            <div class="vertical-flush example">
                <div class="products-component text-light">
                    <div class="grid">
                        <div class="products-component--panel grid-col-12-12">
                            <div>
                                <img src="/src/img/examples/stanley-health.png" alt="Stanley" />
                            </div>

                            <p>
                                5-star rated health insurance that rewards you for being healthy
                            </p>

                            <a href="#" class="button-cta">
                                EXPLORE VITALITY HEALTH
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <h4>Markup</h4>

            <div class="vertical-flush">
                <pre><code class="language-markup line-numbers"></code></pre>
            </div>

            <h3>Two Products</h3>
            <h4>Demo</h4>

            <div class="vertical-flush example">
                <div class="products-component text-light">
                    <div class="grid">
                        <div class="products-component--panel grid-col-6-12">
                            <div>
                                <img src="/src/img/examples/stanley-health.png" alt="Stanley" />
                            </div>

                            <p>
                                5-star rated health insurance
                                <br />
                                that rewards you for being healthy
                            </p>

                            <a href="#" class="button-cta">
                                EXPLORE VITALITY HEALTH
                            </a>
                        </div>

                        <div class="products-component--panel grid-col-6-12">
                            <div>
                                <img src="/src/img/examples/stanley-life.png" alt="Stanley" />
                            </div>

                            <p>
                                Award-winning life cover, serious illness &amp;
                                income protection for you and your family
                            </p>

                            <a href="#" class="button-cta">
                                EXPLORE VITALITY LIFE
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <h4>Markup</h4>

            <div class="vertical-flush">
                <pre><code class="language-markup line-numbers"></code></pre>
            </div>

            <h3>Three Products</h3>
            <h4>Demo</h4>

            <div class="vertical-flush example">
                <div class="products-component text-light">
                    <div class="grid">
                        <div class="products-component--panel grid-col-4-12">
                            <div>
                                <img src="/src/img/examples/stanley-health.png" alt="Stanley" />
                            </div>

                            <p>
                                5-star rated health insurance
                                that rewards you for being healthy
                            </p>

                            <a href="#" class="button-cta">
                                EXPLORE VITALITY HEALTH
                            </a>
                        </div>

                        <div class="products-component--panel grid-col-4-12">
                            <div>
                                <img src="/src/img/examples/stanley-life.png" alt="Stanley" />
                            </div>

                            <p>
                                Award-winning life cover, serious illness &amp;
                                income protection for you and your family
                            </p>

                            <a href="#" class="button-cta">
                                EXPLORE VITALITY LIFE
                            </a>
                        </div>

                        <div class="products-component--panel grid-col-4-12">
                            <div>
                                <img src="/src/img/examples/stanley-health.png" alt="Stanley" />
                            </div>

                            <p>
                                Award-winning car cover for you and your family
                            </p>

                            <a href="#" class="button-cta">
                                EXPLORE VITALITY CAR
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <h4>Markup</h4>

            <div class="vertical-flush">
                <pre><code class="language-markup line-numbers"></code></pre>
            </div>
        </section>
    </main>

    <script type="text/javascript" src="/js/modernizr-custom.min.js"></script>
    <script type="text/javascript" src="/src/js/require.js" data-main="/js/vitality-boilerplate" async></script>

    <script type="text/javascript" src="/js/boilerplate.js"></script>
    <script type="text/javascript" src="/bower_components/prism/prism.js"></script>
    <script type="text/javascript" src="/bower_components/prism/plugins/line-numbers/prism-line-numbers.min.js"></script>
    <script type="text/javascript" src="/bower_components/prism/plugins/normalize-whitespace/prism-normalize-whitespace.js"></script>
</body>
</html>
