<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Vitality Boilerplate | Components | Products Component</title>

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Hind+Siliguri:300,500,600" />
    <link rel="stylesheet" type="text/css" href="/bower_components/prism/themes/prism.css" />
    <link rel="stylesheet" type="text/css" href="/bower_components/prism/plugins/line-numbers/prism-line-numbers.css" />
    <link rel="stylesheet" type="text/css" href="/css/app-devel.css" />

    <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <main tabindex="-1">
        <section class="vertical-flush">
            <h1>Products Component</h1>
            <h2>Description</h2>

            <p>
                The Products Components highlights core products to a user,
                and encourages them to use a Call To Action button to find out more.
            </p>

            <h2>Examples</h2>
            <h3>One Product</h3>
            <h4>Demo</h4>

            <div class="vertical-flush example">
                <div class="products-component text-light">
                    <div class="grid">
                        <div class="products-component--panel grid-col-12-12">
                            <div>
                                <img src="/src/img/examples/stanley-health.png" alt="Stanley" />
                            </div>

                            <p>
                                5-star rated health insurance that rewards you for being healthy
                            </p>

                            <a href="#" class="button-cta">
                                EXPLORE VITALITY HEALTH
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <h4>Markup</h4>

            <div class="vertical-flush">
                <pre><code class="language-markup line-numbers"></code></pre>
            </div>

            <h3>Two Products</h3>
            <h4>Demo</h4>

            <div class="vertical-flush example">
                <div class="products-component text-light">
                    <div class="grid">
                        <div class="products-component--panel grid-col-6-12">
                            <div>
                                <img src="/src/img/examples/stanley-health.png" alt="Stanley" />
                            </div>

                            <p>
                                5-star rated health insurance
                                <br />
                                that rewards you for being healthy
                            </p>

                            <a href="#" class="button-cta">
                                EXPLORE VITALITY HEALTH
                            </a>
                        </div>

                        <div class="products-component--panel grid-col-6-12">
                            <div>
                                <img src="/src/img/examples/stanley-life.png" alt="Stanley" />
                            </div>

                            <p>
                                Award-winning life cover, serious illness &amp;
                                income protection for you and your family
                            </p>

                            <a href="#" class="button-cta">
                                EXPLORE VITALITY LIFE
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <h4>Markup</h4>

            <div class="vertical-flush">
                <pre><code class="language-markup line-numbers"></code></pre>
            </div>

            <h3>Three Products</h3>
            <h4>Demo</h4>
            
            <p>
                Note the compressed view for the three-product layout before it adapts for mobile users.
            </p>

            <div class="vertical-flush example">
                <div class="products-component text-light">
                    <div class="grid">
                        <div class="products-component--panel grid-col-4-12">
                            <div>
                                <img src="/src/img/examples/stanley-health.png" alt="Stanley" />
                            </div>

                            <p>
                                5-star rated health insurance
                                that rewards you for being healthy
                            </p>

                            <a href="#" class="button-cta">
                                VITALITY HEALTH
                            </a>
                        </div>

                        <div class="products-component--panel grid-col-4-12">
                            <div>
                                <img src="/src/img/examples/stanley-life.png" alt="Stanley" />
                            </div>

                            <p>
                                Award-winning life cover, serious illness &amp;
                                income protection for you and your family
                            </p>

                            <a href="#" class="button-cta">
                                VITALITY LIFE
                            </a>
                        </div>

                        <div class="products-component--panel grid-col-4-12">
                            <div>
                                <img src="/src/img/examples/stanley-health.png" alt="Stanley" />
                            </div>

                            <p>
                                Award-winning car cover for you and your family
                            </p>

                            <a href="#" class="button-cta">
                                VITALITY CAR
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <h4>Markup</h4>

            <div class="vertical-flush">
                <pre><code class="language-markup line-numbers"></code></pre>
            </div>
        </section>
    </main>

    <script>function cdnizerLoad(u) { document.write('<scr' + 'ipt src="' + encodeURIComponent(u) + '"></scr' + 'ipt>'); }</script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script>    if (!(jQuery)) cdnizerLoad("/bower_components/jquery/dist/jquery.min.js");</script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script>if (!($.datepicker)) cdnizerLoad("/bower_components/jqueryui/jquery-ui.min.js");</script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.smartresize/0.1/jquery.debouncedresize.js"></script>
    <script>if (!($.event.special.debouncedresize)) cdnizerLoad("/bower_components/jquery.smartresize/jquery.smartresize.js");</script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js"></script>
    <script>if (!($(window).matchHeight)) cdnizerLoad("/bower_components/jquery-match-height/jquery.matchHeight-min.js");</script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>
    <script>if (!(FastClick)) cdnizerLoad("/bower_components/fastclick/lib/fastclick.js");</script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script>if (!(WOW)) cdnizerLoad("/bower_components/wowjs/dist/wow.min.js");</script>

    <script type="text/javascript" src="/js/modernizr-custom.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>

    <script type="text/javascript" src="/js/boilerplate.js"></script>
    <script type="text/javascript" src="/js/rAF.js"></script>
    <script type="text/javascript" src="/bower_components/prism/prism.js"></script>
    <script type="text/javascript" src="/bower_components/prism/plugins/line-numbers/prism-line-numbers.min.js"></script>
    <script type="text/javascript" src="/bower_components/prism/plugins/normalize-whitespace/prism-normalize-whitespace.js"></script>
</body>
</html>
