<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" class="flash csspointerevents svg flexbox cssgradients no-flexboxtweener no-touchevents target">
<head>
    <title>Vitality Boilerplate | Components | Product Hero</title>

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Hind+Siliguri:300,500,600" />
    <link rel="stylesheet" type="text/css" href="/src/bower_components/prism/themes/prism.css" />
    <link rel="stylesheet" type="text/css" href="/css/app.css" />
</head>
<body>
    <div class="page">
        <main tabindex="-1" role="main">
            <h1>Product Hero</h1>
            <h2>Description</h2>

            <p>
                This component is used as a main hero banner
                to introduce the user to a product.
            </p>

            <h2>Examples</h2>

            <h4>Demo</h4>

            <div class="vertical-flush example">
                <div class="product-hero feature-block feature-block--primary">
                    <div class="feature-block__image">
                        <img src="/img/search-background.png" alt="Stanley" />
                    </div>

                    <div class="feature-block__content-container">
                        <div class="feature-block__content">
                            <img class="lead-in" src="/img/vitality-logo--white.svg" alt="Vitality logo" />

                            <h1>Private Health Insurance with Rewards</h1>

                            <p>
                                We're making it cheaper and easier to
                                live healthier by rewarding members for getting active.
                            </p>

                            <a href="#" class="button-cta">
                                The benefits of Vitality Health
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <h4>Markup</h4>

            <div class="vertical-flush">
                <pre>
                    <code class="language-markup"></code>
                </pre>
            </div>
        </main>
    </div>

    <script type="text/javascript" src="/js/boilerplate.js"></script>
    <script type="text/javascript" src="/src/bower_components/prism/prism.js"></script>
</body>
</html>
