<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Vitality Boilerplate | Components | Products Component</title>

	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Hind+Siliguri:300,500,600" />
	<link rel="stylesheet" type="text/css" href="/bower_components/prism/themes/prism.css" />
	<link rel="stylesheet" type="text/css" href="/bower_components/prism/plugins/line-numbers/prism-line-numbers.css" />
	<link rel="stylesheet" type="text/css" href="/css/app.css" />
	<link rel="stylesheet" type="text/css" href="/css/boilerplate.css" />

	<!--[if lt IE 9]>
		<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<main tabindex="-1">
		<section class="vertical-flush">
			<h1>Products Component</h1>
			<h2>Description</h2>

			<p>
				This component is used as a main hero banner
				to introduce the user to a product.
			</p>

			<h2>Examples</h2>

			<h4>Demo 1</h4>

			<div class="vertical-flush example">
				<div class="products-component text-light">
					<div class="grid">
						<div class="products-component-panel grid-col-1-2">
							<div>
								<img src="/img/examples/search-background.png" alt="Stanley"/>
							</div>
							<p>
								We're making it cheaper and easier to
								live healthier by rewarding members for getting active.
							</p>

							<a href="#" class="button-cta">
								The benefits of Vitality Health
							</a>
						</div>
						<div class="products-component-panel grid-col-1-2">
							<div>
								<img src="/img/examples/search-background.png" alt="Stanley"/>
							</div>
							<p>
								We're making it cheaper and easier to
								live healthier by rewarding members for getting active.
							</p>

							<a href="#" class="button-cta">
								The benefits of Vitality Health
							</a>
						</div>
					</div>
				</div>

			</div>

			<h4>Markup</h4>

			<div class="vertical-flush">
				<pre>
						<code class="language-markup line-numbers"></code>
                </pre>
			</div>
		</section>


		<section class="vertical-flush">
			<h4>Demo 2</h4>

			<div class="vertical-flush example">
				<div class="products-component text-light">
					<div class="grid">
						<div class="products-component-panel grid-col-1-1">
							<div>
								<img src="/img/examples/search-background.png" alt="Stanley" />
							</div>
							<p>
								We're making it cheaper and easier to
								live healthier by rewarding members for getting active.
							</p>

							<a href="#" class="button-cta">
								The benefits of Vitality Health
							</a>
						</div>
					</div>
				</div>

			</div>

			<h4>Markup</h4>

			<div class="vertical-flush">
				<pre>
				<code class="language-markup line-numbers"></code>
                </pre>
			</div>
		</section>

	</main>

	<script type="text/javascript" src="/js/modernizr-custom.min.js"></script>
	<script type="text/javascript" src="/src/js/require.js" data-main="/js/vitality-boilerplate" async></script>

	<script type="text/javascript" src="/js/boilerplate.js"></script>
	<script type="text/javascript" src="/bower_components/prism/prism.js"></script>
	<script type="text/javascript" src="/bower_components/prism/plugins/line-numbers/prism-line-numbers.min.js"></script>
	<script type="text/javascript" src="/bower_components/prism/plugins/normalize-whitespace/prism-normalize-whitespace.js"></script>
</body>
</html>
