<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Vitality Boilerplate | Components | Rewards Leader</title>

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Hind+Siliguri:300,500,600" />
    <link rel="stylesheet" type="text/css" href="/bower_components/prism/themes/prism.css" />
    <link rel="stylesheet" type="text/css" href="/bower_components/prism/plugins/line-numbers/prism-line-numbers.css" />
    <link rel="stylesheet" type="text/css" href="/css/app.css" />
    <link rel="stylesheet" type="text/css" href="/css/boilerplate.css" />

    <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="page">
        <main tabindex="-1" role="main">
            <div>
                <h1>Rewards Leader</h1>
                <h2>Description</h2>

                <p>
                    This component showcases a few prominent rewards partners and invites the user to learn more about them.
                </p>
            </div>

            <div>
                <h2>Example</h2>

                <div class="example">
                    <div class="feature-block feature-block--dark rewards_leader">
                        <div class="feature-block__content">
                            <h3>Our Rewards Partners</h3>

                            <p>
                                Some of the great partners our members enjoy rewards from:
                            </p>

                            <div class="feature-block__image-list">
                                <div>
                                    <img src="/img/examples/facebook--footer.svg" alt="Facebook" height="50" />

                                    <a href="#">
                                        <img src="/img/examples/instagram--footer.svg" alt="Facebook" height="50" />
                                    </a>

                                    <img src="/img/examples/search.svg" alt="Facebook" height="50" />
                                    <img src="/img/examples/twitter--footer.svg" alt="Facebook" height="50" />
                                    <img src="/img/examples/vitality-logo--white.svg" alt="Facebook" height="50" />
                                </div>

                                <div>
                                    <img src="/img/examples/youtube--footer.svg" alt="Facebook" height="50" />

                                    <a href="#">
                                        <img src="/img/examples/facebook--footer.svg" alt="Facebook" height="50" />
                                    </a>

                                    <img src="/img/examples/instagram--footer.svg" alt="Facebook" height="50" />
                                    <img src="/img/examples/twitter--footer.svg" alt="Facebook" height="50" />
                                </div>
                            </div>

                            <a href="#" class="box-button box-button--light box-button--rounded">
                                Learn about rewards
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <h2>Markup</h2>

                <pre>
                    <code class="language-markup line-numbers"></code>
                </pre>
            </div>
        </main>
    </div>

    <script type="text/javascript" src="/js/modernizr-custom.min.js"></script>
    <script type="text/javascript" src="/src/js/require.js" data-main="/js/vitality-boilerplate" async></script>

    <script type="text/javascript" src="/js/boilerplate.js"></script>
    <script type="text/javascript" src="/bower_components/prism/prism.js"></script>
    <script type="text/javascript" src="/bower_components/prism/plugins/line-numbers/prism-line-numbers.min.js"></script>
    <script type="text/javascript" src="/bower_components/prism/plugins/normalize-whitespace/prism-normalize-whitespace.js"></script>
</body>
</html>
