<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Vitality Boilerplate | Components | Rewards Leader</title>

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Hind+Siliguri:300,500,600" />
    <link rel="stylesheet" type="text/css" href="/bower_components/prism/themes/prism.css" />
    <link rel="stylesheet" type="text/css" href="/bower_components/prism/plugins/line-numbers/prism-line-numbers.css" />
    <link rel="stylesheet" type="text/css" href="/css/app-devel.css" />

    <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <main tabindex="-1">
        <section class="vertical-flush">
            <div>
                <h1>Rewards Leader</h1>
                <h2>Description</h2>

                <p>
                    This component showcases a few prominent rewards partners and invites the user to learn more about them.
                </p>
            </div>

            <h2>Examples</h2>

            <div>
                <h3>Primary</h3>
                <h4>Demo</h4>

                <div class="example">
                    <div class="feature-block feature-block--primary rewards_leader">
                        <div class="feature-block__content">
                            <h3>Our Rewards Partners</h3>

                            <p>
                                Some of the great partners our members enjoy rewards from:
                            </p>

                            <div class="feature-block__image-list">
                                <div>
                                    <img src="/src/img/logos/white/ba_white.png" alt="British Airways"/>

                                    <a href="#">
                                        <img src="/src/img/logos/white/cineworld_white.png" alt="Cineworld" />
                                    </a>

                                    <a href="#">
                                        <img src="/src/img/logos/white/evans_white.png" alt="Evans Cycles" />
                                    </a>

                                    <a href="#">
                                        <img src="/src/img/logos/white/garmin_white.png" alt="Garmin" />
                                    </a>
                                    <img src="/src/img/logos/white/polar_white.png" alt="Polar" />
                                </div>

                                <div>
                                    <img src="/src/img/logos/white/sainsbury_white.png" alt="Sainsburys" />

                                    <a href="#">
                                        <img src="/src/img/logos/white/starbucks_white.png" alt="Starbucks" />
                                    </a>

                                    <a href="#">
                                        <img src="/src/img/logos/white/virgin-active_white.png" alt="Virgin Active" />
                                    </a>

                                    <img src="/src/img/logos/white/weightwatchers_white.png" alt="Weight Watchers" />
                                </div>
                            </div>

                            <a href="#" class="box-button box-button--light box-button--rounded">
                                Learn about rewards
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <h4>Markup</h4>
                <pre><code class="language-markup line-numbers"></code></pre>
            </div>

            <div>
                <h3>Dark</h3>
                <h4>Demo</h4>

                <div class="example">
                    <div class="feature-block feature-block--dark rewards_leader">
                        <div class="feature-block__content">
                            <h3>Our Rewards Partners</h3>

                            <p>
                                Some of the great partners our members enjoy rewards from:
                            </p>

                            <div class="feature-block__image-list">
                                <div>
                                    <img src="/src/img/logos/white/ba_white.png" alt="British Airways" />

                                    <a href="#">
                                        <img src="/src/img/logos/white/cineworld_white.png" alt="Cineworld" />
                                    </a>

                                    <a href="#">
                                        <img src="/src/img/logos/white/evans_white.png" alt="Evans Cycles" />
                                    </a>

                                    <a href="#">
                                        <img src="/src/img/logos/white/garmin_white.png" alt="Garmin" />
                                    </a>

                                    <img src="/src/img/logos/white/polar_white.png" alt="Polar" />
                                </div>
                            </div>

                            <a href="#" class="box-button box-button--light box-button--rounded">
                                Learn about rewards
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <h4>Markup</h4>
                <pre><code class="language-markup line-numbers"></code></pre>
            </div>
        </section>
    </main>

    <script>function cdnizerLoad(u) { document.write('<scr' + 'ipt src="' + encodeURIComponent(u) + '"></scr' + 'ipt>'); }</script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script>    if (!(jQuery)) cdnizerLoad("/bower_components/jquery/dist/jquery.min.js");</script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script>if (!($.datepicker)) cdnizerLoad("/bower_components/jqueryui/jquery-ui.min.js");</script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.smartresize/0.1/jquery.debouncedresize.js"></script>
    <script>if (!($.event.special.debouncedresize)) cdnizerLoad("/bower_components/jquery.smartresize/jquery.smartresize.js");</script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js"></script>
    <script>if (!($(window).matchHeight)) cdnizerLoad("/bower_components/jquery-match-height/jquery.matchHeight-min.js");</script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>
    <script>if (!(FastClick)) cdnizerLoad("/bower_components/fastclick/lib/fastclick.js");</script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script>if (!(WOW)) cdnizerLoad("/bower_components/wowjs/dist/wow.min.js");</script>

    <script type="text/javascript" src="/js/modernizr-custom.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>

    <script type="text/javascript" src="/js/boilerplate.js"></script>
    <script type="text/javascript" src="/bower_components/prism/prism.js"></script>
    <script type="text/javascript" src="/bower_components/prism/plugins/line-numbers/prism-line-numbers.min.js"></script>
    <script type="text/javascript" src="/bower_components/prism/plugins/normalize-whitespace/prism-normalize-whitespace.js"></script>
</body>
</html>
