@using Sitecore.Mvc
<!DOCTYPE html>
<html>
<head>
    <title>@Html.Sitecore().Field("BrowserTitle", new { DisableWebEdit = true })</title>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script type="text/javascript">window.NREUM || (NREUM = {}); NREUM.info = { "beacon": "bam.nr-data.net", "errorBeacon": "bam.nr-data.net", "licenseKey": "67f7fd583e", "applicationID": "13979791", "transactionName": "YVVTZUMCCkdVWxVdDVgffGdyTDdATVQEcxdfVFRyXg0QRltUDVEQGXlfVVQb", "queueTime": 0, "applicationTime": 4, "ttGuid": "647CC2230E528116", "agent": "" }</script>
    <script type="text/javascript">        window.NREUM || (NREUM = {}), __nr_require = function (e, t, n) { function r(n) { if (!t[n]) { var o = t[n] = { exports: {} }; e[n][0].call(o.exports, function (t) { var o = e[n][1][t]; return r(o || t) }, o, o.exports) } return t[n].exports } if ("function" == typeof __nr_require) return __nr_require; for (var o = 0; o < n.length; o++) r(n[o]); return r }({ 1: [function (e, t, n) { function r(e, t) { return function () { o(e, [(new Date).getTime()].concat(a(arguments)), null, t) } } var o = e("handle"), i = e(2), a = e(3); "undefined" == typeof window.newrelic && (newrelic = NREUM); var u = ["setPageViewName", "addPageAction", "setCustomAttribute", "finished", "addToTrace", "inlineHit"], c = ["addPageAction"], f = "api-"; i(u, function (e, t) { newrelic[t] = r(f + t, "api") }), i(c, function (e, t) { newrelic[t] = r(f + t) }), t.exports = newrelic, newrelic.noticeError = function (e) { "string" == typeof e && (e = new Error(e)), o("err", [e, (new Date).getTime()]) } }, {}], 2: [function (e, t, n) { function r(e, t) { var n = [], r = "", i = 0; for (r in e) o.call(e, r) && (n[i] = t(r, e[r]), i += 1); return n } var o = Object.prototype.hasOwnProperty; t.exports = r }, {}], 3: [function (e, t, n) { function r(e, t, n) { t || (t = 0), "undefined" == typeof n && (n = e ? e.length : 0); for (var r = -1, o = n - t || 0, i = Array(0 > o ? 0 : o) ; ++r < o;) i[r] = e[t + r]; return i } t.exports = r }, {}], ee: [function (e, t, n) { function r() { } function o(e) { function t(e) { return e && e instanceof r ? e : e ? u(e, a, i) : i() } function n(n, r, o) { e && e(n, r, o); for (var i = t(o), a = l(n), u = a.length, c = 0; u > c; c++) a[c].apply(i, r); var s = f[g[n]]; return s && s.push([m, n, r, i]), i } function p(e, t) { w[e] = l(e).concat(t) } function l(e) { return w[e] || [] } function d(e) { return s[e] = s[e] || o(n) } function v(e, t) { c(e, function (e, n) { t = t || "feature", g[n] = t, t in f || (f[t] = []) }) } var w = {}, g = {}, m = { on: p, emit: n, get: d, listeners: l, context: t, buffer: v }; return m } function i() { return new r } var a = "nr@context", u = e("gos"), c = e(2), f = {}, s = {}, p = t.exports = o(); p.backlog = f }, {}], gos: [function (e, t, n) { function r(e, t, n) { if (o.call(e, t)) return e[t]; var r = n(); if (Object.defineProperty && Object.keys) try { return Object.defineProperty(e, t, { value: r, writable: !0, enumerable: !1 }), r } catch (i) { } return e[t] = r, r } var o = Object.prototype.hasOwnProperty; t.exports = r }, {}], handle: [function (e, t, n) { function r(e, t, n, r) { o.buffer([e], r), o.emit(e, t, n) } var o = e("ee").get("handle"); t.exports = r, r.ee = o }, {}], id: [function (e, t, n) { function r(e) { var t = typeof e; return !e || "object" !== t && "function" !== t ? -1 : e === window ? 0 : a(e, i, function () { return o++ }) } var o = 1, i = "nr@id", a = e("gos"); t.exports = r }, {}], loader: [function (e, t, n) { function r() { if (!w++) { var e = v.info = NREUM.info, t = s.getElementsByTagName("script")[0]; if (e && e.licenseKey && e.applicationID && t) { c(l, function (t, n) { e[t] || (e[t] = n) }); var n = "https" === p.split(":")[0] || e.sslForHttp; v.proto = n ? "https://" : "http://", u("mark", ["onload", a()], null, "api"); var r = s.createElement("script"); r.src = v.proto + e.agent, t.parentNode.insertBefore(r, t) } } } function o() { "complete" === s.readyState && i() } function i() { u("mark", ["domContent", a()], null, "api") } function a() { return (new Date).getTime() } var u = e("handle"), c = e(2), f = window, s = f.document; NREUM.o = { ST: setTimeout, CT: clearTimeout, XHR: f.XMLHttpRequest, REQ: f.Request, EV: f.Event, PR: f.Promise, MO: f.MutationObserver }, e(1); var p = "" + location, l = { beacon: "bam.nr-data.net", errorBeacon: "bam.nr-data.net", agent: "js-agent.newrelic.com/nr-918.min.js" }, d = window.XMLHttpRequest && XMLHttpRequest.prototype && XMLHttpRequest.prototype.addEventListener && !/CriOS/.test(navigator.userAgent), v = t.exports = { offset: a(), origin: p, features: {}, xhrWrappable: d }; s.addEventListener ? (s.addEventListener("DOMContentLoaded", i, !1), f.addEventListener("load", r, !1)) : (s.attachEvent("onreadystatechange", o), f.attachEvent("onload", r)), u("mark", ["firstbyte", a()], null, "api"); var w = 0 }, {}] }, {}, ["loader"]);</script>
    <meta name="viewport" content="initial-scale=1.0, width=device-width, maximum-scale=1, user-scalable=0">

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Hind+Siliguri:300,500,600">
    
    @* Favicons *@
    <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/img/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/img/favicon/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/img/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/img/favicon/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/img/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/img/favicon/manifest.json">
    <link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#f41c5e">
    <link rel="shortcut icon" href="/img/favicon/favicon.ico">
    <meta property="og:image" content="https://www.vitality.co.uk/img/favicon/open-graph.png">
    <meta name="apple-mobile-web-app-title" content="Vitality">
    <meta name="application-name" content="Vitality">
    <meta name="msapplication-TileColor" content="#f41c5e">
    <meta name="msapplication-TileImage" content="/img/favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="/img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#fff">

    <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="/css/screen-0.0.1.css" media="screen" />

    <script src="/js/require.js" data-main="/js/app" async></script>

    @if (Sitecore.Context.PageMode.IsExperienceEditor || Sitecore.Context.PageMode.IsExperienceEditorEditing)
    {
        <link rel="stylesheet" href="/css/experience_editor_fix.css"/>
    }

    <link rel="stylesheet" type="text/css" href="/css/app.css" media="screen" />
    <script src="/js/modernizr-custom.min.js"></script>
    <script src="/js/require.js" data-main="/js/vitality-boilerplate" async></script>
</head>
<body>
    <div class="page">

        <a href="#main-content" class="offscreen">Skip to Content</a>
        @Html.Sitecore().Placeholder("header")
    
        <main id="main-content" tabindex="-1">
            <section class="vertical-flush">
                @Html.Sitecore().Placeholder("PresalesContent")
            </section>
        </main>
    </div>
    
    <footer class="page-footer">

        <div class="page-footer__grid pinch">

            <div class="page-footer__links--small">
                <div class="expander expander--dark  expander--with-style  js-expander-is-accordion">
                    <a href="#expander-footer-item1" class="expander__link">Get a quote</a>
                    <div id="expander-footer-item1" class="expander__content">
                        <ul class="page-footer__list page-footer__list--quote">
                            <li><a href="#">Health Insurance</a></li>
                            <li><a href="#">Life Insurance</a></li>
                        </ul>
                    </div>
                    <a href="#expander-footer-item2" class="expander__link">Useful links</a>
                    <div id="expander-footer-item2" class="expander__content">
                        <ul class="page-footer__list page-footer__list--helpful">
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Legal &amp; security</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Accessibility</a></li>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Cookies</a></li>
                            <li><a href="#">Press centre</a></li>
                            <li><a href="#">Sitemap</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="page-footer__logo page-footer__logo--large">
                <a href="/"><img src="/img/vitality-logo--white.svg" alt="Vitality" class="page-footer__logo-img"></a>

                <p class="page-footer__copyright">©2016 Vitality. All&nbsp;rights&nbsp;reserved.</p>
            </div>

            <div class="page-footer__quote">
                <p class="page-footer__header">Get a quote</p>

                <ul class="page-footer__list page-footer__list--quote">
                    <li><a href="#">Health Insurance</a></li>
                    <li><a href="#">Life Insurance</a></li>
                </ul>
            </div>

            <div class="page-footer__helpful">
                <p class="page-footer__header">Helpful links</p>

                <ul class="page-footer__list page-footer__list--helpful">
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Legal &amp; security</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Accessibility</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Cookies</a></li>
                    <li><a href="#">Press centre</a></li>
                    <li><a href="#">Sitemap</a></li>
                </ul>

            </div>

            <div class="page-footer__connect">
                <p class="page-footer__header">Connect with Vitality</p>

                <ul class="social-icons-list">

                    <li class="social-icon">
                        <a href="https://www.facebook.com/VitalityUK" target="_blank">
                            <img src="/img/facebook--footer.svg" alt="Facebook">
                        </a>
                    </li>

                    <li class="social-icon">
                        <a href="https://twitter.com/Vitality_UK?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank">
                            <img src="/img/twitter--footer.svg" alt="Twitter">
                        </a>
                    </li>

                    <li class="social-icon">
                        <a href="https://www.instagram.com/vitality_uk/?hl=en" target="_blank">
                            <img src="/img/instagram--footer.svg" alt="Instagram">
                        </a>
                    </li>

                    <li class="social-icon">
                        <a href="https://www.youtube.com/user/livewithVitality" target="_blank">
                            <img src="/img/youtube--footer.svg" alt="Youtube">
                        </a>
                    </li>

                </ul>

            </div>

            <div class="page-footer__logo page-footer__logo--small">
                <a href="/"><img src="/img/vitality-logo--white.svg" alt="Vitality" class="page-footer__logo-img"></a>

                <p class="page-footer__copyright">©2016 Vitality. All&nbsp;rights&nbsp;reserved.</p>
            </div>

        </div>

    </footer>
</body>
</html>