@using Vitality.Website.Extensions
@using Vitality.Website.Extensions.Views
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Vitality.Website.Areas.Presales.ComponentTemplates.Rewards.RewardsLeader>

<div class="feature-block feature-block--@this.BackgroundColour() rewards_leader">
    <div class="feature-block__content">
        <h3>@Editable(Model, item => item.Headline)</h3>
        <p>@Editable(Model, item => item.OpeningParagraph)</p>

        <div class="feature-block__image-list">
            @foreach (var rows in Model.Rewards.GroupIntoRows(this.IconsPerRow()))
            {
                <div>
                @foreach (var rewardsIcon in rows)
                {
                    using (BeginEditFrame("/sitecore/content/Applications/WebEdit/Edit Frame Buttons/Subitems", rewardsIcon.Path))
                    {
                        using (BeginRenderLink(rewardsIcon, item => item.Link, isEditable: true))
                        {
                            @Editable(rewardsIcon, item => item.Image)
                        }
                    }
                }
                </div>
            }
        </div>

        @Editable(Model, item => item.CallToAction, new { @class = "box-button box-button--light box-button--rounded" })
    </div>
</div>
