<div class="question" [formGroup]="form">
    {{ questionGroup.label }}
    <ng-container *ngFor="let question of questionGroup.questions" [ngSwitch]="question.controlType">
        <select [id]="question.key" *ngSwitchCase="'dropdown'" [formControlName]="question.key">
            <option *ngFor="let opt of question.relatedData" [value]="opt.key">{{opt.value}}</option>
        </select>

        <div *ngSwitchDefault class="question--input__text">
            <input [formControlName]="question.key"
                   [id]="question.key" [type]="question.controlType" placeholder="{{ question.key }}" [attr.auto-scroll-to]="question.scrollTo">
        </div>

    </ng-container>
    <div class="errorMessage" *ngIf="!isValid">{{ questionGroup.validationMessage }} </div>
</div>
