<div class="question" [hidden]="questionGroup.conditionToHide" [formGroup]="form">
    {{ questionGroup.label }}
    <ng-container *ngFor="let question of questionGroup.questions" [ngSwitch]="question.controlType">
        <ng-container *ngSwitchCase="'dropdown'">
            <select [id]="question.key" [formControlName]="question.key">
                <option *ngFor="let opt of question.relatedData" [value]="opt.key">{{opt.value}}</option>
            </select>
            {{ question.label }}
        </ng-container>
        <div *ngSwitchDefault class="question--input__text">
            <input [formControlName]="question.key"
                   [id]="question.key" [type]="question.controlType" placeholder="{{ question.placeholder }}" [attr.auto-scroll-to]="question.scrollTo">
        </div>
    </ng-container>
    <div class="errorMessage" *ngIf="!isValid">{{ questionGroup.validationMessage }} </div>
</div>
