<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file configures the media to have true extensions instead .ashx and change the prefix to be /media-online.

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="Media.RequestExtension">
        <patch:attribute name="value"></patch:attribute>
      </setting>
      <setting name="Media.MediaLinkPrefix">
        <patch:attribute name="value">-/media-online</patch:attribute>
      </setting>
    </settings>
    <customHandlers>
      <handler trigger="-/media-online/" handler="sitecore_media.ashx"/>
    </customHandlers>
  </sitecore>
</configuration>