<!--
	A set of performance optimizations for development that vastly increase application startup time.
	
	Should not be used in production, as they largely disable forensic diagnostics that you'd want there over fast startup time after a compile.
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
	<pipelines>
      <contentSearch.queryWarmup patch:source="Sitecore.ContentSearch.config">
        <processor type="Sitecore.ContentSearch.Pipelines.QueryWarmups.RunQueries, Sitecore.ContentSearch">
          <patch:delete />
        </processor>
      </contentSearch.queryWarmup>
      <initialize>
        <!-- Disable speak precompilations; this increases first hit dialog load time but drastically reduces instance startup time (by about 40 sec) after a compile -->
        <processor type="Sitecore.Pipelines.Initialize.PrecompileSpeakViews, Sitecore.Speak.Client">
          <patch:delete />
        </processor>
        <processor type="Sitecore.Pipelines.Loader.ShowVersion, Sitecore.Kernel">
          <patch:delete />
        </processor>
        <processor type="Sitecore.Pipelines.Loader.ShowHistory, Sitecore.Kernel">
          <patch:delete />
        </processor>
        <processor type="Sitecore.Pipelines.Loader.DumpConfigurationFiles, Sitecore.Kernel">
          <patch:delete />
        </processor>
        <!-- Removing precompiler again, now for content testing :-) -->
        <processor type="Sitecore.Pipelines.Initialize.PrecompileSpeakViews, Sitecore.Speak.Client">
          <patch:delete />
        </processor>
      </initialize>
    </pipelines>

    <scheduling>
      <agent type="Sitecore.Tasks.CounterDumpAgent">
        <patch:delete />
      </agent>
      <!-- get rid of log spam every 10 seconds -->
      <!-- not required for Sitecore 8.1 Update-1 and later -->
      <agent type="Sitecore.ListManagement.Analytics.UnlockContactListsAgent, Sitecore.ListManagement.Analytics">
        <patch:attribute name="interval">00:30:00</patch:attribute>
      </agent>
    </scheduling>
	</sitecore>
</configuration>
