.preview-card {
    border: 2px solid $primary-background-color;

    &--header {
        background-color: $primary-background-color;
        padding: $pad;
    }

    &--body {
        padding: $pad $pad--large;

        .preview-card--body__buttons {
            div {
                display: inline-block;
                width: 47.5%;

                &:first-child {
                    margin-right: 2.5%;
                }
            }

            a {
                margin: 0;
                padding: $pad--xxthin $pad--xthin;
            }

            @include mq($from: tablet, $until: desktop) {
                // Let the buttons stack.
                div {
                    display: block;
                    width: 100%;

                    &:first-child {
                        margin: 0;
                        margin-bottom: $pad;
                    }
                }
            }
        }

        &__preview {
            margin: $pad 0;
        }

        &__text {
            text-align: center;

            p {
                margin: $pad--xthin 0;

                &:first-child {
                    margin-top: 0;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
