<form [formGroup]="quoteApplyForm" (ngSubmit)="apply(quoteApplyForm.valid)" novalidate>
    <question-group *ngFor="let questionGroup of questionGroups" [questionGroup]="questionGroup" [form]="quoteApplyForm"></question-group>
</form>

<div [hidden]="!submitted">
    <h2>You will be submitting following values when development completed:</h2>
    {{payload}}
</div>

<div class="quote--footer">
    <div class="quote--footer__logo">
        <div>
            <img src="/images/star_ratings_secondary_logo_2017_5.png" alt="Defacto 5 star rating" />
        </div>
    </div>

    <div class="quote--footer__progress">
        <div class="progress" *ngIf="!isAllCompleted">
            <div class="progress-bar" role="progressbar"
                 aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" [style.width.%]="completedPercentage">
            </div>
        </div>
        <div *ngIf="isAllCompleted">
            <button class="button--box">{{ callToActionText }}</button>
        </div>
    </div>

    <div class="quote--footer__chat">
        <div>
            <img src="/images/chat-open.svg" alt="Open chat window" />
        </div>
    </div>
</div>
