@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Vitality.Website.Areas.Presales.Models.Navigation.MainNavigation>

<!-- top-bar mobile -->
<div class="top-bar top-bar--small">

    <div class="top-bar__home">

        <a href="/">
            <img src="/assets/images/svg/vitality-logo.svg" alt="Vitality" class="top-bar__logo">
        </a>

    </div>

    <ul class="utility-nav--small">

        <li class="utility-nav__item utility-nav__item--search js-search-toggle">

            <div class="utility-nav__inner">
                <a href="search.html">
                    <img src="/assets/images/svg/search.svg" alt="Search">
                    <span>Search</span>
                </a>
            </div>


        </li>

        <li class="utility-nav__item utility-nav__item--log-in js-log-in-toggle">

            <div class="utility-nav__inner ">
                <img src="/assets/images/svg/log-in.svg" alt="Log in">
                <span>Log In</span>
            </div>

        </li>

        <li class="utility-nav__item utility-nav__item--menu js-main-menu-toggle">

            <div class="utility-nav__inner">

                <div class="burger-menu"><span></span></div>

                <span>Menu</span>
            </div>

        </li>

    </ul>

</div>
<!-- end top-bar mobile -->
<!-- top-bar desktop - contains site nav -->
<div class="top-bar top-bar--large">

    <ul class="site-nav">

        <li class="site-nav__item is-active">
            <a href="/">Personal</a>
        </li>

        <li class="site-nav__item">
            <a href="/">Business</a>
        </li>

        <li class="site-nav__item">
            <a href="/">Advisers</a>
        </li>

        <li class="site-nav__item">
            <a href="/">Healthcare Providers</a>
        </li>

    </ul>

    <ul class="utility-nav">

        <li class="utility-nav__item utility-nav__item--search js-search-toggle">
            <a href="search.html">
                <img src="/assets/images/svg/search.svg" alt="Search">
                Search
            </a>
        </li>

        <li class="utility-nav__item utility-nav__item--log-in js-log-in-toggle">

            <a href="/">Log In</a>

            <!-- log in panel -->
            <div class="log-in log-in--large">
                <div class="log-in__content">

                    <div class="log-in__avatar">
                        <img src="/assets/images/log-in-avatar.png" alt="Stanley the dachshund">
                    </div>

                    <p class="log-in__header">
                        Member Zone
                    </p>

                    <div class="log-in__links">
                        <a href="#log-in" class="box-button box-button--rounded box-button--secondary box-button--full-width">Log in</a>
                        <a href="#register" class="box-button box-button--rounded box-button--full-width">Register today</a>
                    </div>

                    <div class="log-in__forgotten">
                        <a href="#forgot">I've forgotten my details</a>
                    </div>

                </div>
            </div>
            <!-- end log in panel desktop-->
        </li>

        <li class="utility-nav__item">
            <a href="/">Contact us</a>
        </li>

        <li class="utility-nav__item utility-nav__item--social">

            <ul class="social-icons-list">

                @foreach (var socialLink in Model.SocialLinks)
                {
                    <li class="social-icon">
                        @using (BeginRenderLink(socialLink, item => item.Link, new { _target="blank" }))
                        {
                            @RenderImage(socialLink, item => item.Image, isEditable: false)
                        }
                    </li>
                }

                @*<li class="social-icon">
                    <a href="https://www.facebook.com/VitalityUK" target="_blank">
                        <img src="/assets/images/svg/facebook.svg" alt="Facebook">
                    </a>
                </li>

                <li class="social-icon">
                    <a href="https://twitter.com/Vitality_UK?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank">
                        <img src="/assets/images/svg/twitter.svg" alt="Twitter">
                    </a>
                </li>

                <li class="social-icon">
                    <a href="https://www.instagram.com/vitality_uk/?hl=en" target="_blank">
                        <img src="/assets/images/svg/instagram.svg" alt="Instagram">
                    </a>
                </li>

                <li class="social-icon">
                    <a href="https://www.youtube.com/user/livewithVitality" target="_blank">
                        <img src="/assets/images/svg/youtube.svg" alt="Youtube">
                    </a>
                </li>*@

            </ul>

        </li>
    </ul>

</div><!-- end top-bar desktop-->
<!-- section-nav - for all sizes - contains megamenu -->
<!-- end section-nav -->



<!-- site-nav for mobile, moved to botom of menu -->
<ul class="site-nav--small">

    <li class="site-nav__item is-active">
        <a href="/">Personal</a>
    </li>

    <li class="site-nav__item">
        <a href="/">Business</a>
    </li>

    <li class="site-nav__item">
        <a href="/">Advisers</a>
    </li>

    <li class="site-nav__item">
        <a href="/">Healthcare Providers</a>
    </li>

    <li class="site-nav__item">
        <a href="/">Contact us</a>
    </li>

</ul>
