@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Vitality.Website.Areas.Presales.ComponentTemplates.Navigation.NavigationSection>

<ul class="section-nav" itemscope itemtype="http://www.schema.org/SiteNavigationElement">

    <li class="section-nav__item section-nav__item--home section-nav__item--no-shadow">
        <a href="/">
            @RenderImage(Model.MainNavigation, m => m.Logo, new { @class = "top-bar__logo" })
            @*<img src="/img/vitality-logo.svg" alt="Vitality" class="top-bar__logo">*@
        </a>
    </li>

    @foreach (var subSection in Model.NavigationSubSections)
    {
        @Html.Partial("/Areas/Presales/Views/Navigation/NavigationSubSection.cshtml", subSection)
    }

    @if (Model.AdditionalLink != null)
    {

        <li class="section-nav__item section-nav__item--phone section-nav__item--no-shadow">
            @using (BeginRenderLink(Model, item => item.AdditionalLink, new { tel = Model.AdditionalLinkSubHeader }))
            {
                <span class="section-nav__phone-text text-icon--phone-dark">@Html.Raw(Model.AdditionalLink.Text)</span>
                <span class="section-nav__phone-number">@Html.Raw(Model.AdditionalLinkSubHeader)</span>
            }
        </li>
    }
</ul>
