a,
body,
button,
input,
kbd,
select {
  color: white;
  font-family: "Hind Siliguri", Helvetica, Arial, sans-serif;
  font-weight: 300; }

body,
select {
  line-height: 2; }

button,
h1,
h2,
h3,
h4,
input {
  line-height: 1; }

body {
  background: #f41a5c;
  font-size: 24px;
  padding: 1.5em; }
  @media (min-width: 50em) {
    body {
      padding: 3em; } }

form {
  padding: 20% 0; }

a {
  border-color: white; }

div:focus,
input:focus,
main:focus,
section:focus {
  outline: none; }

h1,
h2,
h3,
h4 {
  font-weight: 300;
  margin: 0.375em 0; }

button,
select {
  cursor: pointer; }

kbd {
  font-weight: 600; }

.button--box {
  border-color: #cccccc;
  border-color: rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  background-color: #5db6b2;
  border-radius: 0.1875em;
  border-style: solid;
  border-width: 0.375em;
  color: white;
  display: inline-block;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 0 0.75em 0.75em 0;
  padding: 1em;
  padding-right: 3em;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: border-color 0.4s;
  vertical-align: middle; }
  .button--box:hover, .button--box:focus {
    border-color: #999999;
    border-color: rgba(0, 0, 0, 0.4); }
    .button--box:hover::before, .button--box:focus::before {
      background-color: #999999;
      background-color: rgba(0, 0, 0, 0.4);
      transform: translateX(0.1875em); }
  .button--box::before {
    background: url(/images/arrow--right.svg) no-repeat;
    background-position: 50%;
    background-size: 50%;
    background-color: #4b928e;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    content: "";
    display: block;
    height: 1em;
    position: absolute;
    right: 1em;
    top: 35%;
    transition: background-color 0.4s, transform 0.4s;
    width: 1em; }
  .button--box::after {
    content: "";
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 3em; }

.hide {
  display: none; }

.quote {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .quote:after {
    content: " ";
    display: block;
    clear: both; }
  @media (min-width: 50em) {
    .quote--left, .quote--right {
      width: 23.72881%;
      float: left;
      margin-right: 1.69492%; }
    .quote--content {
      width: 49.15254%;
      float: left;
      margin-right: 1.69492%; }
      .quote--content .fade {
        width: 100%;
        height: 45%;
        position: fixed;
        pointer-events: none; }
        .quote--content .fade.upper {
          top: 0;
          background: linear-gradient(to bottom, #f41a5c, rgba(244, 26, 92, 0)); }
        .quote--content .fade.lower {
          bottom: 0;
          margin-bottom: 6em;
          background: linear-gradient(to top, #f41a5c, rgba(244, 26, 92, 0)); }
    .quote--right {
      float: right;
      margin-right: 0; } }
  .quote--header {
    left: 1.5em;
    max-width: 30%;
    position: fixed;
    top: 1.5em; }
    .quote--header h1 {
      font-size: 36px; }
  .quote--footer {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #e91c59;
    border-top: 2px dotted #bb114a;
    bottom: 0;
    left: 0;
    max-height: 6em;
    padding: 0.75em 0;
    position: fixed;
    right: 0; }
    .quote--footer:after {
      content: " ";
      display: block;
      clear: both; }
    .quote--footer img {
      max-height: 2.5em; }
    .quote--footer__logo div {
      padding-left: 1.5em; }
    .quote--footer__progress {
      font-size: 24px; }
      .quote--footer__progress button {
        width: 100%; }
    @media (max-width: 49.99em) {
      .quote--footer__logo, .quote--footer__chat {
        display: none; }
      .quote--footer__progress {
        padding: 0 3em 0 1.5em; } }
    @media (min-width: 50em) {
      .quote--footer__logo, .quote--footer__chat {
        width: 32.20339%;
        float: left;
        margin-right: 1.69492%; }
      .quote--footer__progress {
        width: 32.20339%;
        float: left;
        margin-right: 1.69492%; }
      .quote--footer__chat {
        float: right;
        margin-right: 0; } }
    .quote--footer__chat div {
      padding-right: 1.5em;
      text-align: right; }
    .quote--footer__chat img {
      filter: drop-shadow(0 0 10px rgba(51, 51, 51, 0.6));
      max-width: 3em; }

.chat-window {
  background: white;
  padding: 1.5em; }
  .chat-window--bubble {
    background-color: #ccc;
    border-radius: 0.75em;
    color: black;
    margin-bottom: 1.5em;
    padding: 0.75em; }
    .chat-window--bubble:last-child {
      margin-bottom: 0; }

.progress {
  background: #bb114a;
  border: 16px solid #bb114a;
  border-radius: 0.75em;
  color: #f41a5c;
  width: 100%; }
  .progress-bar {
    background: #f41a5c;
    border: 8px solid #f41a5c;
    border-radius: 0.375em;
    height: 0.375em; }

.question {
  font-size: 24px;
  margin: 6em 0; }
  .question--input__error, .question--input__info {
    font-size: 16px;
    margin-top: 0.75em; }
  .question--input__error {
    color: #710a2c;
    font-weight: 600; }
  .question--input__text {
    margin-left: 0.375em; }
    .question--input__text input[type="email"], .question--input__text input[type="text"] {
      background: none;
      border: 0;
      border-bottom: 2px solid rgba(255, 255, 255, 0.6);
      font-weight: 600;
      width: 8em; }
      .question--input__text input[type="email"]::-webkit-input-placeholder, .question--input__text input[type="text"]::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.6); }
      .question--input__text input[type="email"]::-moz-placeholder, .question--input__text input[type="text"]::-moz-placeholder {
        color: rgba(255, 255, 255, 0.6); }
      .question--input__text input[type="email"]:-ms-input-placeholder, .question--input__text input[type="text"]:-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.6); }
      .question--input__text input[type="email"]:-moz-placeholder, .question--input__text input[type="text"]:-moz-placeholder {
        color: rgba(255, 255, 255, 0.6); }
  .question--input__text, .question--input__select {
    display: inline-block; }
  .question select,
  .question button {
    background: none;
    border: 2px #bb114a solid;
    border-radius: 0.1875em;
    color: white;
    margin: 0 0.375em;
    padding: 0 0.375em;
    transition: border 200ms ease-out; }
    .question select:hover,
    .question button:hover {
      border-color: #8c0d37; }
  .question button {
    padding: 8px 30px; }
  .question option {
    color: black; }
  .question .ok-btn-group {
    margin-top: 15px;
    font-size: 16px; }

/*# sourceMappingURL=main.css.map */
