.qtip {
  background: rgba(52, 63, 76, 0.9);
  border: none;
  font-size: 16px; }
  .qtip .qtip-tip canvas {
    color: rgba(52, 63, 76, 0.9); }
  .qtip-content {
    color: white;
    line-height: 1.1;
    padding: 1.5em; }

a,
body,
button,
input,
kbd,
select {
  color: white;
  font-family: "Hind Siliguri", Helvetica, Arial, sans-serif;
  font-weight: 300; }

body,
select {
  line-height: 1.65; }

button,
h1,
h2,
h3,
h4,
input,
table {
  line-height: 1.1; }

body {
  background: #f41a5c;
  font-size: 24px;
  padding: 1.5em; }
  @media (min-width: 50em) {
    body {
      padding: 3em; } }

a {
  border-color: white; }

div:focus,
input:focus,
main:focus,
section:focus {
  outline: none; }

h1,
h2,
h3,
h4 {
  font-weight: 300;
  margin: 0.375em 0; }

button,
select {
  cursor: pointer; }

b,
kbd,
strong {
  font-weight: 600; }

table {
  border-collapse: collapse;
  color: black;
  font-size: 16px; }
  table td {
    text-align: center; }
  table td,
  table th {
    background: #ebf0f4;
    border: 2px solid white;
    font-weight: 300;
    padding: 1.5em; }
    @media (min-width: 64.0625em) and (max-width: 85.365em) {
      table td,
      table th {
        padding: 0.75em; } }
    table td:first-child,
    table th:first-child {
      text-align: left; }
    table td p,
    table th p {
      margin: 0.375em 0; }
  table.table--1-col td,
  table.table--1-col th {
    width: 100%; }
  table.table--highlight-col-1 td:nth-child(1),
  table.table--highlight-col-1 th:nth-child(1) {
    background: #5db6b2;
    color: white; }
  table.table--2-col td,
  table.table--2-col th {
    width: 50%; }
  table.table--highlight-col-2 td:nth-child(2),
  table.table--highlight-col-2 th:nth-child(2) {
    background: #5db6b2;
    color: white; }
  table.table--3-col td,
  table.table--3-col th {
    width: 33.33333%; }
  table.table--highlight-col-3 td:nth-child(3),
  table.table--highlight-col-3 th:nth-child(3) {
    background: #5db6b2;
    color: white; }
  table.table--4-col td,
  table.table--4-col th {
    width: 25%; }
  table.table--highlight-col-4 td:nth-child(4),
  table.table--highlight-col-4 th:nth-child(4) {
    background: #5db6b2;
    color: white; }
  table.table--5-col td,
  table.table--5-col th {
    width: 20%; }
  table.table--highlight-col-5 td:nth-child(5),
  table.table--highlight-col-5 th:nth-child(5) {
    background: #5db6b2;
    color: white; }
  table.table--6-col td,
  table.table--6-col th {
    width: 16.66667%; }
  table.table--highlight-col-6 td:nth-child(6),
  table.table--highlight-col-6 th:nth-child(6) {
    background: #5db6b2;
    color: white; }

.button--box {
  border-color: #cccccc;
  border-color: rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  background-color: #5db6b2;
  border: 0;
  border-radius: .05em;
  box-shadow: 0 0 0 0.375em rgba(0, 0, 0, 0.2);
  color: white;
  display: inline-block;
  font-weight: 600;
  margin: 0 0.75em 0.75em 0;
  padding: 1em;
  padding-right: 12%;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.4s;
  vertical-align: middle; }
  .button--box:hover, .button--box:focus {
    box-shadow: 0 0 0 0.375em rgba(0, 0, 0, 0.4); }
    .button--box:hover::before, .button--box:focus::before {
      background-color: #999999;
      background-color: rgba(0, 0, 0, 0.4);
      transform: translateX(0.1875em); }
  .button--box::before {
    background: url(/images/arrow--right.svg) no-repeat;
    background-position: 50%;
    background-size: 50%;
    background-color: #4b928e;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    content: "";
    display: block;
    height: 1em;
    position: absolute;
    right: 1em;
    top: 35%;
    transition: background-color 0.4s, transform 0.4s;
    width: 1em; }
  .button--box::after {
    content: "";
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 3em; }
  .button--box__primary {
    background: #f41a5c; }
  .button--box__small {
    box-shadow: 0 0 0 0.375em rgba(0, 0, 0, 0.2);
    font-size: 16px;
    padding-right: 6em; }
    .button--box__small:hover, .button--box__small:focus {
      box-shadow: 0 0 0 0.375em rgba(0, 0, 0, 0.4); }

.highlight {
  color: #f41a5c; }

.pull--right {
  float: right; }

.width--full {
  width: 100%; }

.hide {
  display: none; }

.quote {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .quote:after {
    content: " ";
    display: block;
    clear: both; }
  @media (min-width: 50em) {
    .quote--gutter {
      width: 23.72881%;
      float: left;
      margin-right: 1.69492%; }
    .quote--content {
      width: 49.15254%;
      float: left;
      margin-right: 1.69492%; } }
  .quote--header {
    left: 1.5em;
    max-width: 30%;
    position: fixed;
    top: 1.5em; }
    .quote--header h1 {
      font-size: 36px; }
  .quote--footer {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #e91c59;
    border-top: 2px dotted #bb114a;
    bottom: 0;
    left: 0;
    max-height: 6em;
    padding: 0.75em 0;
    position: fixed;
    right: 0; }
    .quote--footer:after {
      content: " ";
      display: block;
      clear: both; }
    .quote--footer img {
      max-height: 2.5em; }
    .quote--footer__logo div {
      padding-left: 1.5em; }
    .quote--footer__progress {
      font-size: 24px; }
      .quote--footer__progress button {
        width: 100%; }
    @media (max-width: 49.99em) {
      .quote--footer__logo, .quote--footer__chat {
        display: none; }
      .quote--footer__progress {
        padding: 0 3em 0 1.5em; } }
    @media (min-width: 50em) {
      .quote--footer__logo, .quote--footer__chat {
        width: 32.20339%;
        float: left;
        margin-right: 1.69492%; }
      .quote--footer__progress {
        width: 32.20339%;
        float: left;
        margin-right: 1.69492%; }
      .quote--footer__chat {
        float: right;
        margin-right: 0; } }
    .quote--footer__chat div {
      padding-right: 1.5em;
      text-align: right; }
    .quote--footer__chat img {
      filter: drop-shadow(0 0 0.75em rgba(0, 0, 0, 0.4));
      cursor: pointer;
      max-width: 3em;
      transition: filter 0.4s ease-out; }
      .quote--footer__chat img:hover {
        filter: drop-shadow(0 0 0.75em rgba(0, 0, 0, 0.6)); }

.chat-window {
  filter: drop-shadow(0 0 0.75em rgba(0, 0, 0, 0.4));
  background: white;
  border-radius: 0.75em;
  bottom: 6em;
  line-height: 1.1;
  opacity: 1;
  overflow-y: auto;
  padding-top: 0.75em;
  position: fixed;
  right: 1.5em;
  transition: 0.4s opacity ease-out;
  top: 3em;
  width: 25%;
  z-index: 1; }
  .chat-window a {
    font-weight: 600; }
  .chat-window--bubble {
    display: flex;
    flex-direction: row;
    margin: 0 0.75em 0.75em; }
    .chat-window--bubble a {
      border-bottom: 2px dotted #f41a5c;
      color: #f41a5c;
      clear: right;
      display: inline-block;
      margin: 0.375em 0 0.75em;
      text-decoration: none;
      transition: color 0.2s ease-out, border-bottom 0.2s ease-out; }
      .chat-window--bubble a[href^='tel:'] {
        font-size: 36px; }
      .chat-window--bubble a:last-child {
        margin-bottom: 0.1875em; }
      .chat-window--bubble a:hover {
        border-bottom: 2px solid #bb114a;
        color: #bb114a; }
    .chat-window--bubble b,
    .chat-window--bubble strong {
      color: #f41a5c; }
    .chat-window--bubble__avatar, .chat-window--bubble__content {
      align-self: flex-end;
      display: block;
      justify-content: flex-end; }
    .chat-window--bubble__avatar img {
      max-width: 3em;
      width: 3em; }
    .chat-window--bubble__content {
      background-color: #ebf0f4;
      border-radius: 0.75em;
      color: black;
      margin-left: 0.375em;
      padding: 0 0.75em;
      white-space: pre-line;
      width: 100%; }
      .chat-window--bubble__content::after {
        border: solid transparent;
        border-bottom-color: #ebf0f4;
        border-width: 0.375em;
        bottom: 1.5em;
        content: " ";
        height: 0;
        margin-left: -1.1em;
        position: relative;
        width: 0; }
  .chat-window__hidden {
    opacity: 0; }
  @media (max-width: 49.99em) {
    .chat-window {
      font-size: 16px;
      line-height: 1.65;
      width: 50%; }
      .chat-window .chat-window--bubble a[href^='tel:'] {
        font-size: 24px; } }

.comparison-table thead tr th {
  border-bottom-width: 0;
  border-top-width: 0;
  padding-bottom: 0;
  padding-top: 0;
  vertical-align: top; }
  .comparison-table thead tr th .button--box {
    margin: 0; }

.comparison-table thead tr:first-child th {
  border-top-width: 2px;
  padding-top: 1.5em; }
  .comparison-table thead tr:first-child th:not(:first-child) p {
    font-size: 24px; }

.comparison-table thead tr:last-child th {
  border-bottom-width: 2px;
  padding-bottom: 1.5em; }

.comparison-table--available img {
  height: 1.5em;
  max-height: 1.5em; }

.comparison-table--label {
  width: 100%; }
  .comparison-table--label div {
    display: inline-block; }
  .comparison-table--label__icon {
    margin-right: 5%;
    width: 15%; }
    .comparison-table--label__icon img {
      max-height: 3em; }
  .comparison-table--label__text {
    width: 75%; }

.comparison-table--header {
  line-height: 1.1;
  margin-bottom: 1.5em;
  padding-bottom: 0; }
  .comparison-table--header--image, .comparison-table--header--text {
    display: inline-block; }
  .comparison-table--header--image {
    width: 35%; }
    .comparison-table--header--image img {
      width: 100%; }
  .comparison-table--header--text {
    width: 60%; }

.comparison-table--header, .comparison-table--single {
  background: #ebf0f4;
  color: black; }

.comparison-table--body, .comparison-table--header, .comparison-table--footer {
  font-size: 16px;
  padding: 0.75em; }

.comparison-table--row {
  border-bottom: 1px dotted black;
  padding: 0.375em 0; }
  .comparison-table--row:first-child {
    font-size: 24px;
    padding: 0; }

.comparison-table--footer {
  padding: 0 0.75em; }
  .comparison-table--footer p {
    margin: 0;
    margin-bottom: 0.75em; }

.comparison-table__highlight {
  background: #5db6b2;
  color: white; }
  .comparison-table__highlight .comparison-table--row {
    border-color: white; }

.comparison-table--header {
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: contain; }

.comparison-table--buy {
  padding: 0 0.375em 0.375em; }

.comparison-table .tooltip--link {
  color: #f41a5c; }

@media (max-width: 64.0525em) {
  table.comparison-table {
    display: none; } }

@media (min-width: 64.0625em) {
  div.comparison-table {
    display: none; } }

.fade--lower, .fade--upper {
  height: 40%;
  pointer-events: none;
  position: fixed;
  width: 100%; }

.fade--gutter {
  padding: 12.5% 0;
  pointer-events: none; }

.fade--lower {
  background: linear-gradient(to top, #f41a5c, rgba(244, 26, 92, 0));
  bottom: 0; }

.fade--upper {
  background: linear-gradient(to bottom, #f41a5c, rgba(244, 26, 92, 0));
  top: 0; }

@media (max-width: 49.99em) {
  .fade--lower, .fade--upper {
    height: 30%; }
  .fade--gutter {
    padding: 0; } }

.progress {
  background: #bb114a;
  border: 16px solid #bb114a;
  border-radius: 0.75em;
  color: #f41a5c;
  width: 100%; }
  .progress-bar {
    background: #f41a5c;
    border: 8px solid #f41a5c;
    border-radius: 0.375em;
    height: 0.375em; }

.question {
  font-size: 24px;
  margin: 6em 0; }
  .question--input__error, .question--input__info {
    font-size: 16px;
    margin-top: 0.75em; }
  .question--input__error {
    color: #710a2c;
    font-weight: 600; }
  .question--input__text {
    margin-left: 0.375em; }
    .question--input__text input[type="email"], .question--input__text input[type="text"] {
      background: none;
      border: 0;
      border-bottom: 2px solid rgba(255, 255, 255, 0.6);
      font-weight: 600;
      width: 8em; }
      .question--input__text input[type="email"]::-webkit-input-placeholder, .question--input__text input[type="text"]::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.6); }
      .question--input__text input[type="email"]::-moz-placeholder, .question--input__text input[type="text"]::-moz-placeholder {
        color: rgba(255, 255, 255, 0.6); }
      .question--input__text input[type="email"]:-ms-input-placeholder, .question--input__text input[type="text"]:-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.6); }
      .question--input__text input[type="email"]:-moz-placeholder, .question--input__text input[type="text"]:-moz-placeholder {
        color: rgba(255, 255, 255, 0.6); }
  .question--input__text, .question--input__select {
    display: inline-block; }
  .question select,
  .question button {
    background: none;
    border: 2px #bb114a solid;
    border-radius: 0.1875em;
    color: white;
    margin: 0 0.375em;
    padding: 0 0.375em;
    transition: border 0.2s ease-out; }
    .question select:hover,
    .question button:hover {
      border-color: #8c0d37; }
  .question button {
    padding: 8px 30px; }
  .question option {
    color: black; }
  .question .ok-btn-group {
    margin-top: 15px;
    font-size: 16px; }

.tooltip--link {
  cursor: pointer;
  text-decoration: underline; }

.tooltip--content {
  display: none; }

/*# sourceMappingURL=main.css.map */
